{% extends 'billing/billing.base.html.twig' %}

{% block content %}

	{% block header %}

		<div class="py-4 px-8 flex items-center justify-between space-x-4 bg-gray-100">
			<p class="font-semibold text-lg">{{ title }}</p>
			<a href="{{ path('billing_new_invoice') }}" class="flex items-center pl-3 pr-4 py-2 space-x-2 rounded-md bg-indigo-600 text-sm font-medium text-white hover:bg-indigo-700">
				{{ source('misc/svg/plus.svg') }}
				<span>Добавить</span>
			</a>
		</div>

	{% endblock %}

	<billing-settings inline-template>

		<div class="px-8">

			{% block control %}

				<div class="mt-6">
					<div class="flex justify-between">
						<div class="flex items-center text-sm text-gray-700">
							<a href="#" class="py-2 px-4 ring-1 ring-gray-300 rounded-l-md hover:bg-gray-50">Все</a>
							<a href="#" class="flex items-center ml-px py-2 pl-3 pr-4 space-x-2 ring-1 ring-gray-300 hover:bg-gray-50">
								{{ source('misc/svg/circles/red-400.svg') }}
								<span>Pending</span>
							</a>
							<a href="#" class="flex items-center ml-px py-2 pl-3 pr-4 space-x-2 ring-1 ring-gray-300 hover:bg-gray-50">
								{{ source('misc/svg/circles/green-400.svg') }}
								<span>Paid</span>
							</a>
							<div class="relative">
								<button type="button" class="ml-px py-2 px-3 ring-1 ring-gray-300 rounded-r-md hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
									{{ source('misc/svg/arrow.svg') }}
								</button>
								<ul class="dropdown text-sm">
									<li class="border-b border-gray-100">
										<button type="button" class="w-full py-3 px-5 text-left">
											<span class="text-gray-700 whitespace-nowrap">Все инвойсы</span>
										</button>
									</li>
									{% for val, css in invoice_statuses %}
										<li>
											<button type="button" class="flex items-center w-full py-3 px-5 space-x-4 ">
												<div class="h-2.5 w-2.5 rounded-full bg-{{ css }}-400"></div>
												<span class="text-gray-700 whitespace-nowrap">{{ val }}</span>
											</button>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>

						<div class="flex items-center space-x-2">
							<div class="w-[220px]">
								<div class="relative">
									<div class="pointer-events-none absolute inset-y-0 flex items-center pl-3">
										{{ source('misc/svg/search.svg') }}
									</div>
									<input class="inputs block w-full py-2 pl-10 pr-3 text-sm" placeholder="Поиск по Сумме" type="text">
								</div>
							</div>
							<button @click="billingInvoicesFilters()" type="button" class="inline-flex items-center py-2 pl-3 pr-4 space-x-2 rounded-md ring-1 ring-gray-300 hover:bg-gray-50">
								{{ source('misc/svg/filters.svg') }}
								<span class="text-gray-700 text-sm font-medium">Фильтры</span>
							</button>
						</div>
					</div>
				</div>

			{% endblock %}

			{% block table %}

				<div class="mt-4 min-w-full overflow-hidden overflow-x-auto border rounded-t-lg">

					<table class="min-w-full divide-y divide-gray-200">
						<thead>
						<tr class="bg-gray-50 border-b border-gray-300 text-sm">
							<th class="w-[110px] pl-6 pr-3 py-3 text-left font-medium">ID</th>
							<th class="w-[115px] p-3 text-left font-medium">Статус</th>
							<th class="p-3 text-left font-medium">Клиент</th>
							<th class="w-40 p-3 text-left font-medium whitespace-nowrap">Способ оплаты</th>
							<th class="w-[190px] p-3 text-left font-medium whitespace-nowrap">Дата выписки</th>
							<th class="w-[190px] p-3 text-left font-medium whitespace-nowrap">Оплатить до</th>
							<th class="w-[110px] pl-3 pr-6 text-right font-medium">Сумма</th>
						</tr>
						</thead>

						<tbody class="divide-y divide-gray-200 bg-white">

						{% for invoice in invoices %}
							<tr class="text-sm">
								<td class="pl-6 pr-3 py-4 text-left font-medium">
									<a {% if invoice.status == 'Draft' %}href="{{ path('billing_edit_draft') }}"{% else %}href="{{ path('invoice_overview', { status:invoice.status }) }}"{% endif %} class="hover:text-indigo-700">{{ invoice.id }}</a>
								</td>
								<td class="px-3 py-4 text-left">
									{% for val, css in invoice_statuses %}
										{% if invoice.status == val %}
											<span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-{{ css }}-100 text-{{ css }}-800">{{ val }}</span>
										{% endif %}
									{% endfor %}
								</td>
								<td class="px-3 py-4 text-left">
									<a href="{{ path('overview') }}" class="font-medium hover:text-indigo-700">
										<p class="w-40 min-w-full truncate">{{ invoice.client }}</p>
									</a>
								</td>
								<td class="px-3 py-4 text-left">{{ invoice.payment }}</td>
								<td class="px-3 py-4 text-left truncate">{{ invoice.excerpt }}</td>
								<td class="px-3 py-4 text-left truncate">{{ invoice.paydate }}</td>
								<td class="pl-3 pr-6 py-4 text-right">${{ invoice.amount|number_format(2, '.', '') }}</td>
							</tr>
						{% endfor %}

						</tbody>
					</table>
				</div>

				{% include 'parts/pagination.html.twig' %}

			{% endblock %}

		</div>

	</billing-settings>

	{% block modals %}
		{% include 'billing/modals/billing.invoices.filters.html.twig' %}
	{% endblock %}

{% endblock %}
