{% extends 'billing/billing.base.html.twig' %}

{% set icons = [
	{'type': 1, 'title': 'Оплаченный инвойс', 'src': 'misc/svg/transaction/paid.svg'},
	{'type': 2, 'title': 'Неоплаченный инвойс', 'src': 'misc/svg/transaction/not_paid.svg'},
	{'type': 3, 'title': 'Отменённый инвойс', 'src': 'misc/svg/transaction/cancelled.svg'},
	{'type': 4, 'title': 'Платёж несуществующий', 'src': 'misc/svg/transaction/no_payment.svg'},
	{'type': 5, 'title': 'Несуществующий инвойс', 'src': 'misc/svg/transaction/no_invoice.svg'},
	{'type': 6, 'title': 'Задан клиент', 'src': 'misc/svg/transaction/client.svg'},
	{'type': 7, 'title': 'Оплата без инвойса', 'src': 'misc/svg/transaction/paid_no_invoice.svg'},
	{'type': 8, 'title': 'Нет информации', 'src': 'misc/svg/transaction/no_info.svg'},
] %}

{% block content %}

	<billing-settings inline-template>

		<div>

			{% block header %}

				<div class="flex items-center justify-between py-4 px-8 bg-gray-50">
					<h3 class="text-lg font-semibold">{{ title }}</h3>
					<button @click="billingAddTransaction()" type="button" class="inline-flex items-center py-2 pl-3 pr-4 space-x-2 rounded-md bg-indigo-600 hover:bg-indigo-700">
						{{ source('misc/svg/plus.svg') }}
						<span class="text-white text-sm font-medium">Добавить</span>
					</button>
				</div>

			{% endblock %}

			{% block control %}

				<div class="flex justify-between pt-6 px-8">
					<nav class="flex items-center text-sm text-gray-700 font-medium">
						<a href="#" class="py-2 px-4 ring-1 ring-gray-300 rounded-l-md hover:bg-gray-50">Все</a>
						<a href="#" class="ml-px py-2 px-4 ring-1 ring-gray-300 hover:bg-gray-50">Все входящие</a>
						<a href="#" class="ml-px py-2 px-4 ring-1 ring-gray-300 hover:bg-gray-50">Все исходящие</a>
						<div class="ml-px relative">
							<button type="button" class="p-2 ring-1 ring-gray-300 rounded-r-md hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
								{{ source('misc/svg/arrow.svg') }}
							</button>

							<ul class="dropdown right-0 w-[280px] text-sm">
								<li>
									<button type="button" class="w-full py-2 px-4 text-gray-700 text-left">Незасчитанные и замороженные</button>
								</li>
								{% for val, css in transaction_filter %}
								<li>
									<button type="button" class="w-full flex items-center py-2 px-4 space-x-3 text-gray-700 text-left">
										<span class="h-2.5 w-2.5 bg-{{ css }}-400 rounded-full"></span>
										<span>{{ val }}</span>
									</button>
								</li>
								{% endfor %}
							</ul>
						</div>
					</nav>

					<div class="flex items-center space-x-2">
						<div class="relative w-[220px]">
							<div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
								{{ source('misc/svg/search.svg') }}
							</div>
							<input class="inputs block w-full py-2 pl-10 pr-3 text-sm" placeholder="Поиск по UID и Сумме" type="text">
						</div>
						<button @click="billingTransactionsFilters()" type="button" class="inline-flex items-center py-2 pl-3 pr-4 space-x-2 rounded-md ring-1 ring-gray-300 hover:bg-gray-50">
							{{ source('misc/svg/filters.svg') }}
							<span class="text-sm text-gray-700 font-medium">Фильтры</span>
						</button>
					</div>
				</div>

			{% endblock %}

			{% block table %}

				<div class="py-4 px-8">
					<div class="min-w-full overflow-hidden overflow-x-auto border rounded-t-lg">

						<table class="min-w-full divide-y">
							<thead>
							<tr class="bg-gray-50 text-sm border-b border-gray-300">
								<th class="w-[130px] p-3 pl-6 text-left font-medium">UID</th>
								<th class="w-[190px] p-3 text-left font-medium">Дата</th>
								<th class="w-[110px] p-3 text-left font-medium">Инвойс</th>
								<th class="w-[168px] p-3 text-left font-medium">Клиент</th>
								<th class="w-[130px] p-3 text-left font-medium truncate">Метод оплаты</th>
								<th class="w-[120px] p-3 text-right font-medium">Сумма</th>
								<th class="w-[168px] p-3 text-left font-medium">Статус</th>
								<th class="p-3 pr-6 text-left font-medium">Детали</th>
							</tr>
							</thead>
							<tbody class="divide-y bg-white">

							{% for item in transactions %}

								<tr class="text-sm">
									<td class="py-4 pl-6 pr-3">
										<a href="#" class="font-medium hover:text-indigo-700">
											<p class="w-14 min-w-full truncate" title="{{ item.id }}">{{ item.id }}</p>
										</a>
									</td>
									<td class="whitespace-nowrap py-4 px-3 text-gray-500 cursor-default">{{ item.date }}</td>
									<td class="whitespace-nowrap popover__wrapper relative flex items-center py-4 px-3 space-x-2">
										{% for i in icons %}
											{% if item.invoice_type == i.type %}
												{{ source( i.src ) }}
												<div class="popover__left bottom-[50px] -left-1.5 w-fit py-2 px-3 bg-gray-800 text-gray-100 text-xs font-medium rounded-lg whitespace-nowrap">
													<p>{{ i.title }}</p>
												</div>
											{% endif %}
										{% endfor %}
										<span class="text-gray-500 {% if item.invoice_type == 7 %}text-gray-400{% endif %} cursor-default">{{ item.invoice }}</span>
									</td>
									<td class="py-4 px-3">
										<a href="{{ path('overview') }}" class="font-medium hover:text-indigo-700">
											<p class="w-36 truncate">{{ item.client }}</p>
										</a>
									</td>
									<td class="py-4 px-3 text-gray-500 cursor-default">
										<p class="w-[106px] truncate">{{ item.method }}</p>
									</td>
									<td>
										<div class="flex items-center justify-end px-3 space-x-2">
											{% if item.refund %}
											<div class="popover__wrapper relative">
												{{ source('misc/svg/transaction/refund.svg') }}
												<div class="popover__left bottom-9 -left-[9px] w-fit py-2 px-3 bg-gray-800 text-gray-100 text-xs font-medium rounded-lg whitespace-nowrap">
													<p>Был возврат средств</p>
												</div>
											</div>
											{% endif %}

											<button @click="billingTransactionsDetails({{ item.details.id }})" type="button" class="flex items-center text-sm font-medium hover:text-indigo-700">
												<span>${{ item.amount|number_format(2, '.', '') }}</span>
											</button>
										</div>
									</td>
									<td class="py-4 px-3 cursor-default">
										{% for val, css in transaction_statuses %}
											{% if item.status == val %}
												<span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-{{ css }}-{% if val == 'Возвращена' %}200{% else %}100{% endif %} text-{{ css }}-800 whitespace-nowrap">{{ val }}</span>
											{% endif %}
										{% endfor %}
									</td>
									<td class="py-4 pl-3 pr-6 text-gray-500 font-medium cursor-default">
										<p class="w-14 min-w-full truncate" title="{{ item.details.name }}">{{ item.details.name }}</p>
									</td>
								</tr>

							{% endfor %}

							</tbody>
						</table>

					</div>

					{% include 'parts/pagination.html.twig' %}

				</div>

			{% endblock %}

			{% block modals %}
				{% include 'billing/modals/billing.add.transaction.html.twig' %}
				{% include 'billing/modals/billing.transactions.filters.html.twig' %}
				{% include 'billing/modals/billing.transactions.details.html.twig' %}
				{% include 'billing/modals/biling.transactions.details.refund.html.twig' %}
			{% endblock %}

		</div>

	</billing-settings>

{% endblock %}
