{% extends 'billing/billing.base.html.twig' %}

{% block content %}

	<billing-settings inline-template>

		<div>

			{% block header %}

				<div class="bg-gray-50 mx-auto px-4 sm:px-6 lg:px-8">
					<div class="flex py-4 justify-between">
						<div class="flex items-center font-semibold text-lg">
							{{ title }}
						</div>
						<div class="flex items-center">
							<div class="flex-shrink-0">
								<button @click="billingAddTransaction()" type="button" class="relative inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-[9px] text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
									<svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
										<path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"/>
									</svg>
									<span>Добавить</span>
								</button>
							</div>
						</div>
					</div>
				</div>

			{% endblock %}

			{% block control %}

				<div class="mt-4 mx-auto px-4 sm:px-6 lg:px-8">
					<div class="flex h-12 mb-4 justify-between">
						<div class="flex items-center">
							<nav class="flex items-center w-64 truncate lg:w-full text-sm text-gray-700">
								<a href="#" class="py-[9px] px-[13px] border rounded-l-md focus:text-indigo-500 focus:bg-indigo-50 focus:border-indigo-500">Все входящие</a>
								<a href="#" class="py-[9px] px-[13px] border focus:text-indigo-500 focus:bg-indigo-50 focus:border-indigo-500">Все исходящие</a>
								<a href="#" class="py-[9px] px-[13px] border focus:text-indigo-500 focus:bg-indigo-50 focus:border-indigo-500">Игнорируются и заморожены</a>
								<a href="#" class="py-[9px] px-[13px] border focus:text-indigo-500 focus:bg-indigo-50 focus:border-indigo-500">Все</a>
								<div>
									<button type="button" class="py-[9px] px-[13px] border rounded-r-md focus:bg-indigo-50 focus:border-indigo-500" aria-expanded="false" aria-expanded-autohide>
										<svg class="pointer-events-none" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M5.23017 7.20938C5.52875 6.92228 6.00353 6.93159 6.29063 7.23017L10 11.1679L13.7094 7.23017C13.9965 6.93159 14.4713 6.92228 14.7698 7.20938C15.0684 7.49647 15.0777 7.97125 14.7906 8.26983L10.5406 12.7698C10.3992 12.9169 10.204 13 10 13C9.79599 13 9.60078 12.9169 9.45938 12.7698L5.20938 8.26983C4.92228 7.97125 4.93159 7.49647 5.23017 7.20938Z" fill="#6B7280"/>
										</svg>
									</button>
									<ul class="absolute z-10 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm">
										<li class="border-b border-gray-100">
											<button type="button" class="w-full py-3 px-5 text-left hover:bg-gray-100">
												<span class="text-gray-700 whitespace-nowrap">Все транзакции</span>
											</button>
										</li>
										{% for i in statuses %}
											<li>
												<button type="button" class="w-full py-3 px-5 hover:bg-gray-100 text-left">
													<span class="text-gray-700 whitespace-nowrap">{{ i.val }}</span>
												</button>
											</li>
										{% endfor %}
									</ul>
								</div>
							</nav>
						</div>

						<div class="flex items-center space-x-2">
							<div class="w-48 max-w-lg lg:max-w-xs">
								<div class="relative">
									<div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-[13px]">
										<svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
											<path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
										</svg>
									</div>
									<input name="search" class="block w-full rounded-md border border-gray-300 bg-white py-[9px] pl-10 pr-3 leading-5 placeholder-gray-400 focus:border-indigo-500 focus:placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-indigo-500 sm:text-sm" placeholder="Поиск по сумме" type="search">
								</div>
							</div>
							<button @click="billingTransactionsFilters()" type="button" class="inline-flex items-center rounded-md border border-gray-300 pl-[15px] pr-[17px] py-[9px] shadow-sm hover:bg-gray-50 focus:border-indigo-500">
								<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M4.47102 3.46746C6.27039 3.15991 8.11739 3 10 3C11.8826 3 13.7296 3.15991 15.529 3.46746C15.8007 3.51389 16 3.75747 16 4.04302V5.8223C16 6.28643 15.8222 6.73155 15.5057 7.05974L11.9943 10.7013C11.6778 11.0295 11.5 11.4746 11.5 11.9387V14.3004C11.5 14.832 11.267 15.3348 10.8667 15.6669L9.41389 16.8722C9.24505 17.0122 9.01372 17.0396 8.81883 16.9424C8.62394 16.8453 8.5 16.6409 8.5 16.4167V11.9387C8.5 11.4746 8.32221 11.0295 8.00574 10.7013L4.49426 7.05974C4.17779 6.73155 4 6.28643 4 5.8223V4.04302C4 3.75747 4.19934 3.51389 4.47102 3.46746Z" fill="#6B7280"/>
								</svg>
								<span class="ml-2 text-sm text-gray-700">Фильтры</span>
							</button>
						</div>
					</div>
				</div>

			{% endblock %}

			{% block table %}

				<div class="hidden sm:block">
					<div class="mx-auto px-4 sm:px-6 lg:px-8">
						<div class="mt-2 flex flex-col">
							<div class="min-w-full overflow-hidden overflow-x-auto align-middle shadow sm:rounded-lg">

								<table class="min-w-full divide-y divide-gray-200">
									<thead>
									<tr class="bg-gray-50 text-gray-900 text-sm border border-t">
										<th class="px-6 py-3 text-left font-medium" scope="col">ID</th>
										<th class="px-6 py-3 text-left font-medium" scope="col">Дата</th>
										<th class="px-6 py-3 text-left font-medium" scope="col">Инвойс</th>
										<th class="px-6 py-3 text-left font-medium" scope="col">Клиент</th>
										<th class="px-6 py-3 text-left font-medium" scope="col">Метод оплаты</th>
										<th class="px-6 py-3 text-right font-medium" scope="col">Сумма</th>
										<th class="px-6 py-3 text-left font-medium" scope="col">Статус</th>
										<th class="px-6 py-3" scope="col"></th>
									</tr>
									</thead>
									<tbody class="divide-y divide-gray-200 bg-white">

									{% for item in transactions %}

										<tr class="text-sm">
											<td class="whitespace-nowrap pl-6 py-4">
												<a href="#" class="font-medium hover:text-indigo-700">#{{ item.id }}</a>
											</td>
											<td class="whitespace-nowrap px-6 py-4 text-gray-500">{{ item.date }}</td>
											<td class="whitespace-nowrap flex px-6 py-4 space-x-2">
												{% for i in transactoinsImgs() %}
													{% if item.invoice_type == i.type %}
														{{ i.img|raw }}
													{% endif %}
												{% endfor %}
												<span class="text-gray-500 cursor-default">#{{ item.invoice }}</span>
											</td>
											<td class="whitespace-nowrap px-6 py-4">
												<a href="{{ path('overview') }}" class="text-gray-500 hover:text-indigo-700">{{ item.client }}</a>
											</td>
											<td class="whitespace-nowrap px-6 py-4 text-gray-500">
												{{ item.method }}
											</td>
											<td class="whitespace-nowrap px-6 py-4 text-gray-500 text-right">
												${{ item.amount|number_format(2, '.', '') }}
											</td>
											<td class="px-6 py-4">
												{% for i in statuses %}
													{% if item.status == i.val %}
														<span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-{{ i.color }}-100 text-{{ i.color }}-800">{{ i.val }}</span>
													{% endif %}
												{% endfor %}
											</td>
											<td class="whitespace-nowrap px-6 py-4">
												<button @click="billingTransactionsDetails()" type="button" class="flex items-center">
													<svg class="text-gray-500 hover:text-indigo-700" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path fill-rule="evenodd" clip-rule="evenodd" d="M18 10C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10ZM11 6C11 6.55228 10.5523 7 10 7C9.44771 7 9 6.55228 9 6C9 5.44772 9.44771 5 10 5C10.5523 5 11 5.44772 11 6ZM9 9C8.58579 9 8.25 9.33579 8.25 9.75C8.25 10.1642 8.58579 10.5 9 10.5H9.25338C9.41332 10.5 9.53213 10.6481 9.49743 10.8042L9.03829 12.8704C8.79542 13.9633 9.62706 15 10.7466 15H11C11.4142 15 11.75 14.6642 11.75 14.25C11.75 13.8358 11.4142 13.5 11 13.5H10.7466C10.5867 13.5 10.4679 13.3519 10.5026 13.1958L10.9617 11.1296C11.2046 10.0367 10.3729 9 9.25338 9H9Z" fill="currentColor"/>
													</svg>
												</button>
											</td>
										</tr>

									{% endfor %}

									</tbody>
								</table>

								<div class="flex items-center justify-between border-t border-gray-200 bg-gray-50 px-4 py-4 sm:px-6">
									<div class="flex flex-1 justify-between sm:hidden">
										<a href="#" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Previous</a>
										<a href="#" class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Next</a>
									</div>
									<div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
										<div>
											<nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
												<a href="#" class="relative inline-flex items-center rounded-l-md border border-gray-300 bg-white px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">
													<span class="sr-only">Previous</span>
													<svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
														<path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
													</svg>
												</a>
												<a href="#" aria-current="page" class="relative z-10 inline-flex items-center border border-indigo-500 bg-indigo-50 px-4 py-2 text-sm font-medium text-indigo-600 focus:z-20">1</a>
												<a href="#" class="relative inline-flex items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">2</a>
												<a href="#" class="relative hidden items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20 md:inline-flex">3</a>
												<span class="relative inline-flex items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700">...</span>
												<a href="#" class="relative hidden items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20 md:inline-flex">8</a>
												<a href="#" class="relative inline-flex items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">9</a>
												<a href="#" class="relative inline-flex items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">10</a>
												<a href="#" class="relative inline-flex items-center rounded-r-md border border-gray-300 bg-white px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">
													<span class="sr-only">Next</span>
													<svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
														<path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
													</svg>
												</a>
											</nav>
										</div>
										<div class="flex items-center">
											<p class="text-sm font-medium text-gray-500">1 - 8 из 97</p>
											<div class="flex lg:ml-6">
												<select class="relative inline-flex items-center rounded-md border border-gray-300 pl-3 pr-9 py-2 text-sm text-gray-900">
													{% for i in 1..4 %}
														<option>{{ i * 25 }}</option>
													{% endfor %}
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			{% endblock %}

			{% block modals %}
				{% include 'billing/modals/billing.add.transaction.html.twig' %}
				{% include 'billing/modals/billing.transactions.filters.html.twig' %}
				{% include 'billing/modals/billing.transactions.details.html.twig' %}
				{% include 'billing/modals/biling.transactions.details.refund.html.twig' %}
			{% endblock %}

		</div>

	</billing-settings>

{% endblock %}