{% extends 'billing/billing.base.html.twig' %}

{% set side_menu_item = 'billing:payments' %}

{% block content %}

	<billing-settings inline-template>

		<div>

			<div class="py-4 px-8 bg-gray-50 border-b">
				<h3 class="text-lg font-semibold leading-9">{{ title }}</h3>
			</div>

			<div class="flex pt-6 px-8 space-x-3">
				<div class="relative">
					<input @click="inputSearch()" id="clientID" class="inputs w-64 text-sm" placeholder="Email или ID клиента" type="text" aria-expanded="false" aria-expanded-autohide>

					<ul id="userList" class="dropdown w-64 max-h-48 overflow-auto">
						{% for i in transactions %}
							<li>
								<button type="button" class="flex items-center w-full py-2 px-4 space-x-3" title="{{ i.client }} {{ i.invoice }}">
									<span class="text-gray-700 text-sm truncate">{{ i.client }}</span>
									<span class="text-gray-500 text-sm">{{ i.invoice }}</span>
								</button>
							</li>
						{% endfor %}
					</ul>
				</div>

				<input type="text" class="w-40 inputs text-sm" placeholder="Payment ID">
				<input type="text" class="w-40 inputs text-sm" placeholder="Основной инвойс">
				<input type="text" class="w-40 inputs text-sm" placeholder="UID транзакции">
			</div>

			{% block table %}

				<div class="py-4 px-8">
					<div class="min-w-full overflow-hidden overflow-x-auto ring-1 ring-gray-200 rounded-t-lg">

						<table class="min-w-full">
							<thead>
							<tr class="bg-gray-50 text-sm border-b border-gray-300">
								<th class="w-[92px] p-3 pl-6 text-left font-medium truncate">Pay ID</th>
								<th class="w-[191px] p-3 text-left font-medium">Дата</th>
								<th class="w-[176px] p-3 text-left font-medium">Клиент</th>
								<th class="w-[112px] p-3 text-left font-medium">Сумма</th>
								<th class="w-[136px] p-3 text-left font-medium truncate">Способ оплаты</th>
								<th class="p-3 text-left font-medium">Описание</th>
								<th class="w-[114px] p-3 pr-6 text-left font-medium">Статус</th>
							</tr>
							</thead>
							<tbody class="divide-y">

							{% for i in payments %}

								<tr class="text-sm">
									<td class="py-4 pl-6 pr-3 text-gray-500">{{ i.id }}</td>
									<td class="whitespace-nowrap py-4 px-3 text-gray-500 cursor-default">{{ i.date }}, {{ i.time }} ({{ i.loc }})</td>
									<td class="py-4 px-3">
										<a href="{{ path('overview') }}" class="font-medium truncate hover:text-indigo-700">{{ i.client }}</a>
									</td>
									<td class="py-4 px-3 text-gray-500 cursor-default">${{ i.amount|number_format(2, '.', '') }}</td>
									<td class="py-4 px-3 text-gray-500 cursor-default">{{ i.paymethod }}</td>
									<td class="py-4 px-3 cursor-default">
										{% if i.description.type == 'balance' %}
										<p class="text-gray-500">Пополнение баланса</p>
										{% else %}
										<p class="line-clamp-1 overflow-hidden">
											<span class="text-gray-500">Основной инвойс: </span>
											<a href="{{ path('invoice_overview') }}" class="font-medium hover:text-indigo-700">{{ i.description.invoice }}</a>
										</p>
										<p class="w-48 min-w-full text-gray-500 line-clamp-1 overflow-hidden" title="Основной инвойс: {{ i.description.invoice }}{% for j in i.description.details %}&#10;{{ j }}{% endfor %}">{{ i.description.details|first }}</p>
										{% endif %}
									</td>
									<td class="py-4 pl-3 pr-6 text-gray-500 font-medium cursor-default">
										{% for val, css in payment_statuses %}
											{% if i.status == val %}
												<span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-{{ css }}-{% if css == 'orange' %}200{% else %}100{% endif %} text-{{ css }}-800 whitespace-nowrap">{{ val }}</span>
											{% endif %}
										{% endfor %}
									</td>
								</tr>

							{% endfor %}

							</tbody>
						</table>
					</div>

					{% include 'parts/pagination.html.twig' %}

				</div>

			{% endblock %}

			{% block modals %}

			{% endblock %}

		</div>

	</billing-settings>

{% endblock %}
