{% extends 'billing/billing.base.html.twig' %}

{% block content %}

	{% block header %}

		<div class="bg-gray-50 py-4 px-8 space-y-2">
			<nav class="flex items-center space-x-4 text-sm text-gray-500 font-medium">
				<a href="{{ path('billing_invoices') }}">Инвойсы</a>
				<svg width="20" height="20" viewBox="0 -1 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M7.29289 14.7071C6.90237 14.3166 6.90237 13.6834 7.29289 13.2929L10.5858 10L7.29289 6.70711C6.90237 6.31658 6.90237 5.68342 7.29289 5.29289C7.68342 4.90237 8.31658 4.90237 8.70711 5.29289L12.7071 9.29289C13.0976 9.68342 13.0976 10.3166 12.7071 10.7071L8.70711 14.7071C8.31658 15.0976 7.68342 15.0976 7.29289 14.7071Z" fill="#9CA3AF"/>
				</svg>
				<span>Инвойс {{ data.invoice_id }}</span>
			</nav>
			<div class="h-9 flex items-center">
				<div class="flex items-center space-x-4">
					<span class="font-semibold text-lg">{{ title }} {{ data.invoice_id }}</span>
					<span class="inline-flex items-center px-3 py-0.5 rounded-xl text-sm font-medium bg-purple-100 text-purple-800">{{ data.invoice_status }}</span>
				</div>
			</div>
		</div>

	{% endblock %}

	<billing-settings inline-template>
		<div class="py-6 px-8">
			<form class="space-y-10">

				<div class="space-y-5">
					<div class="flex items-center space-x-6">
						<p class="w-[344px] text-gray-700 text-sm font-medium">Клиент</p>
						<div class="relative">
							<button type="button" class="w-80 flex justify-between py-2 px-3 rounded-md border border-gray-300 shadow-sm text-left shadow-sm hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
								<p class="pointer-events-none text-gray-900 text-sm">valeriy-burdalayba@email.com</p>
								<svg class="arrow pointer-events-none" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 7.29289C5.68342 6.90237 6.31658 6.90237 6.7071 7.29289L9.99999 10.5858L13.2929 7.29289C13.6834 6.90237 14.3166 6.90237 14.7071 7.29289C15.0976 7.68342 15.0976 8.31658 14.7071 8.70711L10.7071 12.7071C10.3166 13.0976 9.68341 13.0976 9.29289 12.7071L5.29289 8.70711C4.90237 8.31658 4.90237 7.68342 5.29289 7.29289Z" fill="#9CA3AF"/>
								</svg>
							</button>

							<ul class="absolute z-10 top-10 py-1 w-full max-h-72 overflow-auto rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none text-sm">
							{% for i in allClients() %}
								<li>
									<button type="button" class="w-full py-2 px-4 text-gray-700 text-left hover:bg-gray-100">{{ i.email }}</button>
								</li>
							{% endfor %}
							</ul>
						</div>
					</div>

					<hr>

					<div class="flex items-center space-x-6">
						<p class="w-[344px] text-gray-700 text-sm font-medium">Тариф</p>
						<div class="relative">
							<button type="button" class="w-80 flex justify-between py-2 px-3 rounded-md border border-gray-300 shadow-sm text-left shadow-sm hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
								<p class="pointer-events-none text-gray-900 text-sm truncate">5453 - Lite - Linux SSD NL ($5.00 Monthly)</p>
								<svg class="arrow pointer-events-none" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 7.29289C5.68342 6.90237 6.31658 6.90237 6.7071 7.29289L9.99999 10.5858L13.2929 7.29289C13.6834 6.90237 14.3166 6.90237 14.7071 7.29289C15.0976 7.68342 15.0976 8.31658 14.7071 8.70711L10.7071 12.7071C10.3166 13.0976 9.68341 13.0976 9.29289 12.7071L5.29289 8.70711C4.90237 8.31658 4.90237 7.68342 5.29289 7.29289Z" fill="#9CA3AF"/>
								</svg>
							</button>

							{% set plans = ['Plan 111', 'Plan 112', 'Plan 113'] %}
							<ul class="absolute z-10 top-10 py-1 w-full max-h-72 overflow-auto rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none text-sm">
								<li>
									<button type="button" class="w-full py-2 px-4 text-gray-900 font-semibold text-left bg-gray-50 truncate hover:bg-gray-100">5453 - Lite - Linux SSD NL ($5.00 Monthly)</button>
								</li>
								{% for i in plans %}
									<li>
										<button type="button" class="w-full py-2 px-4 text-gray-700 text-left hover:bg-gray-100">{{ i }}</button>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>

					<hr>

					<div class="flex items-center space-x-6">
						<p class="w-[344px] text-gray-700 text-sm font-medium">Срок оплаты</p>
						<div class="relative w-80">
							<input class="block w-full text-gray-900 text-sm rounded-md border border-gray-300 shadow-sm py-2 pl-3 pr-10 placeholder-gray-400" placeholder="Дата оплаты" value="31/12/2023" type="text">
							<div class="absolute inset-y-0 right-3 flex items-center">
								<button type="button">
									<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
										<path d="M5.25 12C5.25 11.5858 5.58579 11.25 6 11.25H6.01C6.42421 11.25 6.76 11.5858 6.76 12V12.01C6.76 12.4242 6.42421 12.76 6.01 12.76H6C5.58579 12.76 5.25 12.4242 5.25 12.01V12Z" fill="#9CA3AF"/>
										<path d="M6 13.25C5.58579 13.25 5.25 13.5858 5.25 14V14.01C5.25 14.4242 5.58579 14.76 6 14.76H6.01C6.42421 14.76 6.76 14.4242 6.76 14.01V14C6.76 13.5858 6.42421 13.25 6.01 13.25H6Z" fill="#9CA3AF"/>
										<path d="M7.25 12C7.25 11.5858 7.58579 11.25 8 11.25H8.01C8.42421 11.25 8.76 11.5858 8.76 12V12.01C8.76 12.4242 8.42421 12.76 8.01 12.76H8C7.58579 12.76 7.25 12.4242 7.25 12.01V12Z" fill="#9CA3AF"/>
										<path d="M8 13.25C7.58579 13.25 7.25 13.5858 7.25 14V14.01C7.25 14.4242 7.58579 14.76 8 14.76H8.01C8.42421 14.76 8.76 14.4242 8.76 14.01V14C8.76 13.5858 8.42421 13.25 8.01 13.25H8Z" fill="#9CA3AF"/>
										<path d="M9.25 10C9.25 9.58579 9.58579 9.25 10 9.25H10.01C10.4242 9.25 10.76 9.58579 10.76 10V10.01C10.76 10.4242 10.4242 10.76 10.01 10.76H10C9.58579 10.76 9.25 10.4242 9.25 10.01V10Z" fill="#9CA3AF"/>
										<path d="M10 11.25C9.58579 11.25 9.25 11.5858 9.25 12V12.01C9.25 12.4242 9.58579 12.76 10 12.76H10.01C10.4242 12.76 10.76 12.4242 10.76 12.01V12C10.76 11.5858 10.4242 11.25 10.01 11.25H10Z" fill="#9CA3AF"/>
										<path d="M9.25 14C9.25 13.5858 9.58579 13.25 10 13.25H10.01C10.4242 13.25 10.76 13.5858 10.76 14V14.01C10.76 14.4242 10.4242 14.76 10.01 14.76H10C9.58579 14.76 9.25 14.4242 9.25 14.01V14Z" fill="#9CA3AF"/>
										<path d="M12 9.25C11.5858 9.25 11.25 9.58579 11.25 10V10.01C11.25 10.4242 11.5858 10.76 12 10.76H12.01C12.4242 10.76 12.76 10.4242 12.76 10.01V10C12.76 9.58579 12.4242 9.25 12.01 9.25H12Z" fill="#9CA3AF"/>
										<path d="M11.25 12C11.25 11.5858 11.5858 11.25 12 11.25H12.01C12.4242 11.25 12.76 11.5858 12.76 12V12.01C12.76 12.4242 12.4242 12.76 12.01 12.76H12C11.5858 12.76 11.25 12.4242 11.25 12.01V12Z" fill="#9CA3AF"/>
										<path d="M12 13.25C11.5858 13.25 11.25 13.5858 11.25 14V14.01C11.25 14.4242 11.5858 14.76 12 14.76H12.01C12.4242 14.76 12.76 14.4242 12.76 14.01V14C12.76 13.5858 12.4242 13.25 12.01 13.25H12Z" fill="#9CA3AF"/>
										<path d="M13.25 10C13.25 9.58579 13.5858 9.25 14 9.25H14.01C14.4242 9.25 14.76 9.58579 14.76 10V10.01C14.76 10.4242 14.4242 10.76 14.01 10.76H14C13.5858 10.76 13.25 10.4242 13.25 10.01V10Z" fill="#9CA3AF"/>
										<path d="M14 11.25C13.5858 11.25 13.25 11.5858 13.25 12V12.01C13.25 12.4242 13.5858 12.76 14 12.76H14.01C14.4242 12.76 14.76 12.4242 14.76 12.01V12C14.76 11.5858 14.4242 11.25 14.01 11.25H14Z" fill="#9CA3AF"/>
										<path fill-rule="evenodd" clip-rule="evenodd" d="M5.75 2C6.16421 2 6.5 2.33579 6.5 2.75V4H13.5V2.75C13.5 2.33579 13.8358 2 14.25 2C14.6642 2 15 2.33579 15 2.75V4H15.25C16.7688 4 18 5.23122 18 6.75V15.25C18 16.7688 16.7688 18 15.25 18H4.75C3.23122 18 2 16.7688 2 15.25V6.75C2 5.23122 3.23122 4 4.75 4H5V2.75C5 2.33579 5.33579 2 5.75 2ZM4.75 7.5C4.05964 7.5 3.5 8.05964 3.5 8.75V15.25C3.5 15.9404 4.05964 16.5 4.75 16.5H15.25C15.9404 16.5 16.5 15.9404 16.5 15.25V8.75C16.5 8.05964 15.9404 7.5 15.25 7.5H4.75Z" fill="#9CA3AF"/>
									</svg>
								</button>
							</div>
						</div>
					</div>

					<hr>

					<div class="flex items-center space-x-6">
						<div class="w-[344px] space-y-1">
							<p class="text-gray-700 text-sm font-medium">Описание</p>
							<p class="text-gray-500 text-xs">Отображается клиенту</p>
						</div>
						<textarea class="w-80 py-2 px-3 rounded-md border border-gray-300 shadow0sm text-sm placeholder-gray-400" placeholder="Описание"></textarea>
					</div>
				</div>

				<div class="space-y-5">
					<h3 class="text-gray-900 text-lg font-medium leading-6">Добавить счет</h3>
					<div class="border rounded-lg overflow-hidden">
						<div class="flex items-center border-b border-gray-300 bg-gray-50">
							<div class="w-[104px] py-3 pl-6 pr-3">
								<button class="w-full py-1.5 px-2 rounded-md bg-indigo-600 hover:bg-indigo-700" type="button">
									<svg class="mx-auto" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
										<path d="M8.60001 3.79995C8.60001 3.46858 8.33138 3.19995 8.00001 3.19995C7.66864 3.19995 7.40001 3.46858 7.40001 3.79995V7.39995H3.80001C3.46864 7.39995 3.20001 7.66858 3.20001 7.99995C3.20001 8.33132 3.46864 8.59995 3.80001 8.59995L7.40001 8.59995V12.2C7.40001 12.5313 7.66864 12.8 8.00001 12.8C8.33138 12.8 8.60001 12.5313 8.60001 12.2V8.59995L12.2 8.59995C12.5314 8.59995 12.8 8.33132 12.8 7.99995C12.8 7.66858 12.5314 7.39995 12.2 7.39995H8.60001V3.79995Z" fill="white"/>
									</svg>
								</button>
							</div>
							<div class="w-16 p-3">
								<p class="text-gray-900 text-sm font-medium">№</p>
							</div>
							<div class="flex-1 p-3">
								<p class="text-gray-900 text-sm font-medium">Наименование</p>
							</div>
							<div class="w-[176px] py-3 pl-3 pr-6">
								<p class="text-gray-900 text-sm font-medium">Сумма</p>
							</div>
						</div>

						{% set num_rows = 4 %}

						{% macro row(id, title, amount) %}
						<div class="flex items-center border-b">
							<div class="w-[104px] flex justify-center py-4 pl-6 pr-3">
								<button class="p-2 group" type="button">
									<svg class="text-gray-500 group-hover:text-red-500" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
										<path d="M9.82692 6L9.59615 12M6.40385 12L6.17308 6M12.8184 3.86038C13.0464 3.89481 13.2736 3.93165 13.5 3.97086M12.8184 3.86038L12.1065 13.115C12.0464 13.8965 11.3948 14.5 10.611 14.5H5.38905C4.60524 14.5 3.95358 13.8965 3.89346 13.115L3.18157 3.86038M12.8184 3.86038C12.0542 3.74496 11.281 3.65657 10.5 3.59622M2.5 3.97086C2.72638 3.93165 2.95358 3.89481 3.18157 3.86038M3.18157 3.86038C3.94585 3.74496 4.719 3.65657 5.5 3.59622M10.5 3.59622V2.98546C10.5 2.19922 9.8929 1.54282 9.10706 1.51768C8.73948 1.50592 8.37043 1.5 8 1.5C7.62957 1.5 7.26052 1.50592 6.89294 1.51768C6.1071 1.54282 5.5 2.19922 5.5 2.98546V3.59622M10.5 3.59622C9.67504 3.53247 8.84131 3.5 8 3.5C7.15869 3.5 6.32496 3.53247 5.5 3.59622" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
								</button>
							</div>
							<div class="w-16 py-4 px-3">
								<p class="text-gray-500 text-sm">{{ id }}</p>
							</div>
							<div class="flex-1 py-2 px-3">
								<input class="w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm text-gray-900 text-sm placeholder-gray-400" value="{{ title }}" placeholder="Наименование" type="text"/>
							</div>
							<div class="w-[176px] py-2 pl-3 pr-6">
								<input class="w-[140px] py-2 px-3 border border-gray-300 rounded-md shadow-sm text-gray-900 text-sm placeholder-gray-400" value="{{ amount }}" placeholder="Сумма" type="text"/>
							</div>
						</div>
						{% endmacro %}

						{% import _self as table %}

						{% for i in 1..num_rows %}
							{{ table.row(i) }}
						{% endfor %}

						<div class="flex bg-gray-50">
							<div class="flex-1 py-4 px-3">
								<p class="text-gray-900 text-sm font-medium text-end">Итого к оплате:</p>
							</div>
							<div class="w-[176px] py-4 pl-3 pr-6">
								<p class="text-gray-900 text-sm font-medium">$ 1650.00</p>
							</div>
						</div>
					</div>

				</div>

				<div class="flex justify-between">
					<div class="flex space-x-3">
						<button class="py-2 px-4 text-white text-sm font-medium bg-red-500 rounded-md shadow-sm hover:bg-red-600" type="button">Удалить инвойс</button>
						<button @click="draftInvoiceSave()" class="py-2 px-4 text-gray-700 text-sm font-medium rounded-md ring-1 ring-inset ring-gray-300 shadow-sm hover:bg-gray-50" type="button">Сохранить черновик</button>
					</div>
					<div class="flex space-x-3">
						<a href="{{ path('billing_invoices') }}" class="py-2 px-4 text-gray-700 text-sm font-medium rounded-md ring-1 ring-inset ring-gray-300 shadow-sm hover:bg-gray-50">
							<span>Отменить</span>
						</a>
						<a @click="draftInvoicePublish()" href="#" class="py-2 px-4 text-white text-sm font-medium rounded-md bg-indigo-600 shadow-sm hover:bg-indigo-700">
							<span>Опубликовать</span>
						</a>
					</div>
				</div>
			</form>
		</div>
	</billing-settings>

{% endblock %}
