{% extends 'billing/billing.base.html.twig' %}

{% block content %}

	{% block header %}

		<div class="bg-gray-50 py-4 px-8 space-y-2">
			<nav class="flex items-center space-x-4 text-sm text-gray-500 font-medium">
				<a href="{{ path('billing_invoices') }}">Инвойсы</a>
				<div class="-rotate-90">
					{{ source('misc/svg/arrow.svg') }}
				</div>
				<span>{{ title }}</span>
			</nav>
			<div class="h-9 flex items-center">
				<h3 class="font-semibold text-lg leading-6">{{ title }}</h3>
			</div>
		</div>

	{% endblock %}

	<billing-settings inline-template>
		<div class="py-6 px-8">
			<form class="space-y-10">
				<div class="space-y-5">
					<div class="flex items-center space-x-6">
						<div class="w-[344px] text-gray-700 text-sm font-medium">Клиент <span class="text-red-500">*</span></div>
						<div class="relative w-80">
							<input class="inputs w-full py-2 pl-3 pr-10 text-sm" placeholder="Выберите клиента" type="text" aria-expanded="false" aria-expanded-autohide>

							<ul class="dropdown w-full max-h-72 overflow-auto">
							{% for i in allClients() %}
								<li>
									<button type="button" class="w-full py-2 px-4 space-x-3 text-sm text-left truncate" title=" {{ i.email }} {{ i.id }} ">
										<span>{{ i.email }}</span>
										<span class="text-gray-500">{{ i.id }}</span>
									</button>
								</li>
							{% endfor %}
							</ul>

							<div class="absolute top-2 right-3 arrow pointer-events-none">
								{{ source('misc/svg/arrow.svg') }}
							</div>
						</div>
					</div>

					<hr>

					<div class="flex items-center space-x-6">
						<p class="w-[344px] text-gray-700 text-sm font-medium">Тариф</p>

						{% set plans = ['Plan 111', 'Plan 112', 'Plan 113'] %}

						<div class="relative w-80 popover__wrapper">
							<input disabled class="inputs w-full py-2 pl-3 pr-10 text-sm disabled:bg-gray-50 disabled:text-gray-500" placeholder="Выберите тариф" type="text" aria-expanded="false" aria-expanded-autohide>

							<ul class="dropdown w-full max-h-72 overflow-auto">
								{% for i in plans %}
									<li>
										<button type="button" class="w-full py-2 px-4 text-sm text-left truncate" title="{{ i }}">{{ i }}</button>
									</li>
								{% endfor %}
							</ul>

							<div class="absolute top-2 right-3 arrow pointer-events-none">
								{{ source('misc/svg/arrow.svg') }}
							</div>

							<div class="popover__content bottom-[54px] left-[93px] w-fit py-2 px-3 bg-gray-800 text-gray-100 text-xs font-medium rounded-lg whitespace-nowrap">Выберите клиента</div>
						</div>
					</div>

					<hr>

					<div class="flex items-center space-x-6">
						<p class="w-[344px] text-gray-700 text-sm font-medium">Срок оплаты</p>
						<div class="relative w-80">
							<input class="inputs block w-full text-sm py-2 pl-3 pr-10 space-x-2" placeholder="Дата оплаты" value="30/09/2023" type="text">
							<div class="absolute inset-y-0 right-3 flex items-center">
								<button type="button">
									{{ source('misc/svg/calendar.svg') }}
								</button>
							</div>
						</div>
					</div>

					<hr>

					<div class="flex items-center space-x-6">
						<div class="w-[344px] space-y-1">
							<p class="text-gray-700 text-sm font-medium">Описание</p>
							<p class="text-gray-500 text-xs">Отображается клиенту</p>
						</div>
						<textarea class="inputs w-80 h-20 min-h-[38px] max-h-64 py-2 px-3 text-sm" placeholder="Описание"></textarea>
					</div>
				</div>

				<div class="space-y-5">
					<h3 class="text-lg font-medium leading-6">Добавить счёт</h3>
					<div class="border rounded-lg overflow-hidden">
						<div class="flex items-center border-b border-gray-300 bg-gray-50">
							<div class="w-[104px] py-3 pl-6 pr-3">
								<button class="w-full flex justify-center py-1.5 px-2 rounded-md bg-indigo-600 hover:bg-indigo-700" type="button">
									{{ source('misc/svg/plus.svg') }}
								</button>
							</div>
							<div class="w-16 p-3">
								<p class="text-sm font-medium">№</p>
							</div>
							<div class="flex-1 p-3">
								<p class="text-sm font-medium">Наименование услуги</p>
							</div>
							<div class="w-[176px] py-3 pl-3 pr-6">
								<p class="text-sm font-medium">Сумма</p>
							</div>
						</div>

						<div class="flex items-center border-b">
							<div class="w-[104px] flex justify-center py-4 pl-6 pr-3">
								<button class="p-2 text-gray-500 hover:text-red-500" type="button">
									{{ source('misc/svg/bucket.svg') }}
								</button>
							</div>
							<div class="w-16 py-4 px-3">
								<p class="text-gray-500 text-sm">1</p>
							</div>
							<div class="flex-1 py-2 px-3">
								<input class="inputs w-full py-2 px-3 text-sm" placeholder="Наименование услуги" type="text"/>
							</div>
							<div class="w-[176px] py-2 pl-3 pr-6">
								<input class="w-[140px] inputs py-2 px-3 text-sm" placeholder="Сумма" type="text"/>
							</div>
						</div>

						<div class="flex bg-gray-50">
							<div class="flex-1 py-4 px-3">
								<p class="text-sm font-medium text-end">Итого к оплате:</p>
							</div>
							<div class="w-[176px] py-4 pl-3 pr-6">
								<p class="text-sm font-medium">$ 0.00</p>
							</div>
						</div>
					</div>

				</div>

				<div class="flex justify-between">
					<button @click="draftInvoiceSave()" class="py-2 px-4 text-gray-700 text-sm font-medium rounded-md ring-1 ring-gray-300 hover:bg-gray-50" type="button">Сохранить черновик</button>
					<div class="flex space-x-3">
						<a href="{{ path('billing_invoices') }}" class="py-2 px-4 text-gray-700 text-sm font-medium rounded-md ring-1 ring-gray-300 hover:bg-gray-50">Отменить</a>
						<a @click="draftInvoicePublish()" href="#" class="py-2 px-4 text-white text-sm font-medium rounded-md bg-indigo-600 hover:bg-indigo-700">Опубликовать</a>
					</div>
				</div>
			</form>
		</div>
	</billing-settings>

{% endblock %}
