{% extends 'billing/billing.base.html.twig' %}

{% set side_menu_item = 'billing:draft_invoice' %}

{% block content %}

	{% block header %}

		<div class="bg-gray-50 py-4 px-8 space-y-2">
			<nav class="flex items-center space-x-4 text-sm text-gray-500 font-medium">
				<a href="{{ path('billing_invoices') }}">Инвойсы</a>
				<div class="-rotate-90">
					{{ source('assets/images/arrow.svg') }}
				</div>
				<span>Инвойс {{ data.invoice_id }}</span>
			</nav>
			<div class="h-9 flex items-center">
				<div class="flex items-center space-x-4">
					<span class="font-semibold text-lg">{{ title }} {{ data.invoice_id }}</span>
					<span class="inline-flex items-center px-3 py-0.5 rounded-xl text-sm font-medium bg-purple-100 text-purple-800">{{ data.invoice_status }}</span>
				</div>
			</div>
		</div>

	{% endblock %}

	<billing-settings inline-template>
		<div class="py-6 px-8">
			<form class="space-y-10">
				<div class="space-y-5">
					<div class="flex items-center space-x-6">
						<p class="w-[344px] text-gray-700 text-sm font-medium">Клиент <span class="text-red-500">*</span></p>

						{% set client = 'dawkins@mail.com' %}

						<div class="relative w-80">
							<input class="inputs w-full py-2 pl-3 pr-10 text-sm truncate" value="{{ client }}" placeholder="Выберите клиента" type="text" aria-expanded="false" aria-expanded-autohide>

							<ul class="dropdown w-full max-h-72 overflow-auto">
								{% for i in allClients() %}
									<li>
										<button type="button" class="w-full py-2 px-4 space-x-3 text-sm text-left truncate {% if i.email == client %}bg-indigo-600 text-gray-50{% endif %}" title="{{ i.email }} {{ i.id }}">
											<span>{{ i.email }}</span>
											<span class="text-gray-500 {% if i.email == client %}text-gray-300{% endif%}">{{ i.id }}</span>
										</button>
									</li>
								{% endfor %}
							</ul>

							<div class="absolute top-2 right-3 arrow pointer-events-none">
								{{ source('assets/images/arrow.svg') }}
							</div>
						</div>
					</div>

					<hr>

					<div class="flex items-center space-x-6">
						<p class="w-[344px] text-gray-700 text-sm font-medium">Тариф</p>

						{% set plans = ['5453 - Lite - Linux SSD NL ($5.00 Monthly)', 'Plan 111', 'Plan 112', 'Plan 113'] %}

						<div class="relative w-80">
							<input class="inputs w-full py-2 pl-3 pr-10 text-sm truncate" value="{{ plans|first }}" placeholder="Выберите тариф" type="text" aria-expanded="false" aria-expanded-autohide>

							<ul class="dropdown w-full max-h-72 overflow-auto">
								{% for i in plans %}
									<li>
										<button type="button" class="w-full py-2 px-4 text-sm text-left truncate {% if loop.index == 1 %}bg-indigo-600 text-gray-50{% endif %}">{{ i }}</button>
									</li>
								{% endfor %}
							</ul>

							<div class="absolute top-2 right-3 arrow pointer-events-none">
								{{ source('assets/images/arrow.svg') }}
							</div>
						</div>
					</div>

					<hr>

					<div class="flex items-center space-x-6">
						<p class="w-[344px] text-gray-700 text-sm font-medium">Срок оплаты</p>
						<div class="relative w-80">
							<input class="inputs block w-full text-sm py-2 pl-3 pr-10" placeholder="Дата оплаты" value="31/12/2023" type="text">
							<div class="absolute inset-y-0 right-3 flex items-center">
								<button type="button">
									{{ source('assets/images/calendar.svg') }}
								</button>
							</div>
						</div>
					</div>

					<hr>

					<div class="flex items-center space-x-6">
						<div class="w-[344px] space-y-1">
							<p class="text-gray-700 text-sm font-medium">Описание</p>
							<p class="text-gray-500 text-xs">Отображается клиенту</p>
						</div>
						<textarea class="inputs w-80 h-20 min-h-[38px] max-h-64 py-2 px-3 text-sm" placeholder="Описание"></textarea>
					</div>
				</div>

				<div class="space-y-5">
					<h3 class="text-lg font-medium leading-6">Добавить счёт</h3>
					<div class="ring-1 ring-gray-200 rounded-lg overflow-hidden">
						<div class="flex items-center border-b border-gray-300 bg-gray-50">
							<div class="w-[104px] py-3 pl-6 pr-3">
								<button class="w-full py-1.5 px-6 rounded-md bg-indigo-600 text-white hover:bg-indigo-700" type="button">
									{{ source('assets/images/plus.svg') }}
								</button>
							</div>
							<div class="w-16 p-3">
								<p class="text-sm font-medium">№</p>
							</div>
							<div class="flex-1 p-3">
								<p class="text-sm font-medium">Наименование услуги</p>
							</div>
							<div class="w-[176px] py-3 pl-3 pr-6">
								<p class="text-sm font-medium">Сумма</p>
							</div>
						</div>

						{% set services = [
							{'id': 1, 'title': '', 'amount': ''},
							{'id': 2, 'title': 'disk: 30GB SSD (30/ssd) => 80GB SSD (80/ssd)', 'amount': 100},
							{'id': 3, 'title': 'ip: IPv4 1 шт. (1 Free) => IPv4 38 шт. (1 Free)ip: IPv4 1 шт. (1 Free) => IPv4 38 шт. (1 Free)', 'amount': 550},
							{'id': 4, 'title': 'backup: Еженедельное (free) => Ежедневное (daily)', 'amount': 1000},
						] %}

						{% macro row(id, title, amount) %}
						<div class="flex items-center border-b">
							<div class="w-[104px] flex justify-center py-4 pl-6 pr-3">
								<button class="p-2 text-gray-500 hover:text-red-500" type="button">
									{{ source('assets/images/bucket.svg') }}
								</button>
							</div>
							<div class="w-16 py-4 px-3">
								<p class="text-gray-500 text-sm">{{ id }}</p>
							</div>
							<div class="flex-1 py-2 px-3">
								<input class="inputs w-full py-2 px-3 text-sm" value="{{ title }}" placeholder="Наименование услуги" type="text"/>
							</div>
							<div class="w-[176px] py-2 pl-3 pr-6">
								<input class="inputs w-[140px] py-2 px-3 text-sm" value="{{ amount|number_format(2, '.', '') }}" placeholder="Сумма" type="text"/>
							</div>
						</div>
						{% endmacro %}

						{% import _self as table %}

						{% for i in services %}
							{{ table.row(i.id, i.title, i.amount) }}
						{% endfor %}

						<div class="flex bg-gray-50">
							<div class="flex-1 py-4 px-3">
								<p class="text-sm font-medium text-end">Итого к оплате:</p>
							</div>
							<div class="w-[176px] py-4 pl-3 pr-6">
								<p class="text-sm font-medium">$ 1650.00</p>
							</div>
						</div>
					</div>
				</div>

				<div class="flex justify-between">
					<div class="flex space-x-3">
						<button class="py-2 px-4 text-white text-sm font-medium bg-red-500 rounded-md hover:bg-red-600" type="button">Удалить инвойс</button>
						<button @click="draftInvoiceSave()" class="py-2 px-4 text-gray-700 text-sm font-medium rounded-md ring-1 ring-inset ring-gray-300 hover:bg-gray-50" type="button">Сохранить черновик</button>
					</div>
					<div class="flex space-x-3">
						<a href="{{ path('billing_invoices') }}" class="py-2 px-4 text-gray-700 text-sm font-medium rounded-md ring-1 ring-inset ring-gray-300 hover:bg-gray-50">Отменить</a>
						<a @click="draftInvoicePublish()" href="#" class="py-2 px-4 text-white text-sm font-medium rounded-md bg-indigo-600 hover:bg-indigo-700">Опубликовать</a>
					</div>
				</div>
			</form>
		</div>
	</billing-settings>

{% endblock %}
