<nav class="ticket-answers">
	<button aria-expanded="false" type="button" class="overflow-x-auto w-full group flex justify-between px-6 py-4 rounded-b-md hover:bg-gray-50">
		<div class="flex items-center pointer-events-none space-x-3">
			<div class="text-gray-400 change_icon_color">
				{{ source('assets/images/book.svg') }}
			</div>
			<span class="text-sm font-medium text-gray-500 change_text_color">Готовый ответ</span>
		</div>
		{{ source('assets/images/arrow.svg') }}
	</button>

	<div class="bg-gray-50 rounded-b-md">
		<div class="flex py-4 px-6 space-x-2 text-sm">
			<div class="flex">
				<input name="lang" id="ru" class="peer/ru hidden" type="radio" checked>
				<label for="ru" class="py-2 px-4 bg-white ring-1 ring-gray-300 rounded-l-md text-gray-700 text-sm font-medium cursor-pointer hover:bg-gray-50 peer-checked/ru:z-10 peer-checked/ru:bg-indigo-50 peer-checked/ru:text-indigo-700 peer-checked/ru:ring-indigo-500">RU</label>

				<input name="lang" id="en" class="peer/en hidden" type="radio">
				<label for="en" class="py-2 px-4 bg-white ring-1 ring-gray-300 rounded-r-md text-gray-700 text-sm font-medium cursor-pointer hover:bg-gray-50 peer-checked/en:z-10 peer-checked/en:bg-indigo-50 peer-checked/en:text-indigo-700 peer-checked/en:ring-indigo-500">EN</label>
			</div>
			<div class="relative w-full">
				<div class="pointer-events-none absolute inset-y-0 left-3 flex items-center">
					{{ source('assets/images/search.svg') }}
				</div>
				<input class="inputs block w-full py-2 pl-10 pr-3 text-sm" placeholder="Поиск" type="text">
			</div>
		</div>

		{% set nav1 = ['Нарушения', 'IP адреса', 'SSL сертификаты', 'Биллинг', 'Бухгалтерия', 'Верификация', 'Вопросы по заказу', 'Партнёрская программа', 'Уведомления'] %}
		{% set nav2 = ['BREIN', 'SMTP KYC', 'Благодарим за решение проблемы', 'Жалоба на сервер', 'Разблокировка в случае серьёзных жалоб / KYC', 'Требуется верификация для разблокировки ВПС'] %}

		<div class="py-4 px-6">
			<div class="flex space-x-4">
				<nav class="w-60 space-y-1">
					{% for item in nav1 %}
						<button type="button" class="block px-3 py-2 rounded-md hover:bg-gray-200">
							<span class="text-gray-600 text-sm font-medium truncate">{{ item }}</span>
						</button>
					{% endfor %}
				</nav>

				<div class="grow space-y-1">
					{% for item in nav2 %}
						<button type="button" class="flex items-center w-fit py-2 px-3 space-x-2 bg-gray-100 rounded-lg hover:bg-gray-200">
							{{ source('assets/images/chat.svg') }}
							<span class="text-gray-600 text-sm font-medium">{{ item }}</span>
						</button>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</nav>
