{% set client_empty %}

	<div class="w-[344px] flex items-center justify-between py-4 px-6 space-x-4 ring-1 ring-gray-300 rounded-l-lg">
		<div class="flex items-center space-x-2">
			{{ source('assets/images/user-40.svg') }}
			<p class="text-sm font-medium truncate">Клиент не выбран</p>
		</div>
		<button @click="ticketUserSelect()" type="button" class="py-2 px-4 ring-1 ring-gray-300 rounded-md text-gray-700 text-sm font-medium hover:bg-gray-50">Выбрать</button>
	</div>

{% endset %}

{% set client_filled %}
	<div class="w-[344px] flex items-center shrink-0 py-4 px-6 space-x-2 ring-1 ring-gray-300 rounded-l-lg">
		{{ source('assets/images/user-40.svg') }}
		<div class="overflow-hidden">
			<a href="{{ path('profile') }}" class="text-sm font-medium hover:text-indigo-700" title="{{ data.ticket_email }}">
				<p class="w-60 min-w-full truncate">{{ data.ticket_email }}</p>
			</a>
			<div class="text-gray-500 text-sm font-medium truncate">{{ data.ticket_username }}</div>
		</div>
	</div>
{% endset %}

{% set service_empty %}
	<div class="flex grow flex-shrink-0 items-center ml-px py-4 px-6 space-x-6 bg-gray-50 ring-1 ring-gray-300 rounded-r-lg ">
		<div class="flex grow space-x-2">
			{{ source('assets/images/cube-40.svg') }}
			<div>
				<div class="text-sm font-medium">Услуга не выбрана</div>
				<div class="text-gray-500 text-sm font-medium">Выберите клиента для начала</div>
			</div>
		</div>
		<button @click="ticketServiceSelect()" type="button" class="py-2 px-4 ring-1 ring-gray-300 rounded-md text-gray-700 text-sm font-medium bg-gray-50 opacity-30">Выбрать</button>
	</div>
{% endset %}

{% set service_filled %}
	<div class="flex grow items-center ml-px py-4 px-6 space-x-6 ring-1 ring-gray-300 rounded-r-lg">
		<div class="flex grow items-center space-x-6">
			<div class="flex grow items-center space-x-2">
				<div>
					{{ source('assets/images/cube-40.svg') }}
				</div>
				<div>
					<div class="flex space-x-2">
						<a href="{{ path('order_details') }}" class="text-sm font-medium line-clamp-1 overflow-hidden hover:text-indigo-700" title="{{ data.ticket_service }}">{{ data.ticket_service }}</a>
						<span class="px-2.5 py-0.5 rounded-full text-xs bg-green-100 text-green-800">{{ data.ticket_status }}</span>
					</div>
					<div class="text-gray-500 text-sm font-medium">{{ data.ticket_service_date }}</div>
				</div>
			</div>
			<div class="text-sm font-medium">
				<p>IP</p>
				<p class="text-gray-500">{{ data.ticket_ip }}</p>
			</div>
			<div class="text-sm font-medium">
				<p>Цена</p>
				<p class="text-gray-500">${{ data.ticket_fee|number_format('2', '.', '') }}/год</p>
			</div>
			<div class="text-sm font-medium">
				<p>Оплата</p>
				<p class="text-gray-500">{{ data.ticket_paydate }}</p>
			</div>
			<button @click="ticketServiceSelect(1)" type="button" class="py-2 px-4 ring-1 ring-gray-300 rounded-md bg-white text-gray-500 hover:bg-gray-50">
				{{ source('assets/images/pencil.svg') }}
			</button>
		</div>
	</div>
{% endset %}

{% if title == 'Новый тикет' %}
	{{ client_empty }}{{ service_empty }}
{% else %}
	{{ client_filled }}{{ service_filled }}
{% endif %}
