{% extends'/misc/modals/base.modal.html.twig' %}

{% block modal_name %}billing-add-transaction{% endblock %}

{% block modal_content %}

	<div class="relative transform rounded-lg bg-white my-auto text-left shadow-xl transition-all w-full max-w-lg">
		<div class="flex items-center justify-between py-5 px-6 bg-gray-50 rounded-t-lg">
			<h2 class="text-lg font-medium leading-6">Добавить транзакцию</h2>
			<button @click="close(false)" type="button" class="rounded-md text-gray-400 hover:text-gray-500">
				{{ source('assets/images/close.svg') }}
			</button>
		</div>
		<div class="px-6 py-5 space-y-5">
			<div class="flex space-x-6">
				<div class="flex-1 space-y-1">
					<p class="text-sm font-medium text-gray-700">UID транзакции</p>
					<input type="text" class="inputs w-full text-sm" placeholder="UID">
				</div>
				<div class="flex-1 space-y-1">
					<p class="text-sm font-medium text-gray-700">ID оплаты</p>
					<input type="text" class="inputs w-full text-sm" placeholder="ID">
				</div>
			</div>
			<div class="flex space-x-6">
				<div class="flex-1 space-y-1">
					<p class="text-sm font-medium text-gray-700">ID инвойса</p>
					<input type="text" class="inputs w-full text-sm" placeholder="ID">
				</div>
				<div class="flex-1 space-y-1">
					<p class="text-sm font-medium text-gray-700">ID, Email клиента</p>
					<div class="flex-1 relative">
						<input @input="inputSearch()" id="myInput" class="inputs w-full text-sm" placeholder="ID, Email" type="text" aria-expanded="false" aria-expanded-autohide>

						<ul id="myUL" class="dropdown right-0 w-[264px] max-h-48 overflow-auto">
							{% for i in transactions %}
								<li>
									<button type="button" class="flex items-center w-full py-2 px-4 space-x-3" title="{{ i.client }} {{ i.invoice }}">
										<span class="text-gray-700 text-sm truncate">{{ i.client }}</span>
										<span class="text-gray-500 text-sm">{{ i.invoice }}</span>
									</button>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<div class="space-y-1">
				<p class="text-gray-700 text-sm font-medium">Описание</p>
				<textarea class="inputs w-full py-2 px-3 text-sm" placeholder="Описание"></textarea>
			</div>
			<div class="flex space-x-6">
				<div class="flex-1 space-y-1">
					<p class="text-sm font-medium text-gray-700">Сумма добавления</p>
					<div class="relative mt-2">
						<div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3 text-sm">$</div>
						<input type="number" class="inputs w-full pl-10 text-sm" placeholder="00.00">
					</div>
				</div>
				<div class="flex-1 space-y-1">
					<p class="text-sm font-medium text-gray-700">Сумма списания</p>
					<div class="relative mt-2">
						<div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3 text-sm">$</div>
						<input type="number" class="inputs w-full pl-10 text-sm" placeholder="00.00">
					</div>
				</div>
			</div>

			<div class="space-y-1">
				<p class="text-sm font-medium text-gray-700">Метод оплаты</p>
				<div class="relative mt-2">
					<button type="button" class="w-full flex justify-between py-2 px-3 rounded-md ring-1 ring-gray-300 text-left text-sm hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
						<p class="pointer-events-none">None</p>
						{{ source('assets/images/arrow.svg') }}
					</button>

					<ul class="dropdown w-full max-h-[160px] overflow-auto text-sm">
						{% for i in payments() %}
							<li>
								<button type="button" class="w-full py-2 px-4 text-gray-700 text-left">{{ i }}</button>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<div class="flex space-x-3 py-5 px-6 bg-gray-50 rounded-b-lg text-sm font-medium">
			<button @click="close(false)" type="button" class="w-full rounded-md ring-1 ring-gray-300 bg-white px-4 py-2 text-gray-700 hover:bg-gray-50">Отменить</button>
			<button @click="close(true)" type="button" class="w-full rounded-md bg-indigo-600 px-4 py-2 text-white hover:bg-indigo-700">Добавить</button>
		</div>
	</div>

{% endblock %}
