{% extends'/misc/modals/base.modal.html.twig' %}

{% block modal_name %}billing-transactions-details{% endblock %}

{% block modal_content %}

	<div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full">
		<div class="pointer-events-auto w-[536px]">
			<div class="flex h-full pb-16 flex-col overflow-y-scroll bg-white shadow-xl">
				<div class="flex justify-between p-6 bg-gray-50">
					<h2 class="text-lg font-medium">Детали транзакции</h2>
					<button @click="close(false)" type="button" class="rounded-md text-gray-400 hover:text-gray-500">
						{{ source('assets/images/close.svg') }}
					</button>
				</div>
				<div class="p-6 divide-y text-sm text-left">
					<div class="py-5 grid grid-cols-3 gap-6">
						<div class="font-medium text-gray-500">ID</div>
						<div class="col-span-2">2378-1234</div>
					</div>
					<div v-if="data.detailsType === 1" class="py-5 grid grid-cols-3 gap-6">
						<div class="font-medium text-gray-500">UID</div>
						<div class="col-span-2">T516509014465431</div>
					</div>
					<div class="py-5 grid grid-cols-3 gap-6">
						<div class="font-medium text-gray-500">Дата и Время</div>
						<div class="col-span-2">22/12/2022, 18:34:12</div>
					</div>
					<div v-if="data.detailsType === 1" class="py-5 grid grid-cols-3 gap-6">
						<div class="text-sm font-medium text-gray-500">Инвойс</div>
						<div class="col-span-2">34809234</div>
					</div>
					<div class="py-5 grid grid-cols-3 gap-6">
						<div class="font-medium text-gray-500">Клиент</div>
						<a href="{{ path('profile') }}" class="col-span-2 font-medium hover:text-indigo-900">
							<p class="truncate">iseli-alex-badboy007@mail.com</p>
							<p>Leslie Alexander</p>
						</a>
					</div>
					<div class="py-5 grid grid-cols-3 gap-6">
						<div class="font-medium text-gray-500">Метод оплаты</div>
						<div class="col-span-2">Paysera</div>
					</div>
					<div class="py-5 grid grid-cols-3 gap-6">
						<div class="font-medium text-gray-500">Тип</div>
						<div class="col-span-2">Входящая</div>
					</div>
					<div class="py-5 grid grid-cols-3 gap-6">
						<div class="self-center font-medium text-gray-500">Сумма</div>
						<div class="col-span-2 flex items-center justify-between">
							<div>$99.00</div>
							<button v-if="data.detailsType !== 3" @click="billingTransactionsDetailsRefund()" type="button" class="px-3 py-1.5 rounded ring-1 ring-gray-300 text-xs font-medium text-gray-700 hover:bg-gray-50">Вернуть</button>
						</div>
					</div>
					<div v-if="data.detailsType === 1" class="py-5 grid grid-cols-3 gap-6">
						<div class="font-medium text-gray-500">Движение средств</div>
						<div class="col-span-2 space-y-4">
							<div>
								<p class="font-medium">09/01/2023 • 09:48:57 • $40.00</p>
								<p>Payment of an invoice from an incoming transaction.</p>
							</div>
						</div>
					</div>

					<div class="py-5 grid grid-cols-3 gap-6">
						<div class="self-center font-medium text-gray-500">Статус</div>
						<div class="relative col-span-2">
							<button type="button" class="w-full flex items-center py-2 px-3 space-x-2 rounded-md ring-1 ring-gray-300 hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
								<div class="h-5 w-5 pointer-events-none">
									<span class="inline-block h-2.5 w-2.5 rounded-full bg-green-400"></span>
								</div>
								<div class="grow text-left pointer-events-none">Засчитана</div>
								{{ source('assets/images/arrow.svg') }}
							</button>

							<ul class="dropdown w-full overflow-auto text-sm">

								{% for val, css in transaction_details_statuses %}
									<li class="relative cursor-default">
										<button type="button" class="w-full flex items-center py-2 px-3 space-x-2">
											<div class="h-5 w-5">
												<span class="inline-block h-2.5 w-2.5 rounded-full bg-{{ css }}-400"></span>
											</div>
											<span class="text-gray-700">{{ val }}</span>
										</button>
									</li>
								{% endfor %}

							</ul>
						</div>
					</div>
					<div class="py-5 grid grid-cols-3 gap-6">
						<div class="text-sm font-medium text-gray-500">Детали</div>
						<div class="col-span-2">
							<span v-if="data.detailsType === 1">Deposit via Paysera: Payment for is*hosting: 2530</span>
							<span v-if="data.detailsType === 2">Пополнение счёта клиента кругленькой суммой</span>
							<span v-if="data.detailsType === 3">Списание со счёта клиента кругленькой суммы</span>
						</div>
					</div>
				</div>
			</div>

			<div class="fixed bottom-0 w-[536px] flex justify-end border-t py-5 px-6 space-x-4 bg-white">
				<button @click="close(false)" type="button" class="py-2 px-4 rounded-md ring-1 ring-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50">Отменить</button>
				<button type="submit" class="py-2 px-4 rounded-md bg-indigo-600 text-sm font-medium text-white hover:bg-indigo-700">Сохранить изменения</button>
			</div>
		</div>
	</div>

{% endblock %}

