{% extends'/misc/modals/base.modal.html.twig' %}

{% block modal_name %}settings-answer-editor{% endblock %}

{% block modal_content %}

	<div class="relative transform overflow-hidden rounded-lg bg-white my-auto text-left shadow-xl transition-all w-full max-w-5xl">
		<div class="py-5 px-6 bg-gray-50">
			<div class="h-9 flex items-center justify-between">
				<h2 v-if="data.id > 0" class="text-lg font-medium leading-6">Редактирование ответа</h2>
				<h2 v-else class="text-lg font-medium leading-6">Добавить ответ</h2>
				<button @click="close(false)" type="button" class="rounded-md text-gray-400 hover:text-gray-500">
					{{ source('assets/images/close.svg') }}
				</button>
			</div>
		</div>

		{% set answer_data = {'category': 'Партнёрская программа', 'lang': 'Ru', 'title': 'ISP6 Обновление', 'content': 'Здравствуйте,
Надеюсь, что это сообщение застало вас в добром здравии. Я понимаю, что вы обеспокоены скоростью вашего виртуального сервера, и я благодарен за возможность прояснить для вас ситуацию.
Во-первых, важно понимать, что хотя ваш виртуальный сервер оснащен портом 1 Гбит, это не означает, что он будет постоянно достигать скорости 1 Гбит/с. Это связано с тем, что сетевой порт является общим ресурсом для всех виртуальных серверов на одной физической машине.
Совместное использование обеспечивает экономическую эффективность и позволяет нам предлагать доступные цены для виртуальных серверов. Однако это также означает, что доступная пропускная способность делится между различными серверами, что может привести к снижению скорости, особенно в периоды пиковой нагрузки, когда другие серверы потребляют больше ресурсов. Кроме этого, тестирование скорости также зависит от используемых инструментов и пропускной способности другого сервера, который участвует в тестировании, поэтому эти результаты нельзя считать объективными. Мы рекомендуем оценивать скорость сети в результате практического применения. Важно отметить, что наш отдел мониторинга отслеживает нагрузку и не допускает использования более 50% от пропускной способности, чтобы обеспечивать высокую скорость сети для всех клиентов вне зависимости от времени.
Кроме этого, у нас описаны условия рекомендуемой постоянной нагрузки для каждого тарифного плана, которые позволяют ограничивать злоупотребления и гарантировать высокую скорость для пиковых нагрузок:
https://ishosting.com/ru/acceptable-use-policy
Если ваши проекты требуют гарантированных ресурсов, мы предлагаем рассмотреть наши предложения по выделенным серверам. Этот вариант означает, что в вашем распоряжении будут ресурсы всего сервера, обеспечивающие максимальную производительность и скорость.
Однако имейте в виду, что выделенные серверы потребуют значительно больших инвестиций по сравнению с нашими предложениями виртуальных серверов из-за значительных ресурсов, выделенных исключительно для вашего использования.
Наша команда будет рада обсудить ваши потребности и порекомендовать наиболее подходящий для вас план. Вы можете ответить на этот запрос или связаться с нашим отделом продаж напрямую по адресу sales@ishoting.com, если вы хотите обсудить детали.
Благодарим вас за понимание и терпение. Мы высоко ценим ваш бизнес и стремимся удовлетворить ваши потребности.'} %}

		<div class="py-5 px-6 space-y-5">
			<div class="flex space-x-4">
				<div class="flex-1 space-y-1">
					<p class="text-gray-700 text-sm font-medium">Категория <span class="text-red-500">*</span></p>

					<div class="relative">
						<input v-if="data.id > 0" @click="inputSearch()" id="myInput" class="inputs w-full py-2 pl-3 pr-10 text-sm" value="{{ answer_data.category }}" type="text" aria-expanded="false" aria-expanded-autohide>
						<input v-else @click="inputSearch()" id="myInput" class="inputs w-full py-2 pl-3 pr-10 text-sm" placeholder="Выберите категорию" type="text" aria-expanded="false" aria-expanded-autohide>

						<ul id="myUL" class="dropdown w-full max-h-72 overflow-auto">
							{% for i in categories %}
								<li>
									<button v-if="data.id > 0" type="button" class="w-full py-2 px-4 space-x-3 text-gray-700 text-sm text-left truncate {% if i == answer_data.category %}bg-indigo-600 text-gray-50{% endif %}">{{ i }}</button>
									<button v-else type="button" class="w-full py-2 px-4 space-x-3 text-gray-700 text-sm text-left truncate">{{ i }}</button>
								</li>
							{% endfor %}
						</ul>

						<div class="absolute top-2 right-3 arrow pointer-events-none">
							{{ source('assets/images/arrow.svg') }}
						</div>
					</div>
				</div>

				<div class="w-48 space-y-1">
					<p class="text-gray-700 text-sm font-medium">Язык</p>

					<div class="relative">
						<button type="button" class="w-full flex justify-between py-2 px-3 space-x-2 rounded-md ring-1 ring-gray-300 hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
							<p v-if="data.id > 0" class="text-sm pointer-events-none">{{ answer_data.lang }}</p>
							<p v-else class="text-sm pointer-events-none">Auto</p>
							{{ source('assets/images/arrow.svg') }}
						</button>

						{% set langs = ['Auto', 'Ru', 'Eng'] %}

						<ul class="dropdown w-full overflow-auto">
							{% for i in langs %}
							<li>
								<a v-if="data.id > 0" href="#" class="block px-4 py-2 text-gray-700 text-sm {% if i == answer_data.lang %}bg-indigo-600 text-gray-50{% endif %}">{{ i }}</a>
								<a v-else href="#" class="block px-4 py-2 text-gray-700 text-sm">{{ i }}</a>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>

			<div class="space-y-1">
				<p class="text-gray-700 text-sm font-medium">Заголовок <span class="text-red-500">*</span></p>

				<input v-if="data.id > 0" class="inputs w-full py-2 px-3 text-sm" placeholder="Введите заголовок" type="text" value="{{ answer_data.title }}"/>
				<input v-else class="inputs w-full py-2 px-3 text-sm" placeholder="Введите заголовок" type="text"/>
			</div>
			<div class="h-[340px] space-y-1">
				<p class="text-gray-700 text-sm font-medium">Ответ <span class="text-red-500">*</span></p>

				<textarea v-if="data.id > 0" class="inputs h-[316px] w-full py-2 px-3 text-sm" placeholder="Введите ответ">{{ answer_data.content }}</textarea>
				<textarea v-else class="inputs h-[316px] w-full py-2 px-3 text-sm" placeholder="Введите ответ"></textarea>
			</div>
		</div>

		<div class="flex justify-end py-5 px-6 space-x-3 bg-gray-50 text-sm font-medium">
			<button @click="close(false)" type="button" class="py-2 px-4 rounded-md bg-white ring-1 ring-gray-300 text-gray-700 hover:bg-gray-50">Отменить</button>
			<button @click="close(true)" type="button" class="py-2 px-4 rounded-md bg-indigo-600 text-white hover:bg-indigo-700">Сохранить</button>
		</div>
	</div>

{% endblock %}
