{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% set side_menu_item = 'support:tickets' %}

{% block main %}

	<support-module inline-template>
		<main class="pb-24">

		{% block content %}

			{% block header %}

				<div class="bg-gray-50 px-8">
					<div class="flex py-4 justify-between">
						<div class="flex items-center font-semibold text-lg">
							{{ title }}
						</div>
						<div class="flex items-center space-x-2 ">
							<div class="relative flex items-center ring-1 ring-gray-300 rounded-md">
								<div class="w-[100px] flex py-2 pl-3 pr-4 space-x-2">
									<button class="text-gray-500 hover:text-gray-700" type="button">
										{{ source('assets/images/reload.svg') }}
									</button>
									<div class="text-gray-700 text-sm font-medium cursor-default">10:25</div>
								</div>

								<button type="button" class="w-9 p-2 border-l border-gray-300 rounded-r-md hover:bg-gray-100" aria-expanded="false" aria-expanded-autohide>
									{{ source('assets/images/arrow.svg') }}
								</button>

								{% set intervals = ['30 секунд', '1 минута', '5 минут', '10 минут', '15 минут'] %}

								<ul class="dropdown w-[136px]">
									{% for i in intervals %}
										<li>
											<button type="button" class="w-full py-2 px-4 text-gray-700 text-sm text-left">{{ i }}</button>
										</li>
									{% endfor %}
								</ul>
							</div>
							<div class="flex items-center">
								<a href="{{ path('new_ticket') }}" class="inline-flex items-center py-2 pl-3 pr-4 space-x-2 rounded-md bg-indigo-600 text-sm font-medium text-white hover:bg-indigo-700">
									{{ source('assets/images/plus.svg') }}
									<span>Добавить</span>
								</a>
							</div>
						</div>
					</div>
				</div>

			{% endblock %}

			<support-settings inline-template>

				<div class="mt-4">

				{% block control %}

					<div class="flex mb-4 px-8 justify-between">
						<div class="flex space-x-4 items-center">
							<div class="relative flex flex-shrink-0">
								<button type="button" class="flex py-2 pl-3 pr-2 space-x-2 rounded-md ring-1 ring-gray-300 text-left hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
									<span class="text-gray-800 text-sm pointer-events-none">Действия</span>
									{{ source('assets/images/arrow.svg') }}
								</button>
								<ul class="dropdown w-56">
									<li>
										<button @click="supportTicketsClose()" type="button" class="w-full py-2 px-4 text-gray-700 text-sm text-left">Закрыть тикеты</button>
									</li>
									<li>
										<button @click="supportTicketsDelete()" type="button" class="w-full py-2 px-4 text-gray-700 text-sm text-left">Удалить тикеты</button>
									</li>
								</ul>
							</div>
							<nav class="flex items-center text-sm text-gray-700 font-medium">
								<a href="#" class="py-2 px-4 ring-1 ring-gray-300 rounded-l-md hover:bg-gray-50">Ожидают ответа</a>
								<a href="#" class="ml-px py-2 px-4 ring-1 ring-gray-300 hover:bg-gray-50">Все активные</a>
								{% if getGet() %}
									{% for val, css in ticket_statuses %}
										{% if getGet() == val %}
											<div class="z-10 ml-px flex items-center py-2 pl-3 pr-4 space-x-2 ring-1 ring-indigo-500 bg-indigo-50 text-indigo-700 cursor-default">
												<div class="h-5 w-5 p-[5px]">
													<div class="h-2.5 w-2.5 rounded-full bg-{{ css }}-400"></div>
												</div>
												<span>{{ val }}</span>
											</div>
										{% endif %}
									{% endfor %}
								{% endif %}
								<div class="relative">
									<button type="button" class="ml-px p-2 ring-1 ring-gray-300 rounded-r-md hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
										{{ source('assets/images/arrow.svg') }}
									</button>
									<ul class="dropdown right-0">
										<li class="border-b border-gray-100">
											<a href="{{ path('support_tickets') }}" class="flex w-full py-3 px-5 text-gray-700 text-sm">Все тикеты</a>
										</li>
										{% for val, css in ticket_statuses %}
											<li>
												<a href="{{ path('support_tickets', { sort:val }) }}" class="flex items-center w-full py-3 px-5 space-x-4 text-gray-700 {% if getGet() == val %}text-gray-50 bg-indigo-700{% endif %}">
													<div class="h-2.5 w-2.5 rounded-full bg-{{ css }}-400"></div>
													<span class="text-sm truncate">{{ val }}</span>
												</a>
											</li>
										{% endfor %}
									</ul>
								</div>
							</nav>
						</div>

						<div class="flex items-center space-x-2">
							<div class="w-[180px] relative">
								<div class="pointer-events-none absolute inset-y-0 left-3 flex items-center">
									{{ source('assets/images/search.svg') }}
								</div>
								<input class="inputs block w-full py-2 pl-10 pr-3 text-sm" placeholder="Поиск" type="text">
							</div>
							<div class="flex items-center">
								{% if getGet() %}
									<a href="{{ path('support_tickets') }}" class="inline-flex items-center rounded-l-md ring-1 ring-gray-300 pl-3 pr-4 py-2 space-x-2 hover:bg-gray-50">
										{{ source('assets/images/clear.svg') }}
										<span class="text-gray-700 text-sm font-medium">1</span>
									</a>
								{% endif %}
								<button @click="supportFilters()" type="button" class="inline-flex items-center ml-px pl-3 pr-4 py-2 space-x-2 rounded-{% if getGet() %}r-{% endif %}md ring-1 ring-gray-300 hover:bg-gray-50">
									{{ source('assets/images/filters.svg') }}
									<span class="text-gray-700 text-sm font-medium">Фильтры</span>
								</button>
							</div>
						</div>
					</div>

				{% endblock %}

				{% block table %}

					<div class="mt-2 px-8">
						<div class="min-w-full overflow-hidden overflow-x-auto ring-1 ring-gray-200 rounded-t-lg">

							<table class="min-w-full">
								<thead>
								<tr class="bg-gray-50 border-b border-gray-300 text-sm font-medium">
									<th class="w-10"></th>
									<th class="px-3 py-3 text-left font-medium whitespace-nowrap">ID - Тема</th>
									<th class="w-[184px] px-3 py-3 text-left font-medium">Статус</th>
									<th class="w-[100px] px-3 py-3 text-left font-medium">Приоритет</th>
									<th class="w-[184px] px-3 py-3 text-left font-medium">Департамент</th>
									<th class="w-[180px] px-3 py-3 text-left font-medium">Клиент</th>
									<th class="w-[100px] pl-3 pr-6 py-3 text-left font-medium whitespace-nowrap">Ответ</th>
								</tr>
								</thead>

								<tbody class="divide-y">

								{% for ticket in tickets %}

									{% set table_body %}

										<tr>
											<td class="p-0">
												<input type="checkbox" class="ml-6 flex place-self-center checkbox">
											</td>
											<td class="min-w-[200px] px-3 text-sm">
												<a href="{{ path('support_ticket_answer') }}" class="py-4 font-medium hover:text-indigo-700">
													<p class="line-clamp-1 overflow-hidden" title="#{{ ticket.id }} - {{ ticket.theme }}">#{{ ticket.id }} - {{ ticket.theme }}</p>
												</a>
											</td>
											<td class="whitespace-nowrap px-3">
												{% for val, css in ticket_statuses %}
													{% if ticket.status == val %}
														<span class="inline-block align-middle px-2.5 py-0.5 rounded-full text-xs font-medium bg-{{ css }}-{% if css == 'orange' %}200{% else %}100{% endif %} text-{{ css }}-800 cursor-default">{{ val }}</span>
													{% endif %}
												{% endfor %}
											</td>
											<td class="whitespace-nowrap px-3 py-4">
												{% if ticket.priority == 3 %}
													<div class="h-0.5 w-2.5 rounded bg-green-400"></div>
												{% elseif ticket.priority == 2 %}
													<div class="h-0.5 w-2.5 rounded bg-orange-400"></div>
													<div class="mt-0.5 h-0.5 w-2.5 rounded bg-orange-400"></div>
												{% elseif ticket.priority == 1 %}
													<div class="h-0.5 w-2.5 rounded bg-red-400"></div>
													<div class="mt-0.5 h-0.5 w-2.5 rounded bg-red-400"></div>
													<div class="mt-0.5 h-0.5 w-2.5 rounded bg-red-400"></div>
												{% endif %}
											</td>
											<td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 cursor-default">
												<p>{{ ticket.dept }}</p>
											</td>
											<td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 cursor-default">
												<p class="truncate w-36" title="{{ ticket.client }}">{{ ticket.client }}</p>
											</td>
											<td class="whitespace-nowrap pl-3 pr-6 py-4 text-sm text-gray-500 cursor-default">{{ ticket.time }}</td>
										</tr>

									{% endset %}

									{% if getGet() %}
										{% if ticket.status == getGet() %}
											{{ table_body }}
										{% endif %}
									{% else %}
										{{ table_body }}
									{% endif %}

								{% endfor %}

								</tbody>
							</table>
						</div>

						{% include 'parts/pagination.html.twig' %}

					</div>

				{% endblock %}

				</div>

			</support-settings>

			{% block modals %}
				{% include 'support/modals/support.tickets.close.html.twig' %}
				{% include 'support/modals/support.tickets.delete.html.twig' %}
				{% include 'support/modals/support.tickets.filters.html.twig' %}
			{% endblock %}

		{% endblock %}

		</main>
	</support-module>

{% endblock %}
