<table class="min-w-full divide-y divide-gray-200">
	<thead>
	<tr class="bg-gray-50 text-sm text-gray-900 border border-t">
		<th class="px-6 py-3 text-left font-medium" scope="col">Дата и время</th>
		<th class="px-6 py-3 text-left font-medium" scope="col">Способ оплаты</th>
		<th class="px-6 py-3 text-left font-medium" scope="col">ID транзакции</th>
		<th class="px-6 py-3 text-right font-medium whitespace-nowrap" scope="col">Сумма</th>
		<th class="px-6 py-3 text-right font-medium" scope="col">Комиссия</th>
	</tr>
	</thead>

	<tbody class="divide-y divide-gray-200">

	{% set transactions = [
		{'date': '10/10/2023', 'time': '10:07', 'loc': 'MSK', 'paymethod': 'Intercassa', 'id': '2387468234682364', 'amount': 8, 'commission': 0},
		{'date': '10/10/2023', 'time': '10:07', 'loc': 'MSK', 'paymethod': 'Balance', 'id': '', 'amount': 2, 'commission': 0},
	] %}

	{% for item in transactions %}

		<tr class="text-sm text-gray-500">
			<td class="px-6 py-4">{{ item.date }}, {{ item.time }} ({{ item.loc }})</td>
			<td class="px-6 py-4">{{ item.paymethod }}</td>
			<td class="px-6 py-4">{{ item.id }}</td>
			<td class="px-6 py-4 {% if item.id == false %}text-red-500{% endif %} text-right">${{ item.amount|number_format('2', '.', '') }}</td>
			<td class="px-6 py-4 text-right">${{ item.commission|number_format('2', '.', '') }}</td>
		</tr>

	{% endfor %}

	</tbody>
</table>