{% extends 'support/support.base.html.twig' %}

{% set currentTab = 'answer' %}

{% block content %}

	<support-settings inline-template>

		<div>
			{% block header %}
				{% include 'support/support.header.view.ticket.html.twig' %}
			{% endblock %}

			<div class="py-6 px-8 space-y-6">
				<div class="pb-2">
					<div class="flex py-5 px-6 space-x-4 bg-yellow-50 rounded-lg">
						<div>
							{{ source('assets/images/important.svg') }}
						</div>
						<p class="text-gray-700 text-sm">Ipsum lacus id gravida venenatis velit cursus aliquet eros. Massa at habitant potenti senectus id pretium faucibus. Odio libero placerat lectus lectus eget tortor scelerisque tincidunt. Sed ultricies consequat interdum vel mauris nunc. Orci fermentum consequat semper tortor.</p>
						<button type="button" class="-rotate-90">
							{{ source('assets/images/arrow.svg') }}
						</button>
					</div>
				</div>

				<div class="flex items-center justify-between py-4 px-6 space-x-4 bg-blue-50 rounded-lg">
					<div class="grow text-blue-800 text-sm font-medium">Взял тикет для ответа</div>
					<div class="flex items-center h-7 pl-2 pr-3 space-x-1 bg-blue-100 rounded-full text-blue-700">
						{{ source('assets/images/clock.svg') }}
						<span class="text-blue-800 text-xs font-medium">2:21</span>
					</div>
					<button type="button" class="py-2 px-3 rounded-md bg-blue-600 text-white text-sm leading-4 font-medium hover:bg-blue-700">Освободить</button>
				</div>

				<form>
					<div class="relative rounded-md ring-1 ring-gray-300">

						{% include 'parts/text.editor.head.html.twig' %}

						<div class="px-6 py-4 space-y-4">
							<input class="w-full border-0 focus:outline-none text-sm placeholder-gray-400" placeholder="Содержание тикета">
							<div class="flex space-x-2.5">
								<div class="flex items-center space-x-2 py-2 px-3 bg-gray-50 rounded-full text-gray-400">
									{{ source('assets/images/documents.svg') }}
									<span class="text-sm font-medium text-gray-800 cursor-default">Documents.zip</span>
									<button type="button" class="text-gray-500 hover:text-gray-900">
										{{ source('assets/images/x-mark.svg') }}
									</button>
								</div>
								<button type="button" class="flex items-center space-x-2 py-2 px-3 bg-gray-50 rounded-full hover:bg-gray-200">
									{{ source('assets/images/add-file.svg') }}
									<span class="text-sm font-medium text-gray-500">Прикрепить файл</span>
								</button>
							</div>

							<div class="flex space-x-3">
								<input class="inputs flex grow py-2 px-4 text-sm" placeholder="Добавить запись о выставлении инвойса" type="text">
								<div class="w-[131px] relative">
									<div class="absolute inset-y-0 left-3 flex items-center text-sm cursor-default">$</div>
									<input class="inputs block w-full py-2 pl-10 pr-3 text-sm" placeholder="0.00" type="text">
								</div>
							</div>
						</div>

						<hr>

						{% include 'support/parts/prepared.answers.html.twig' %}

					</div>

					<div class="flex justify-between mt-6">
						<div class="flex space-x-3">
							<div class="relative">
								<button type="button" class="w-[230px] flex items-center py-2 px-3 space-x-2 rounded-md ring-1 ring-gray-300 hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
									<div class="h-5 w-5 grid place-content-center space-y-0.5 pointer-events-none">
										<div class="h-0.5 w-2.5 rounded bg-orange-400"></div>
										<div class="h-0.5 w-2.5 rounded bg-orange-400"></div>
									</div>
									<div class="grow pointer-events-none text-sm text-left">Средний приоритет</div>
									{{ source('assets/images/arrow.svg') }}
								</button>
								<ul class="dropdown w-[230px]">
									<li>
										<button type="button" class="w-full flex items-center py-2 px-4 space-x-3">
											<div class="h-0.5 w-2.5 rounded bg-green-400"></div>
											<span class="text-gray-700 text-sm">Низкий приоритет</span>
										</button>
									</li>
									<li>
										<button type="button" class="w-full flex items-center py-2 px-4 space-x-3">
											<div class="space-y-0.5">
												<div class="h-0.5 w-2.5 rounded bg-orange-400"></div>
												<div class="h-0.5 w-2.5 rounded bg-orange-400"></div>
											</div>
											<span class="text-gray-700 text-sm">Средний приоритет</span>
										</button>
									</li>
									<li>
										<button type="button" class="w-full flex items-center py-2 px-4 space-x-3">
											<div class="space-y-0.5">
												<div class="h-0.5 w-2.5 rounded bg-red-400"></div>
												<div class="h-0.5 w-2.5 rounded bg-red-400"></div>
												<div class="h-0.5 w-2.5 rounded bg-red-400"></div>
											</div>
											<span class="text-gray-700 text-sm">Высокий приоритет</span>
										</button>
									</li>
								</ul>
							</div>

							{% set dept_list = ['Служба поддержки', 'Администрирование', 'Перезагрузка сервера', 'Биллинг'] %}

							<div class="relative">
								<button type="button" class="w-[230px] flex items-center py-2 px-3 space-x-2 rounded-md ring-1 ring-gray-300 hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
									{{ source('assets/images/users.svg') }}
									<div class="grow text-sm text-left pointer-events-none">Служба поддержки</div>
									{{ source('assets/images/arrow.svg') }}
								</button>
								<ul class="dropdown w-[230px]">
									{% for i in dept_list %}
										<li>
											<button type="button" class="w-full py-2 px-4 text-gray-700 text-sm text-left">{{ i }}</button>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>

						<div class="flex">
							<div class="flex items-center space-x-3">
								<input type="checkbox" id="violation" class="checkbox">
								<label for="violation" class="text-gray-500 text-sm">Нарушение</label>
							</div>
							<div class="ml-4 flex items-center space-x-3">
								<input type="checkbox" id="return_to_list" class="checkbox">
								<label for="return_to_list" class="text-gray-500 text-sm truncate">Вернуться к списку</label>
							</div>
							<button @click="supportTicketAddAnswer()" type="button" class="ml-4 rounded-l-md bg-indigo-600 py-2 px-4 font-medium text-sm text-white hover:bg-indigo-700">Добавить ответ</button>
							<div class="relative">
								<button type="button" class="p-2 rounded-r-md bg-indigo-600 hover:bg-indigo-700" aria-expanded="false" aria-expanded-autohide>
									<svg class="arrow pointer-events-none" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M5.23017 7.20938C5.52875 6.92228 6.00353 6.93159 6.29063 7.23017L10 11.1679L13.7094 7.23017C13.9965 6.93159 14.4713 6.92228 14.7698 7.20938C15.0684 7.49647 15.0777 7.97125 14.7906 8.26983L10.5406 12.7698C10.3992 12.9169 10.204 13 10 13C9.79599 13 9.60078 12.9169 9.45938 12.7698L5.20938 8.26983C4.92228 7.97125 4.93159 7.49647 5.23017 7.20938Z" fill="white"/>
									</svg>
								</button>
								<ul class="dropdown right-0">
									{% for val, css in ticket_statuses %}
										{% if val not in ['Open', 'Customer reply'] %}
											<li>
												<button type="button" class="w-full flex items-center py-2 px-4 space-x-4 text-left">
													<span class="h-2.5 w-2.5 rounded-full bg-{{ css }}-400"></span>
													<span class="text-gray-700 text-sm whitespace-nowrap">Ответ и {{ val }}</span>
												</button>
											</li>
										{% endif %}
									{% endfor %}
									<li class="border-t">
										<button type="button" class="w-full py-2 px-4 text-gray-700 text-sm text-left">Ответить заметкой</button>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</form>

				<hr>

			</div>

			<div class="px-8 space-y-4">
				{% for message in messages %}
					{% if message.type == 'admin_note' %}
						{% include 'parts/note.html.twig' %}
					{% endif %}
				{% endfor %}

				{% for message in messages %}
					{% if message.type != 'admin_note' %}
						{% include 'parts/note.html.twig' %}
					{% endif %}
				{% endfor %}

			</div>
		</div>

	</support-settings>

	{% block modals %}
		{% include 'support/modals/support.ticket.note.delete.html.twig' %}
		{% include 'support/modals/support.ticket.admin.answer.delete.html.twig' %}
	{% endblock %}

{% endblock %}
