{% extends 'support/support.base.html.twig' %}

{% set currentTab = 'answer' %}

{% block content %}

	<support-settings inline-template>

		<div>
			{% block header %}
				{% include 'support/support.header.view.ticket.html.twig' %}
			{% endblock %}

			<div class="py-6 px-8 space-y-6">
				<div class="pb-2">
					<div class="flex py-4 px-6 space-x-4 bg-yellow-50 rounded-lg">
						<svg class="shrink-0" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M18 10C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10ZM10 5C10.4142 5 10.75 5.33579 10.75 5.75V10.25C10.75 10.6642 10.4142 11 10 11C9.58579 11 9.25 10.6642 9.25 10.25V5.75C9.25 5.33579 9.58579 5 10 5ZM10 15C10.5523 15 11 14.5523 11 14C11 13.4477 10.5523 13 10 13C9.44771 13 9 13.4477 9 14C9 14.5523 9.44771 15 10 15Z" fill="#F97316"/>
						</svg>
						<p class="text-gray-700 text-sm">Ipsum lacus id gravida venenatis velit cursus aliquet eros. Massa at habitant potenti senectus id pretium faucibus. Odio libero placerat lectus lectus eget tortor scelerisque tincidunt. Sed ultricies consequat interdum vel mauris nunc. Orci fermentum consequat semper tortor.</p>
					</div>
				</div>

				<div class="flex items-center justify-between py-4 px-6 space-x-4 bg-blue-50 rounded-lg">
					<div class="grow text-blue-800 text-sm font-medium">Взял тикет для ответа</div>
					<div class="flex items-center h-7 pl-2 pr-3 space-x-1 bg-blue-100 rounded-full">
						<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18ZM10.75 5C10.75 4.58579 10.4142 4.25 10 4.25C9.58579 4.25 9.25 4.58579 9.25 5V10C9.25 10.4142 9.58579 10.75 10 10.75H14C14.4142 10.75 14.75 10.4142 14.75 10C14.75 9.58579 14.4142 9.25 14 9.25H10.75V5Z" fill="#1D4ED8"/>
						</svg>
						<span class="text-blue-800 text-xs font-medium">2:21</span>
					</div>
					<button type="button" class="inline-flex items-center py-[9px] px-[13px] rounded-md bg-blue-600 text-white text-sm leading-4 font-medium shadow-sm hover:bg-blue-700">Освободить</button>
				</div>

				<form>
					<div class="relative rounded-md border border-gray-300">
						<div class="h-[50px] flex p-2 space-x-2 border-b border-gray-300">
							<button type="button" class="flex items-center p-2 space-x-1 text-left hover:bg-gray-100 hover:text-gray-900 focus:bg-gray-100 focus:text-gray-900">
								<span class="text-gray-600 text-sm">Paragraph</span>
								<svg class="h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
									<path fill-rule="evenodd" d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z" clip-rule="evenodd" />
								</svg>
							</button>
							<div class="flex items-center space-x-0.5 text-sm text-gray-500">
								<button type="button" class="h-9 w-9 p-2 hover:bg-gray-100 hover:text-gray-900 focus:bg-gray-100 focus:text-gray-900">B</button>
								<button type="button" class="h-9 w-9 p-2 hover:bg-gray-100 hover:text-gray-900 focus:bg-gray-100 focus:text-gray-900 italic">I</button>
								<button type="button" class="h-9 w-9 p-2 hover:bg-gray-100 hover:text-gray-900 focus:bg-gray-100 focus:text-gray-900 underline">U</button>
								<button type="button" class="h-9 w-9 p-2 hover:bg-gray-100 hover:text-gray-900 focus:bg-gray-100 focus:text-gray-900"><s>S</s></button>
							</div>
							<div class="flex items-center space-x-0.5">
								<button type="button" class="h-9 w-9 p-2 hover:bg-gray-100 hover:text-gray-900 focus:bg-gray-100">
									<svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M5.00024 1.75C5.00024 1.33579 5.33603 1 5.75024 1H16.2502C16.6645 1 17.0002 1.33579 17.0002 1.75C17.0002 2.16421 16.6645 2.5 16.2502 2.5H5.75024C5.33603 2.5 5.00024 2.16421 5.00024 1.75ZM5.00024 7C5.00024 6.58579 5.33603 6.25 5.75024 6.25H16.2502C16.6645 6.25 17.0002 6.58579 17.0002 7C17.0002 7.41421 16.6645 7.75 16.2502 7.75H5.75024C5.33603 7.75 5.00024 7.41421 5.00024 7ZM5.00024 12.25C5.00024 11.8358 5.33603 11.5 5.75024 11.5H16.2502C16.6645 11.5 17.0002 11.8358 17.0002 12.25C17.0002 12.6642 16.6645 13 16.2502 13H5.75024C5.33603 13 5.00024 12.6642 5.00024 12.25Z" fill="#6B7280"/>
										<path fill-rule="evenodd" clip-rule="evenodd" d="M0.990234 1.75C0.990234 1.19772 1.43795 0.75 1.99023 0.75H2.00023C2.55252 0.75 3.00023 1.19772 3.00023 1.75V1.76C3.00023 2.31228 2.55252 2.76 2.00023 2.76H1.99023C1.43795 2.76 0.990234 2.31228 0.990234 1.76V1.75Z" fill="#6B7280"/>
										<path fill-rule="evenodd" clip-rule="evenodd" d="M0.990234 12.25C0.990234 11.6977 1.43795 11.25 1.99023 11.25H2.00023C2.55252 11.25 3.00023 11.6977 3.00023 12.25V12.26C3.00023 12.8123 2.55252 13.26 2.00023 13.26H1.99023C1.43795 13.26 0.990234 12.8123 0.990234 12.26V12.25Z" fill="#6B7280"/>
										<path fill-rule="evenodd" clip-rule="evenodd" d="M0.990234 7C0.990234 6.44772 1.43795 6 1.99023 6H2.00023C2.55252 6 3.00023 6.44772 3.00023 7V7.01C3.00023 7.56228 2.55252 8.01 2.00023 8.01H1.99023C1.43795 8.01 0.990234 7.56228 0.990234 7.01V7Z" fill="#6B7280"/>
									</svg>
								</button>
								<button type="button" class="h-9 w-9 p-2 hover:bg-gray-100 hover:text-gray-900 focus:bg-gray-100">
									<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M3.34505 5.96154V3.27832H2.67424L2.01392 3.68185V4.30025L2.60087 3.94913H2.61659V5.96154H3.34505Z" fill="#6B7280"/>
										<path d="M6.75024 4.00012C6.33603 4.00012 6.00024 4.33591 6.00024 4.75012C6.00024 5.16434 6.33603 5.50012 6.75024 5.50012H17.2502C17.6645 5.50012 18.0002 5.16434 18.0002 4.75012C18.0002 4.33591 17.6645 4.00012 17.2502 4.00012H6.75024Z" fill="#6B7280"/>
										<path d="M6.75024 9.25012C6.33603 9.25012 6.00024 9.58591 6.00024 10.0001C6.00024 10.4143 6.33603 10.7501 6.75024 10.7501H17.2502C17.6645 10.7501 18.0002 10.4143 18.0002 10.0001C18.0002 9.58591 17.6645 9.25012 17.2502 9.25012H6.75024Z" fill="#6B7280"/>
										<path d="M6.75024 14.5001C6.33603 14.5001 6.00024 14.8359 6.00024 15.2501C6.00024 15.6643 6.33603 16.0001 6.75024 16.0001H17.2502C17.6645 16.0001 18.0002 15.6643 18.0002 15.2501C18.0002 14.8359 17.6645 14.5001 17.2502 14.5001H6.75024Z" fill="#6B7280"/>
										<path d="M2.03556 10.9619V10.4378L3.03653 9.60976C3.10291 9.55473 3.15968 9.5032 3.20685 9.45516C3.25489 9.40625 3.29158 9.35602 3.31691 9.30449C3.34311 9.25296 3.35621 9.19575 3.35621 9.13286C3.35621 9.06386 3.34136 9.0049 3.31166 8.95599C3.28284 8.90707 3.24266 8.86951 3.19113 8.84331C3.1396 8.81623 3.0802 8.8027 3.01295 8.8027C2.94569 8.8027 2.8863 8.81623 2.83476 8.84331C2.7841 8.87039 2.7448 8.91013 2.71685 8.96254C2.6889 9.01494 2.67492 9.0787 2.67492 9.15382H1.98315C1.98315 8.96516 2.02552 8.8027 2.11024 8.66644C2.19496 8.53018 2.31463 8.42537 2.46923 8.352C2.62383 8.27863 2.80507 8.24194 3.01295 8.24194C3.22781 8.24194 3.41386 8.27644 3.57108 8.34545C3.72917 8.41358 3.85102 8.50965 3.93661 8.63368C4.02309 8.75771 4.06632 8.90314 4.06632 9.06997C4.06632 9.17304 4.04492 9.27567 4.00212 9.37786C3.95932 9.47918 3.88246 9.59142 3.77153 9.71457C3.66061 9.83773 3.50295 9.98447 3.29856 10.1548L3.04701 10.3644V10.3801H4.09514V10.9619H2.03556Z" fill="#6B7280"/>
										<path d="M2.41536 16.1514C2.57957 16.2239 2.76736 16.2601 2.97873 16.2601C3.19797 16.2601 3.39143 16.2256 3.55914 16.1566C3.72771 16.0876 3.85916 15.9924 3.9535 15.871C4.0487 15.7496 4.09587 15.6103 4.09499 15.4531C4.09674 15.2889 4.04303 15.1526 3.93384 15.0443C3.82466 14.9351 3.66177 14.8687 3.44515 14.8452V14.8242C3.60499 14.8067 3.73688 14.7499 3.84082 14.6539C3.94564 14.5578 3.99717 14.4346 3.99542 14.2844C3.9963 14.1333 3.9535 13.9992 3.86703 13.8822C3.78143 13.7643 3.6622 13.6717 3.50935 13.6044C3.35737 13.5372 3.18224 13.5035 2.98397 13.5035C2.78133 13.5035 2.60184 13.5394 2.44549 13.611C2.28915 13.6826 2.16599 13.7813 2.07603 13.9071C1.98693 14.0328 1.94195 14.1778 1.94108 14.342H2.63809C2.63896 14.2879 2.65425 14.2399 2.68394 14.1979C2.71364 14.156 2.75426 14.1232 2.80579 14.0997C2.8582 14.0761 2.91759 14.0643 2.98397 14.0643C3.04511 14.0643 3.09883 14.0756 3.14512 14.0984C3.19229 14.1211 3.22897 14.1525 3.25518 14.1927C3.28138 14.2329 3.29405 14.2792 3.29317 14.3316C3.29405 14.3857 3.27876 14.4338 3.24732 14.4757C3.21675 14.5176 3.17351 14.5504 3.11761 14.5739C3.06258 14.5975 2.99882 14.6093 2.92632 14.6093H2.65381V15.1124H2.92632C3.00493 15.1124 3.07437 15.1242 3.13464 15.1478C3.19491 15.1714 3.24164 15.2041 3.27483 15.2461C3.30889 15.288 3.32549 15.336 3.32462 15.3902C3.32549 15.4452 3.31151 15.4941 3.28269 15.5369C3.25387 15.5797 3.21369 15.6133 3.16215 15.6378C3.11062 15.6614 3.05123 15.6732 2.98397 15.6732C2.9141 15.6732 2.85208 15.6618 2.79793 15.6391C2.74377 15.6164 2.70098 15.585 2.66953 15.5448C2.63896 15.5037 2.62324 15.4574 2.62237 15.4059H1.88867C1.88955 15.5727 1.93671 15.7203 2.03017 15.8487C2.12363 15.9771 2.25202 16.078 2.41536 16.1514Z" fill="#6B7280"/>
									</svg>
								</button>
							</div>
							<div class="flex items-center space-x-0.5">
								<button type="button" class="h-9 w-9 p-2 hover:bg-gray-100 hover:text-gray-900 focus:bg-gray-100 focus:text-gray-900">
									<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M1 5.25C1 4.00736 2.00736 3 3.25 3H16.75C17.9926 3 19 4.00736 19 5.25V14.75C19 15.9926 17.9926 17 16.75 17H3.25C2.00736 17 1 15.9926 1 14.75V5.25ZM2.5 11.0607V14.75C2.5 15.1642 2.83579 15.5 3.25 15.5H16.75C17.1642 15.5 17.5 15.1642 17.5 14.75V12.0607L15.2803 9.84099C14.9874 9.5481 14.5126 9.5481 14.2197 9.84099L12.3107 11.75L12.7803 12.2197C13.0732 12.5126 13.0732 12.9874 12.7803 13.2803C12.4874 13.5732 12.0126 13.5732 11.7197 13.2803L6.53033 8.09099C6.23744 7.7981 5.76256 7.7981 5.46967 8.09099L2.5 11.0607ZM12 7C12 7.55228 11.5523 8 11 8C10.4477 8 10 7.55228 10 7C10 6.44772 10.4477 6 11 6C11.5523 6 12 6.44772 12 7Z" fill="#6B7280"/>
									</svg>
								</button>
								<button type="button" class="h-9 w-9 p-2 hover:bg-gray-100 hover:text-gray-900 focus:bg-gray-100 focus:text-gray-900">
									<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.2322 4.23223C13.2085 3.25592 14.7915 3.25592 15.7678 4.23223C16.7441 5.20854 16.7441 6.79146 15.7678 7.76777L14.5434 8.9921C14.2505 9.28499 14.2505 9.75987 14.5434 10.0528C14.8363 10.3457 15.3112 10.3457 15.6041 10.0528L16.8284 8.82843C18.3905 7.26633 18.3905 4.73367 16.8284 3.17157C15.2663 1.60948 12.7337 1.60948 11.1716 3.17157L8.17157 6.17157C6.60948 7.73367 6.60948 10.2663 8.17157 11.8284C8.24449 11.9013 8.31963 11.9709 8.3968 12.0372C8.71107 12.307 9.18457 12.271 9.45441 11.9567C9.72424 11.6425 9.68822 11.169 9.37395 10.8991C9.32556 10.8576 9.27828 10.8138 9.23223 10.7678C8.25592 9.79145 8.25592 8.20854 9.23223 7.23223L12.2322 4.23223Z" fill="#6B7280"/>
										<path d="M11.6032 7.96278C11.2889 7.69295 10.8154 7.72897 10.5456 8.04324C10.2758 8.3575 10.3118 8.83101 10.626 9.10084C10.6744 9.14239 10.7217 9.18618 10.7678 9.23222C11.7441 10.2085 11.7441 11.7914 10.7678 12.7678L7.76777 15.7678C6.79146 16.7441 5.20854 16.7441 4.23223 15.7678C3.25592 14.7914 3.25592 13.2085 4.23223 12.2322L5.45657 11.0079C5.74946 10.715 5.74946 10.2401 5.45657 9.94723C5.16367 9.65433 4.6888 9.65433 4.39591 9.94723L3.17157 11.1716C1.60948 12.7337 1.60948 15.2663 3.17157 16.8284C4.73367 18.3905 7.26633 18.3905 8.82843 16.8284L11.8284 13.8284C13.3905 12.2663 13.3905 9.73366 11.8284 8.17156C11.7555 8.09864 11.6804 8.02904 11.6032 7.96278Z" fill="#6B7280"/>
									</svg>
								</button>
								<button type="button" class="h-9 w-9 p-2 hover:bg-gray-100 hover:text-gray-900 focus:bg-gray-100 focus:text-gray-900">
									<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M6.28033 5.21979C6.57322 5.51269 6.57322 5.98756 6.28033 6.28045L2.56066 10.0001L6.28033 13.7198C6.57322 14.0127 6.57322 14.4876 6.28033 14.7805C5.98744 15.0733 5.51256 15.0733 5.21967 14.7805L0.96967 10.5305C0.676777 10.2376 0.676777 9.76269 0.96967 9.46979L5.21967 5.21979C5.51256 4.9269 5.98744 4.9269 6.28033 5.21979ZM13.7197 5.21979C14.0126 4.9269 14.4874 4.9269 14.7803 5.21979L19.0303 9.46979C19.3232 9.76269 19.3232 10.2376 19.0303 10.5305L14.7803 14.7805C14.4874 15.0733 14.0126 15.0733 13.7197 14.7805C13.4268 14.4876 13.4268 14.0127 13.7197 13.7198L17.4393 10.0001L13.7197 6.28045C13.4268 5.98756 13.4268 5.51269 13.7197 5.21979Z" fill="#6B7280"/>
										<path fill-rule="evenodd" clip-rule="evenodd" d="M11.3774 2.01103C11.7856 2.0814 12.0595 2.46936 11.9891 2.87755L9.48909 17.3776C9.41872 17.7857 9.03076 18.0596 8.62257 17.9892C8.21438 17.9188 7.94053 17.5309 8.0109 17.1227L10.5109 2.62269C10.5813 2.2145 10.9692 1.94065 11.3774 2.01103Z" fill="#6B7280"/>
									</svg>
								</button>
								<button type="button" class="h-9 w-9 p-2 hover:bg-gray-100 hover:text-gray-900 focus:bg-gray-100 focus:text-gray-900">
									<svg width="20" height="20" viewBox="-5 -5 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M1.106 8C0.495175 8 0 7.48833 0 6.85714V5.71429C0 5.68875 0.000810562 5.66341 0.00240661 5.63829C0.0202866 5.0371 0.137796 4.40695 0.354936 3.74785C0.59156 3.02961 0.920615 2.34193 1.3421 1.68481C1.76359 1.0277 2.25902 0.466092 2.82839 0L4.46997 1.2149C4.01891 1.89494 3.63439 2.60554 3.31643 3.3467C3.14902 3.73694 3.02568 4.14518 2.94641 4.57143H3.31802C3.92885 4.57143 4.42402 5.0831 4.42402 5.71429V6.85714C4.42402 7.48833 3.92885 8 3.31802 8H1.106Z" fill="#6B7280"/>
										<path d="M6.63603 8C6.0252 8 5.53003 7.48833 5.53003 6.85714V5.71429C5.53003 5.68875 5.53084 5.6634 5.53243 5.63828C5.55031 5.03709 5.66782 4.40695 5.88496 3.74785C6.12159 3.02961 6.45064 2.34193 6.87213 1.68481C7.29361 1.0277 7.78905 0.466092 8.35842 0L10 1.2149C9.54893 1.89494 9.16442 2.60554 8.84646 3.3467C8.67905 3.73694 8.55571 4.14518 8.47644 4.57143H8.84804C9.45887 4.57143 9.95405 5.0831 9.95405 5.71429V6.85714C9.95405 7.48833 9.45887 8 8.84804 8H6.63603Z" fill="#6B7280"/>
									</svg>
								</button>
							</div>
						</div>

						<div class="px-6 py-4 space-y-4">
							<input class="w-full border-0 focus:outline-none text-sm placeholder-gray-400" placeholder="Содержание тикета">
							<div class="flex space-x-2.5">
								<div class="flex items-center space-x-2 py-2 px-3 bg-gray-50 rounded-full">
									<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M7 3.5C7 2.67157 7.67157 2 8.5 2H12.3787C12.7765 2 13.158 2.15804 13.4393 2.43934L16.5607 5.56066C16.842 5.84197 17 6.2235 17 6.62132V12.5C17 13.3284 16.3284 14 15.5 14H14.5V10.6213C14.5 9.82567 14.1839 9.06261 13.6213 8.5L10.5 5.37868C9.93739 4.81607 9.17433 4.5 8.37868 4.5H7V3.5Z" fill="#9CA3AF"/>
										<path d="M4.5 6C3.67157 6 3 6.67157 3 7.5V16.5C3 17.3284 3.67157 18 4.5 18H11.5C12.3284 18 13 17.3284 13 16.5V10.6213C13 10.2235 12.842 9.84197 12.5607 9.56066L9.43934 6.43934C9.15804 6.15804 8.7765 6 8.37868 6H4.5Z" fill="#9CA3AF"/>
									</svg>
									<span class="text-sm font-medium text-gray-800 cursor-default">Documents.zip</span>
									<button type="button">
										<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
											<path d="M6.28033 5.21967C5.98744 4.92678 5.51256 4.92678 5.21967 5.21967C4.92678 5.51256 4.92678 5.98744 5.21967 6.28033L8.93934 10L5.21967 13.7197C4.92678 14.0126 4.92678 14.4874 5.21967 14.7803C5.51256 15.0732 5.98744 15.0732 6.28033 14.7803L10 11.0607L13.7197 14.7803C14.0126 15.0732 14.4874 15.0732 14.7803 14.7803C15.0732 14.4874 15.0732 14.0126 14.7803 13.7197L11.0607 10L14.7803 6.28033C15.0732 5.98744 15.0732 5.51256 14.7803 5.21967C14.4874 4.92678 14.0126 4.92678 13.7197 5.21967L10 8.93934L6.28033 5.21967Z" fill="#6B7280"/>
										</svg>
									</button>
								</div>
								<button type="button" class="flex items-center space-x-2 py-2 px-3 bg-gray-50 rounded-full">
									<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18ZM10.75 6.75C10.75 6.33579 10.4142 6 10 6C9.58579 6 9.25 6.33579 9.25 6.75V9.25H6.75C6.33579 9.25 6 9.58579 6 10C6 10.4142 6.33579 10.75 6.75 10.75H9.25V13.25C9.25 13.6642 9.58579 14 10 14C10.4142 14 10.75 13.6642 10.75 13.25V10.75H13.25C13.6642 10.75 14 10.4142 14 10C14 9.58579 13.6642 9.25 13.25 9.25H10.75V6.75Z" fill="#9CA3AF"/>
									</svg>
									<span class="text-sm font-medium text-gray-500">Прикрепить файл</span>
								</button>
							</div>
							<div class="flex space-x-3">
								<input class="flex grow py-[9px] px-[13px] border border-gray-300 rounded-md text-sm focus:outline-none placeholder-gray-400" placeholder="Добавить запись о выставлении инвойса">
								<div class="w-[131px] flex items-center border border-gray-300 rounded-md text-sm overflow-hidden">
									<span class="py-[9px] px-[13px] cursor-default">$</span>
									<input class="py-[9px] px-[13px] placeholder-gray-400 truncate focus:outline-none" placeholder="0.00">
								</div>
							</div>
						</div>

						<hr>

						<nav class="ticket-answers">
							<button aria-expanded="false" type="button" class="overflow-x-auto w-full group flex justify-between px-6 py-4 rounded-b-md hover:bg-gray-50">
								<div class="flex items-center pointer-events-none space-x-3">
									<svg class="text-gray-400 change_icon_color" width="20" height="20" viewBox="0 -1 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M10.75 16.8195C11.9579 15.9871 13.4212 15.5 15 15.5C15.7103 15.5 16.3964 15.5985 17.0459 15.7822C17.272 15.8462 17.515 15.8005 17.7024 15.6587C17.8899 15.5169 18 15.2955 18 15.0605V4.06055C18 3.72495 17.7771 3.4302 17.4541 3.33886C16.6731 3.11796 15.8497 3 15 3C13.4636 3 12.016 3.38549 10.75 4.06487V16.8195Z" fill="currentColor"/>
										<path d="M9.25 4.06487C7.98396 3.38549 6.5364 3 5 3C4.15029 3 3.32689 3.11796 2.54588 3.33886C2.22295 3.4302 2 3.72495 2 4.06055V15.0605C2 15.2955 2.11014 15.5169 2.29756 15.6587C2.48497 15.8005 2.728 15.8462 2.95412 15.7822C3.60361 15.5985 4.28967 15.5 5 15.5C6.57884 15.5 8.04208 15.9871 9.25 16.8195V4.06487Z" fill="currentColor"/>
									</svg>
									<span class="text-sm font-medium text-gray-500 change_text_color">Готовый ответ</span>
								</div>
								<svg class="arrow duration-100 pointer-events-none text-gray-400" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M5.23017 7.20938C5.52875 6.92228 6.00353 6.93159 6.29063 7.23017L10 11.1679L13.7094 7.23017C13.9965 6.93159 14.4713 6.92228 14.7698 7.20938C15.0684 7.49647 15.0777 7.97125 14.7906 8.26983L10.5406 12.7698C10.3992 12.9169 10.204 13 10 13C9.79599 13 9.60078 12.9169 9.45938 12.7698L5.20938 8.26983C4.92228 7.97125 4.93159 7.49647 5.23017 7.20938Z" fill="currentColor"/>
								</svg>
							</button>

							<div class="bg-gray-50 rounded-b-md">
								<div class="flex py-4 px-6 text-sm">
									<button type="button" class="p-2 px-4 text-gray-700 font-medium rounded-l-md border border-gray-300 bg-white hover:bg-gray-50">RU</button>
									<button type="button" class="-ml-px p-2 px-4 text-gray-700 font-medium rounded-r-md border border-gray-300 bg-white hover:bg-gray-50">EN</button>
									<div class="relative ml-2 w-full">
										<div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
											<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
												<path fill-rule="evenodd" clip-rule="evenodd" d="M9 3.5C5.96243 3.5 3.5 5.96243 3.5 9C3.5 12.0376 5.96243 14.5 9 14.5C10.519 14.5 11.893 13.8852 12.8891 12.8891C13.8852 11.893 14.5 10.519 14.5 9C14.5 5.96243 12.0376 3.5 9 3.5ZM2 9C2 5.13401 5.13401 2 9 2C12.866 2 16 5.13401 16 9C16 10.6625 15.4197 12.1906 14.4517 13.3911L17.7803 16.7197C18.0732 17.0126 18.0732 17.4874 17.7803 17.7803C17.4874 18.0732 17.0126 18.0732 16.7197 17.7803L13.3911 14.4517C12.1906 15.4197 10.6625 16 9 16C5.13401 16 2 12.866 2 9Z" fill="#6B7280"/>
											</svg>
										</div>
										<input class="block w-full rounded-md border border-gray-300 bg-white py-2 pl-10 pr-3 leading-5 placeholder-gray-400 focus:border-indigo-500 focus:placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-indigo-500 sm:text-sm" placeholder="Поиск" type="search">
									</div>
								</div>

								{% set nav1 = ['Нарушения', 'IP адреса', 'SSL сертификаты', 'Биллинг', 'Бухгалтерия', 'Верификация', 'Вопросы по заказу', 'Партнёрская программа', 'Уведомления'] %}
								{% set nav2 = ['BREIN', 'SMTP KYC', 'Благодарим за решение проблемы', 'Жалоба на сервер', 'Разблокировка в случае серьёзных жалоб / KYC', 'Требуется верификация для разблокировки ВПС'] %}

								<div class="py-4 px-6">
									<div class="flex space-x-4">
										<nav class="w-60 space-y-1">
											{% for item in nav1 %}
												<button type="button" class="text-gray-600 hover:bg-gray-200 hover:text-gray-900 flex items-center px-3 py-2 text-sm font-medium rounded-md">
													<span class="truncate">{{ item }}</span>
												</button>
											{% endfor %}
										</nav>

										<div class="grow space-y-1 text-sm text-gray-600">
											{% for item in nav2 %}
												<button type="button" class="flex items-center w-fit py-2 px-3 space-x-2 bg-gray-100 rounded-lg hover:bg-gray-200 hover:text-gray-900">
													<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path fill-rule="evenodd" clip-rule="evenodd" d="M10 2C7.76407 2 5.56943 2.17905 3.42976 2.52374C1.99339 2.75513 1 4.01325 1 5.42588V10.5741C1 11.9867 1.99338 13.2449 3.42976 13.4763C4.59764 13.6644 5.78193 13.8032 6.9804 13.8905C7.2601 13.9108 7.5012 14.0703 7.62247 14.3035L9.33459 17.596C9.46367 17.8443 9.7202 18 10 18C10.2798 18 10.5363 17.8443 10.6654 17.596L12.3775 14.3035C12.4988 14.0703 12.7399 13.9108 13.0196 13.8905C14.2181 13.8032 15.4024 13.6644 16.5702 13.4763C18.0066 13.2449 19 11.9867 19 10.5741V5.42588C19 4.01325 18.0066 2.75513 16.5702 2.52374C14.4306 2.17905 12.2359 2 10 2ZM6.75 6C6.33579 6 6 6.33579 6 6.75C6 7.16421 6.33579 7.5 6.75 7.5H13.25C13.6642 7.5 14 7.16421 14 6.75C14 6.33579 13.6642 6 13.25 6H6.75ZM6.75 8.5C6.33579 8.5 6 8.83579 6 9.25C6 9.66421 6.33579 10 6.75 10H10.25C10.6642 10 11 9.66421 11 9.25C11 8.83579 10.6642 8.5 10.25 8.5H6.75Z" fill="#9CA3AF"/>
													</svg>
													<span>{{ item }}</span>
												</button>
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
						</nav>
					</div>

					<div class="flex justify-between mt-6">
						<div class="flex space-x-3">
							<div class="relative">
								<button type="button" class="w-[230px] flex items-center py-2 px-3 space-x-2 rounded-md border border-gray-300 shadow-sm hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
									<div class="h-5 w-5 grid place-content-center space-y-0.5 pointer-events-none">
										<div class="h-0.5 w-2.5 rounded bg-orange-400"></div>
										<div class="h-0.5 w-2.5 rounded bg-orange-400"></div>
									</div>
									<div class="grow pointer-events-none text-sm text-left">Средний приоритет</div>
									<svg class="pointer-events-none" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M10 3C10.2652 3 10.5196 3.10536 10.7071 3.29289L13.7071 6.29289C14.0976 6.68342 14.0976 7.31658 13.7071 7.70711C13.3166 8.09763 12.6834 8.09763 12.2929 7.70711L10 5.41421L7.70711 7.70711C7.31658 8.09763 6.68342 8.09763 6.29289 7.70711C5.90237 7.31658 5.90237 6.68342 6.29289 6.29289L9.29289 3.29289C9.48043 3.10536 9.73478 3 10 3ZM6.29289 12.2929C6.68342 11.9024 7.31658 11.9024 7.70711 12.2929L10 14.5858L12.2929 12.2929C12.6834 11.9024 13.3166 11.9024 13.7071 12.2929C14.0976 12.6834 14.0976 13.3166 13.7071 13.7071L10.7071 16.7071C10.3166 17.0976 9.68342 17.0976 9.29289 16.7071L6.29289 13.7071C5.90237 13.3166 5.90237 12.6834 6.29289 12.2929Z" fill="#9CA3AF"/>
									</svg>
								</button>
								<ul class="absolute z-10 top-10 w-[230px] rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none text-gray-700 text-sm">
									<li>
										<button type="button" class="w-full flex items-center py-2 px-4 space-x-3 hover:bg-gray-50">
											<div class="space-y-0.5">
												<div class="h-0.5 w-2.5 rounded bg-red-400"></div>
												<div class="h-0.5 w-2.5 rounded bg-red-400"></div>
												<div class="h-0.5 w-2.5 rounded bg-red-400"></div>
											</div>
											<span>Высокий приоритет</span>
										</button>
									</li>
									<li>
										<button type="button" class="w-full flex items-center py-2 px-4 space-x-3 hover:bg-gray-50">
											<div class="space-y-0.5">
												<div class="h-0.5 w-2.5 rounded bg-orange-400"></div>
												<div class="h-0.5 w-2.5 rounded bg-orange-400"></div>
											</div>
											<span>Средний приоритет</span>
										</button>
									</li>
									<li>
										<button type="button" class="w-full flex items-center py-2 px-4 space-x-3 hover:bg-gray-50">
											<div class="h-0.5 w-2.5 rounded bg-green-400"></div>
											<span>Низкий приоритет</span>
										</button>
									</li>
								</ul>
							</div>

							{% set dept_list = ['Служба поддержки', 'Администрирование', 'Перезагрузка сервера', 'Биллинг'] %}

							<div class="relative">
								<button type="button" class="w-[230px] flex items-center py-2 px-3 space-x-2 rounded-md border border-gray-300 shadow-sm hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
									<svg class="pointer-events-none" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M7 8C8.65685 8 10 6.65685 10 5C10 3.34315 8.65685 2 7 2C5.34315 2 4 3.34315 4 5C4 6.65685 5.34315 8 7 8Z" fill="#9CA3AF"/>
										<path d="M14.5 9C15.8807 9 17 7.88071 17 6.5C17 5.11929 15.8807 4 14.5 4C13.1193 4 12 5.11929 12 6.5C12 7.88071 13.1193 9 14.5 9Z" fill="#9CA3AF"/>
										<path d="M1.61528 16.428C1.21798 16.1736 0.987847 15.721 1.04605 15.2529C1.41416 12.292 3.93944 10 6.9999 10C10.0604 10 12.5856 12.2914 12.9537 15.2522C13.012 15.7203 12.7818 16.1729 12.3845 16.4273C10.8302 17.4225 8.98243 18 6.9999 18C5.01737 18 3.16959 17.4231 1.61528 16.428Z" fill="#9CA3AF"/>
										<path d="M14.5001 16C14.4647 16 14.4295 15.9998 14.3943 15.9993C14.4631 15.7025 14.4822 15.3885 14.4423 15.0671C14.2668 13.6562 13.7001 12.367 12.854 11.3116C13.3646 11.1105 13.9208 11 14.5028 11C16.4426 11 18.0956 12.2273 18.7279 13.9478C18.8638 14.3176 18.7045 14.7241 18.3671 14.9275C17.2379 15.6083 15.9147 16 14.5001 16Z" fill="#9CA3AF"/>
									</svg>
									<div class="grow text-sm text-left pointer-events-none">Служба поддержки</div>
									<svg class="pointer-events-none" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M10 3C10.2652 3 10.5196 3.10536 10.7071 3.29289L13.7071 6.29289C14.0976 6.68342 14.0976 7.31658 13.7071 7.70711C13.3166 8.09763 12.6834 8.09763 12.2929 7.70711L10 5.41421L7.70711 7.70711C7.31658 8.09763 6.68342 8.09763 6.29289 7.70711C5.90237 7.31658 5.90237 6.68342 6.29289 6.29289L9.29289 3.29289C9.48043 3.10536 9.73478 3 10 3ZM6.29289 12.2929C6.68342 11.9024 7.31658 11.9024 7.70711 12.2929L10 14.5858L12.2929 12.2929C12.6834 11.9024 13.3166 11.9024 13.7071 12.2929C14.0976 12.6834 14.0976 13.3166 13.7071 13.7071L10.7071 16.7071C10.3166 17.0976 9.68342 17.0976 9.29289 16.7071L6.29289 13.7071C5.90237 13.3166 5.90237 12.6834 6.29289 12.2929Z" fill="#9CA3AF"/>
									</svg>
								</button>
								<ul class="absolute z-10 top-10 w-[230px] rounded-md bg-white py-1 text-gray-700 text-sm shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none text-sm">
									{% for i in dept_list %}
										<li>
											<button type="button" class="w-full py-2 px-4 text-left hover:bg-gray-50">{{ i }}</button>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>

						<div class="flex">
							<div class="flex items-center space-x-3">
								<input type="checkbox" id="return_to_list" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
								<label for="return_to_list" class="text-gray-500 text-sm font-medium truncate">Вернуться к списку</label>
							</div>
							<button @click="supportTicketAddAnswer()" type="button" class="ml-4 rounded-l-md bg-indigo-600 py-2 px-4 font-medium text-sm text-white shadow-sm hover:bg-indigo-700">Добавить ответ</button>
							<div class="relative">
								<button type="button" class="p-[9px] rounded-r-md bg-indigo-600 shadow-sm hover:bg-indigo-700" aria-expanded="false" aria-expanded-autohide>
									<svg class="pointer-events-none" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M5.23017 7.20938C5.52875 6.92228 6.00353 6.93159 6.29063 7.23017L10 11.1679L13.7094 7.23017C13.9965 6.93159 14.4713 6.92228 14.7698 7.20938C15.0684 7.49647 15.0777 7.97125 14.7906 8.26983L10.5406 12.7698C10.3992 12.9169 10.204 13 10 13C9.79599 13 9.60078 12.9169 9.45938 12.7698L5.20938 8.26983C4.92228 7.97125 4.93159 7.49647 5.23017 7.20938Z" fill="white"/>
									</svg>
								</button>
								<ul class="absolute z-10 top-10 right-0 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none text-sm">
									{% for val, css in ticket_statuses %}
										{% if val not in ['Open', 'Customer reply'] %}
											<li>
												<button type="button" class="w-full flex items-center py-3 px-4 space-x-4 text-left hover:bg-gray-100">
													<span class="h-2.5 w-2.5 rounded-full bg-{{ css }}-400"></span>
													<span class="text-gray-700 whitespace-nowrap">Ответ и {{ val }}</span>
												</button>
											</li>
										{% endif %}
									{% endfor %}
									<li class="border-t">
										<button type="button" class="w-full py-3 px-4 text-left hover:bg-gray-100">
											Ответить заметкой
										</button>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</form>

				<hr>

			</div>
		</div>

	</support-settings>

	{% block modals %}
		{% include 'support/modals/support.ticket.note.delete.html.twig' %}
		{% include 'support/modals/support.ticket.admin.answer.delete.html.twig' %}
	{% endblock %}

{% endblock %}
