{% extends 'support/support.base.html.twig' %}

{% set currentTab = 'log' %}

{% block content %}

	<support-settings inline-template>
		<div>
			{% block header %}
				{% include 'support/support.header.view.ticket.html.twig' %}
			{% endblock %}

			<div class="my-6 px-8">
			{% for log in logs %}
				<div class="flex justify-between py-4 space-x-4 text-sm">
					<div class="flex space-x-4 text-gray-500">
						{{ source('assets/images/check.svg') }}
						<p class="text-gray-900 font-medium">{{ log.title }} <span class="font-semibold">{{ log.status }}</span></p>
					</div>
					<div class="flex space-x-4">
						<p class="text-gray-800">{{ log.username }}</p>
						<p class="text-gray-500">{{ log.date }} {{ log.time }} ({{ log.loc }})</p>
					</div>
				</div>
				<hr>
			{% endfor %}
			</div>
		</div>

	</support-settings>

{% endblock %}
