{% extends 'support/support.base.html.twig' %}

{% set currentTab = 'others' %}

{% block content %}

	<support-settings inline-template>

		<div>
			{% block header %}
				{% include 'support/support.header.view.ticket.html.twig' %}
			{% endblock %}

			<div class="py-6 px-8">
				<div class="min-w-full overflow-hidden ring-1 ring-gray-200 rounded-t-lg">

					<table class="min-w-full">
						<thead>
						<tr class="bg-gray-50 text-sm border-b border-gray-300">
							<th class="p-3 pl-6 text-left font-medium">ID - Тема</th>
							<th class="w-[190px] p-3 text-left font-medium">Статус</th>
							<th class="w-[130px] p-3 text-left font-medium">Приоритет</th>
							<th class="w-[200px] p-3 text-left font-medium">Департамент</th>
							<th class="w-[170px] p-3 pr-6 text-left font-medium truncate">Последний ответ</th>
						</tr>
						</thead>
						<tbody class="divide-y">

						{% for ticket in tickets %}

							<tr>
								<td class="min-w-[293px] py-4 pl-6 pr-3">
									<a href="{{ path('support_ticket_answer') }}" class="text-sm font-medium hover:text-indigo-700 {{ ticket.violation ? 'text-red-500 hover:text-red-600' }}" title="{{ ticket.theme }}">
										<span class="line-clamp-1 overflow-hidden">{{ ticket.id }} - {{ ticket.theme }}</span>
									</a>
								</td>
								<td class="px-3">
									{% for val, css in ticket_statuses %}
										{% if ticket.status == val %}
											<span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-{{ css }}-{% if val == 'In progress' %}200{% else %}100{% endif %} text-{{ css }}-800 truncate">{{ val }}</span>
										{% endif %}
									{% endfor %}
								</td>
								<td class="whitespace-nowrap py-4 px-3">
									{% if ticket.priority == 3 %}
										<div class="h-0.5 w-2.5 rounded bg-green-400"></div>
									{% elseif ticket.priority == 2 %}
										<div class="h-0.5 w-2.5 rounded bg-orange-400"></div>
										<div class="mt-0.5 h-0.5 w-2.5 rounded bg-orange-400"></div>
									{% elseif ticket.priority == 1 %}
										<div class="h-0.5 w-2.5 rounded bg-red-400"></div>
										<div class="mt-0.5 h-0.5 w-2.5 rounded bg-red-400"></div>
										<div class="mt-0.5 h-0.5 w-2.5 rounded bg-red-400"></div>
									{% endif %}
								</td>
								<td class="whitespace-nowrap py-4 px-3">
									<p class="text-sm">{{ ticket.dept }}</p>
								</td>
								<td class="whitespace-nowrap py-4 pl-3 pr-6 text-sm text-gray-500">{{ ticket.time }}</td>
							</tr>

						{% endfor %}

						</tbody>
					</table>
				</div>

				{% include 'parts/pagination.html.twig' %}

			</div>
		</div>

	</support-settings>

{% endblock %}
