{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% set side_menu_item = 'settings:admins' %}

{% block main %}

	<settings-module inline-template>

		<main class="pb-24">

			{% block content %}

				{% block header %}

					<div class="flex items-center justify-between py-4 px-8 bg-gray-50 border-b">
						<h3 class="font-semibold text-lg leading-6">{{ title }}</h3>
						<a href="{{ path('settings_profile_admin') }}" class="inline-flex items-center py-2 pl-3 pr-4 space-x-2 rounded-md bg-indigo-600 text-white text-sm font-medium hover:bg-indigo-700">
							{{ source('assets/images/plus.svg') }}
							<span>Добавить</span>
						</a>
					</div>

				{% endblock %}

				<settings-settings inline-template>

					<div class="pt-6 pb-4 px-8">

						{% block table %}

							<div class="ring-1 ring-gray-200 rounded-t-lg overflow-hidden overflow-x-auto">
								<table class="min-w-full">
									<thead class="border-b border-gray-300 bg-gray-50">
									<tr class="text-sm font-medium">
										<th class="p-3 pl-6 text-left font-medium">Логин</th>
										<th class="p-3 text-left font-medium truncate">Отображаемое имя</th>
										<th class="p-3 text-left font-medium">Группа</th>
										<th class="w-20 p-3 text-left font-medium">Роли</th>
										<th class="w-28 p-3 text-left font-medium truncate">Last logged</th>
										<th class="w-[152px] p-3 text-left font-medium">Whmcs</th>
										<th class="w-[152px] p-3 pr-6 text-left font-medium">Telegram</th>
									</tr>
									</thead>

									<tbody class="divide-y">

									{% for admin in admins %}

										<tr class="text-sm">
											<td class="max-w-xs py-4 pl-6 pr-3">
												<a href="{{ path('settings_profile_admin', {user:admin.id}) }}" class="block font-medium truncate hover:text-indigo-700">{{ admin.login }}</a>
											</td>
											<td class="max-w-xs py-4 px-3">
												<a href="{{ path('settings_profile_admin', {user:admin.id}) }}" class="block font-medium truncate hover:text-indigo-700">{{ admin.name }}</a>
											</td>
											<td class="max-w-xs py-4 px-3">
												<div class="text-gray-500 truncate">{{ admin.group }}</div>
											</td>
											<td class="py-4 px-3 text-gray-500">{{ admin.roles }}</td>
											<td class="py-4 px-3 text-gray-500">{{ admin.last_logged|default('Never') }}</td>
											<td class="py-4 px-3 text-gray-500">{{ admin.whmcs|default('[NONE]') }}</td>
											<td class="py-4 px-3 text-gray-500">{{ admin.tg_username }}</td>
										</tr>

									{% endfor %}

									</tbody>
								</table>
							</div>

							{% include 'parts/pagination.html.twig' %}

						{% endblock %}

					</div>

				</settings-settings>

			{% endblock %}

		</main>

	</settings-module>

{% endblock %}
