{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% set side_menu_item = 'settings:autosetup' %}

{% block main %}

	<settings-module inline-template>

		<main class="pb-20">

			{% block content %}

				{% block header %}

					<div class="flex items-center justify-between py-4 px-8 bg-gray-50">
						<div class="h-9 flex items-center">
							<h3 class="font-semibold text-lg leading-6">{{ title }}</h3>
						</div>
					</div>

				{% endblock %}

				<settings-settings inline-template>

					<div class="pt-6 pb-4 px-8 space-y-6">
						<div class="space-y-6">
							<h3 class="text-lg font-semibold">Глобальные параметры</h3>
							<div class="space-y-10">
								<div class="space-y-6">
									<div class="flex items-center space-x-3">
										<input type="checkbox" checked class="checkbox" id="autosetup_on">
										<label for="autosetup_on" class="text-gray-700 text-sm">Включить автоматический сетап</label>
									</div>
									<div class="flex space-x-5">
										<div class="space-y-1">
											<p>Количество параллельных сетапов</p>
											<input class="inputs w-80 text-sm" type="number" placeholder="Введите кол-во">
										</div>
										<div class="space-y-1">
											<p>Типы услуг</p>

											<div class="relative">
												<div class="w-80 w-full h-9 flex items-center py-1.5 px-3 ring-1 ring-gray-300 rounded-md space-x-2 cursor-pointer hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
													<div class="grow flex space-x-1 pointer-events-none">
														<div class="text-sm" v-if="selectedServices.length === 0">Выберите тип услуг</div>
														<div v-for="service in selectedServices" :key="service" class="flex items-center py-0.5 pl-2.5 pr-1 space-x-0.5 bg-gray-100 rounded-xl hover:bg-gray-200">
															<div class="text-gray-800 text-sm font-medium">${ service }</div>
															<button class="p-1 text-gray-400 pointer-events-auto hover:text-gray-500" type="button" @click="removeService(service)">
																{{ source('assets/images/remove.svg') }}
															</button>
														</div>
													</div>
													<div>{{ source('assets/images/arrow.svg') }}</div>
												</div>

												<ul class="dropdown w-full overflow-auto">
													<li>
														<button type="button" class="w-full flex justify-between py-2 px-4 space-x-3 text-gray-700 text-sm text-left" @click="toggleService('VPS')" :class="{ 'bg-indigo-600 text-gray-50': selectedServices.includes('VPS') }">
															<span>VPS</span>
															<span v-if="selectedServices.includes('VPS')">{{ source('assets/images/mini-check.svg') }}</span>
														</button>
													</li>
													<li>
														<button type="button" class="w-full flex justify-between py-2 px-4 space-x-3 text-gray-700 text-sm text-left" @click="toggleService('VPN')" :class="{ 'bg-indigo-600 text-gray-50': selectedServices.includes('VPN') }">
															<span>VPN</span>
															<span v-if="selectedServices.includes('VPN')">{{ source('assets/images/mini-check.svg') }}</span>
														</button>
													</li>
												</ul>
											</div>

{#											<div class="relative">#}
{#												<div class="w-80 w-full h-9 flex items-center py-1.5 px-3 ring-1 ring-gray-300 rounded-md space-x-2" aria-expanded="false" aria-expanded-autohide>#}
{#													<div class="grow flex space-x-1 pointer-events-none">#}
{#														<div class="text-sm">Выберите тип услуг</div>#}
{#														<div class="hidden flex items-center py-0.5 pl-2.5 pr-1 space-x-0.5 bg-gray-100 rounded-xl">#}
{#															<div class="text-gray-800 text-sm font-medium">VPS</div>#}
{#															<button class="p-1 text-gray-400 pointer-events-auto hover:text-gray-600" type="button">#}
{#																{{ source('assets/images/remove.svg') }}#}
{#															</button>#}
{#														</div>#}
{#														<div class="hidden flex items-center py-0.5 pl-2.5 pr-1 space-x-0.5 bg-gray-100 rounded-xl">#}
{#															<div class="text-gray-800 text-sm font-medium">VPN</div>#}
{#															<button class="p-1 text-gray-400 pointer-events-auto hover:text-gray-600" type="button">#}
{#																{{ source('assets/images/remove.svg') }}#}
{#															</button>#}
{#														</div>#}
{#													</div>#}
{#													{{ source('assets/images/arrow.svg') }}#}
{#												</div>#}

{#												<ul class="dropdown w-full overflow-auto">#}
{#													<li>#}
{#														<button type="button" class="w-full py-2 px-4 space-x-3 text-gray-700 text-sm text-left">VPS</button>#}
{#													</li>#}
{#													<li>#}
{#														<button type="button" class="w-full py-2 px-4 space-x-3 text-gray-700 text-sm text-left">VPN</button>#}
{#													</li>#}
{#												</ul>#}
{#											</div>#}
										</div>
									</div>
								</div>
								<div class="space-y-5">
									<h3 class="text-lg font-semibold">Текстовый редактор JSON</h3>
									<textarea class="inputs w-full h-80 py-4 px-6 text-gray-400 text-sm resize-none overflow-auto">{{ json }}</textarea>
								</div>
							</div>
							<button @click="autosetupTokens" class="flex items-center py-2 px-3 space-x-3 rounded-md text-indigo-700 hover:bg-indigo-50" type="button">
								{{ source('assets/images/union.svg') }}
								<div>Просмотр токенов</div>
							</button>
						</div>

						<div class="flex justify-between pt-10 space-x-6">
							<div class="flex space-x-3">
								<button @click="cancelAutosetup" class="w-full py-2 px-4 bg-white ring-1 ring-gray-300 rounded-md text-gray-700 text-sm font-medium hover:bg-gray-50" type="button">Отменить</button>
								<button @click="saveAutosetup" class="w-full py-2 px-4 bg-indigo-600 rounded-md text-white text-sm font-medium hover:bg-indigo-700" type="button">Сохранить</button>
							</div>
							<div>
								<button @click="resetAutosetup" class="w-full py-2 px-4 bg-red-600 rounded-md text-white text-sm font-medium hover:bg-red-700" type="button">Сбросить параметры</button>
							</div>
						</div>

						{% block modals %}
							{% include 'settings/modals/autosetup.reset.html.twig' %}
							{% include 'settings/modals/tokens.html.twig' %}
						{% endblock %}
					</div>

				</settings-settings>

			{% endblock %}

		</main>

	</settings-module>

{% endblock %}
