{% extends'/misc/modals/base.modal.html.twig' %}

{% block modal_name %}support-new-ticket-service{% endblock %}

{% block modal_content %}

	{% set services = [
		{'title': 'Без услуги', 'id': '', 'ip': '', 'status': ''},
		{'title': 'Premium - Linux SSD', 'id': '#23427', 'ip': '123.255.255.017', 'status': 'Active'},
		{'title': 'Lite - Linux SSD', 'id': '#23427', 'ip': '123.255.255.017', 'status': 'Cancelled'},
		{'title': 'Exclusive - Linux SSD', 'id': '#23427', 'ip': '123.255.255.017', 'status': 'Active'},
		{'title': 'Elite - Linux SSD', 'id': '#23427', 'ip': '123.255.255.017', 'status': 'Terminated'},
		{'title': 'Lite - Linux SSD', 'id': '#23427', 'ip': '123.255.255.017', 'status': 'Cancelled'},
		{'title': 'Start - Linux SSD', 'id': '#23427', 'ip': '123.255.255.017', 'status': 'Active'}
	] %}

	<div class="relative w-[800px] h-[494px] transform overflow-hidden rounded-lg bg-white my-auto shadow-xl transition-all">

		<div class="flex items-center justify-between py-5 px-6 space-x-4 border-b bg-gray-50">
			<h2 class="text-lg font-medium text-left leading-6">Выбрать привязанную услугу</h2>
			<div class="flex items-center space-x-4">
				<div class="w-[220px] relative rounded-md shadow-sm">
					<div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M9 3.5C5.96243 3.5 3.5 5.96243 3.5 9C3.5 12.0376 5.96243 14.5 9 14.5C10.519 14.5 11.893 13.8852 12.8891 12.8891C13.8852 11.893 14.5 10.519 14.5 9C14.5 5.96243 12.0376 3.5 9 3.5ZM2 9C2 5.13401 5.13401 2 9 2C12.866 2 16 5.13401 16 9C16 10.6625 15.4197 12.1906 14.4517 13.3911L17.7803 16.7197C18.0732 17.0126 18.0732 17.4874 17.7803 17.7803C17.4874 18.0732 17.0126 18.0732 16.7197 17.7803L13.3911 14.4517C12.1906 15.4197 10.6625 16 9 16C5.13401 16 2 12.866 2 9Z" fill="#6B7280"/>
						</svg>
					</div>
					<input type="text" class="block w-full rounded-md border-gray-300 pl-10 text-sm placeholder:text-gray-400" placeholder="Поиск по ID или IP">
				</div>
				<button @click="close(false)" type="button" class="rounded-md text-gray-400 hover:text-gray-500">
					<svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
						<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
					</svg>
				</button>
			</div>
		</div>

		<div class="h-[338px] overflow-y-scroll">
			<table class="min-w-full">
				<tbody class="py-5 text-sm">
				{% for service in services %}
					<tr class="flex items-center px-6 space-x-4 border-y border-b-gray-200 border-t-transparent group hover:bg-indigo-50 hover:border-indigo-200">
						<td class="flex-none py-4">
							<input type="radio" name="service" id="{{ service.title }}" class="border-gray-300">
						</td>
						<td class="flex-none py-4 font-medium whitespace-nowrap">
							<label for="{{ service.title }}" class="group-hover:text-indigo-900">{{ service.title }}</label>
						</td>
						<td class="flex-grow py-4 text-gray-500 text-left">{{ service.id }}</td>
						<td class="flex-none py-4 text-gray-500 text-left">{{ service.ip }}</td>
						<td class="flex-none w-24 py-4 text-right">
							{% if service.status == 'Active' %}
								<span class="py-0.5 px-2.5 rounded-full bg-green-100 text-xs text-green-800">{{ service.status }}</span>
							{% elseif service.status == 'Cancelled' %}
								<span class="py-0.5 px-2.5 rounded-full bg-gray-100 text-xs text-gray-800">{{ service.status }}</span>
							{% elseif service.status == 'Terminated' %}
								<span class="py-0.5 px-2.5 rounded-full bg-red-100 text-xs text-red-800">{{ service.status }}</span>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>

		<div class="flex px-6 py-5 bg-gray-50 space-x-3 text-sm font-medium">
			<button @click="close(false)" type="button" class="w-full py-2 px-4 rounded-md border border-gray-300 text-gray-700 shadow-sm bg-white hover:bg-gray-50">Отменить</button>
			<button @click="close(true)" type="button" class="w-full py-2 px-4 rounded-md border border-transparent bg-indigo-600 text-white shadow-sm hover:bg-indigo-700">Выбрать</button>
		</div>

	</div>

{% endblock %}
