{% extends'/misc/modals/base.modal.html.twig' %}

{% block modal_name %}support-filters{% endblock %}

{% block modal_content %}

	<div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full">
		<div class="pointer-events-auto w-[536px]">
			<div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl">

				<div class="flex justify-between p-6 bg-gray-50">
					<h2 class="text-lg font-medium">Фильтры</h2>
					<button @click="close(false)" type="button" class="rounded-md text-gray-400 hover:text-gray-500">
						{{ source('misc/svg/close.svg') }}
					</button>
				</div>

				<div class="mb-20 p-6 space-y-6">
					<div class="space-y-2">
						<p class="text-sm font-medium text-gray-700 text-left">Поиск</p>
						<div class="flex space-x-2">
							<div class="relative">
								<div class="pointer-events-none absolute inset-y-0 left-3 flex items-center">
									{{ source('misc/svg/search.svg') }}
								</div>
								<input type="text" class="inputs block w-full pl-10 text-sm" placeholder="Имя клиента">
							</div>
							<div class="relative">
								<div class="pointer-events-none absolute inset-y-0 left-3 flex items-center">
									{{ source('misc/svg/search.svg') }}
								</div>
								<input type="text" class="inputs block w-full pl-10 text-sm" placeholder="Email или ID клиента">
							</div>
						</div>

						<div class="flex space-x-2">
							<div class="relative">
								<div class="pointer-events-none absolute inset-y-0 left-3 flex items-center">
									{{ source('misc/svg/search.svg') }}
								</div>
								<input type="text" class="inputs block w-full pl-10 text-sm" placeholder="Заголовок">
							</div>
							<div class="relative">
								<div class="pointer-events-none absolute inset-y-0 left-3 flex items-center">
									{{ source('misc/svg/search.svg') }}
								</div>
								<input type="text" class="inputs block w-full pl-10 text-sm" placeholder="ID тикета">
							</div>
						</div>
					</div>

					<div class="space-y-2">
						<p class="text-sm font-medium text-gray-700 text-left">Дата</p>
						<div class="flex space-x-2">
							<div class="relative">
								<input type="text" class="inputs block w-full pr-10 text-sm" placeholder="От">
								<button type="button" class="absolute inset-y-0 right-3 flex items-center" aria-expanded="false" aria-expanded-autohide>
									{{ source('misc/svg/calendar.svg') }}
								</button>
								<div class="absolute top-10">
									<input type="date">
								</div>
							</div>
							<div class="relative">
								<input type="text" class="inputs block w-full pr-10 text-sm" placeholder="До">
								<div class="pointer-events-none absolute inset-y-0 right-3 flex items-center">
									{{ source('misc/svg/calendar.svg') }}
								</div>
							</div>
						</div>
					</div>

					<div class="space-y-2">
						<p class="text-sm font-medium text-gray-700 text-left">Статус</p>
						<div class="checkbox_field">

							{% for val, css in ticket_statuses %}

								<div class="flex items-center pl-4 space-x-3">
									<input id="{{ val }}" name="{{ val }}" type="checkbox" class="checkbox">
									<label for="{{ val }}" class="w-full py-3 space-x-3 flex items-center">
										<span class="h-2.5 w-2.5 bg-{{ css }}-400 rounded-full"></span>
										<span class="text-sm">{{ val }}</span>
									</label>
								</div>

							{% endfor %}

						</div>
					</div>

					<div class="space-y-2">
						<p class="text-sm font-medium text-gray-700 text-left">Назначен</p>
						<div class="relative">
							<button type="button" class="flex items-center py-2 px-3 space-x-3 w-full rounded-md ring-1 ring-gray-300 text-left text-sm hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
								{{ source('misc/svg/user.svg') }}
	                            <span class="flex-1 pointer-events-none">Администратор не выбран</span>
								{{ source('misc/svg/arrow.svg') }}
							</button>

							<ul class="dropdown  w-full overflow-auto">
								<li>
									<button type="button" class="w-full py-2 px-3 text-sm text-left">Admin</button>
								</li>
								<li>
									<button type="button" class="w-full py-2 px-3 text-sm text-left">User</button>
								</li>
							</ul>
						</div>
					</div>

					<div class="space-y-2">
						<p class="text-sm font-medium text-gray-700 text-left">Приоритет</p>
						<div class="checkbox_field">
							<div class="flex items-center pl-4 space-x-3">
								<input id="high" name="high" type="checkbox" class="checkbox">
								<label for="high" class="w-full flex items-center py-3 space-x-3">
									<div class="space-y-0.5">
										<div class="h-0.5 w-2.5 rounded bg-red-400"></div>
										<div class="h-0.5 w-2.5 rounded bg-red-400"></div>
										<div class="h-0.5 w-2.5 rounded bg-red-400"></div>
									</div>
									<p class="text-sm">Высокий приоритет</p>
								</label>
							</div>
							<div class="flex items-center pl-4 space-x-3">
								<input id="medium" name="medium" type="checkbox" class="checkbox">
								<label for="medium" class="w-full flex items-center py-3 space-x-3">
									<div class="space-y-0.5">
										<div class="h-0.5 w-2.5 rounded bg-orange-400"></div>
										<div class="h-0.5 w-2.5 rounded bg-orange-400"></div>
									</div>
									<p class="text-sm">Средний приоритет</p>
								</label>
							</div>
							<div class="flex items-center pl-4 space-x-3">
								<input id="light" name="light" type="checkbox" class="checkbox">
								<label for="light" class="w-full flex items-center py-3 space-x-3">
									<div class="h-0.5 w-2.5 rounded bg-green-400"></div>
									<p class="text-sm">Низкий приоритет</p>
								</label>
							</div>
						</div>
					</div>

					{% set departments = {'support' : 'Служба поддержки', 'admin' : 'Администрирование', 'restart' : 'Перезагрузка сервера', 'billing' : 'Биллинг'} %}

					<div class="space-y-2">
						<p class="text-sm font-medium text-gray-700 text-left">Департамент</p>
						<div class="checkbox_field">

							{% for key, val in departments %}
								<div class="flex items-center pl-4 space-x-3">
									<input id="{{ key }}" name="{{ key }}" type="checkbox" class="checkbox">
									<label for="{{ key }}" class="w-full py-3 text-sm text-left">{{ val }}</label>
								</div>
							{% endfor %}

						</div>
					</div>
				</div>

				<div class="fixed bottom-0 w-[536px] flex justify-between border-t bg-white py-5 px-6">
					<button type="button" class="inline-flex items-center py-2 pl-3 pr-4 space-x-2 rounded-md ring-1 ring-gray-300 hover:bg-gray-50">
						{{ source('misc/svg/clear.svg') }}
						<span class="text-sm text-gray-700 font-medium">Очистить фильтры (3)</span>
					</button>
					<div class="flex space-x-4">
						<button @click="close(false)" type="button" class="rounded-md ring-1 ring-gray-300 py-2 px-4 text-sm font-medium text-gray-700 hover:bg-gray-50">Отменить</button>
						<button type="submit" class="rounded-md bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700">Показать</button>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

