{% extends'/misc/modals/base.modal.html.twig' %}

{% block modal_name %}invoices-filters{% endblock %}

{% block modal_content %}

	<div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full">
		<div class="pointer-events-auto w-[536px]">
			<div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl">
				<div class="flex items-center justify-between p-6 bg-gray-50">
					<h2 class="text-lg font-medium">Фильтры</h2>
					<button @click="close(false)" type="button" class="rounded-md text-gray-400 hover:text-gray-500">
						{{ source('misc/svg/close.svg') }}
					</button>
				</div>
				<div class="relative mb-24 p-6 space-y-6">
					<div class="space-y-2">
						<p class="text-sm text-left font-medium text-gray-700">Поиск</p>
						<div class="relative">
							<div class="pointer-events-none absolute inset-y-0 left-3 flex items-center">
								{{ source('misc/svg/search.svg') }}
							</div>
							<input type="text" class="inputs block w-full pl-10 text-sm" placeholder="ID инвойса">
						</div>
						<div class="relative">
							<div class="pointer-events-none absolute inset-y-0 left-3 flex items-center">
								{{ source('misc/svg/search.svg') }}
							</div>
							<input type="text" class="inputs block w-full pl-10 text-sm" placeholder="Описание">
						</div>
					</div>

					<div class="space-y-2">
						<p class="text-sm text-left font-medium text-gray-700">Сумма</p>
						<div class="flex space-x-2">
							<div class="relative">
								<div class="pointer-events-none absolute inset-y-0 left-3 flex items-center">
									<span class="text-gray-700 text-sm">$</span>
								</div>
								<input type="text" class="inputs w-full pl-10 text-sm" placeholder="От">
							</div>
							<div class="relative">
								<div class="pointer-events-none absolute inset-y-0 left-3 flex items-center">
									<span class="text-gray-700 text-sm">$</span>
								</div>
								<input type="text" class="inputs w-full pl-10 text-sm" placeholder="До">
							</div>
						</div>
					</div>

					<div class="space-y-2">
						<p class="text-sm text-left font-medium text-gray-700">Способ оплаты</p>
						<div class="relative">
							<button type="button" class="w-full flex justify-between py-2 px-3 rounded-md ring-1 ring-gray-300 text-sm hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
								<p class="pointer-events-none">Не выбран</p>
								{{ source('misc/svg/arrow.svg') }}
							</button>

							<ul class="dropdown w-full max-h-72 overflow-auto">
								{% for i in payments() %}
									<li>
										<button type="button" class="w-full py-2 px-4 text-gray-700 text-sm text-left">{{ i }}</button>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>

					<div class="space-y-2">
						<p class="text-sm text-left font-medium text-gray-700">Даты</p>
						<div class="flex space-x-2">
							<div class="relative">
								<input type="text" name="dateFrom" id="dateFrom" class="inputs block w-full pr-10 text-sm" placeholder="Даты выписки">
								<div class="pointer-events-none absolute inset-y-0 right-3 flex items-center">
									{{ source('misc/svg/calendar.svg') }}
								</div>
							</div>
							<div class="relative">
								<input type="text" name="dateTo" id="dateTo" class="inputs block w-full  pr-10 text-sm" placeholder="Оплатить до">
								<div class="pointer-events-none absolute inset-y-0 right-3 flex items-center">
									{{ source('misc/svg/calendar.svg') }}
								</div>
							</div>
						</div>
						<div class="relative">
							<input type="text" name="datePaid" id="datePaid" class="inputs block w-full pr-10 text-sm" placeholder="Дата платежа">
							<div class="pointer-events-none absolute inset-y-0 right-3 flex items-center">
								{{ source('misc/svg/calendar.svg') }}
							</div>
						</div>
					</div>

					<div class="space-y-2">
						<p class="text-sm text-left font-medium text-gray-700">Статус</p>
						<div class="checkbox_field">
							{% for val, css in invoice_statuses %}
								<div class="relative flex items-center pl-4 space-x-4">
									<input id="{{ val }}" name="{{ val }}" type="checkbox" class="checkbox">
									<span class="h-2.5 w-2.5 rounded-full bg-{{ css }}-400"></span>
									<label for="{{ val }}" class="w-full py-3 text-gray-700 text-sm text-left">{{ val }}</label>
								</div>
							{% endfor %}
						</div>
					</div>

					{% set invoice_types = ['Custom', 'Initial', 'Prolong'] %}
					<div class="space-y-2">
						<p class="text-sm text-left font-medium text-gray-700">Тип инвойса</p>
						<div class="checkbox_field">
							{% for type in invoice_types %}
								<div class="relative flex items-center pl-4 space-x-4">
									<input id="{{ type }}" name="{{ type }}" type="checkbox" class="checkbox">
									<label for="{{ type }}" class="w-full py-3 text-gray-700 text-sm text-left">{{ type }} invoice</label>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>

			<div class="fixed bottom-0 w-[536px] flex justify-between py-5 px-6 border-t bg-white">
				<button type="button" class="inline-flex items-center py-2 pl-3 pr-4 space-x-2 rounded-md ring-1 ring-gray-300 hover:bg-gray-50">
					{{ source('misc/svg/clear.svg') }}
					<span class="text-gray-700 text-sm font-medium">Очистить фильтры</span>
				</button>
				<div class="flex space-x-4">
					<button @click="close(false)" type="button" class="py-2 px-4 rounded-md ring-1 ring-gray-300 text-sm font-medium text-gray-700 hover:bg-gray-50">Отменить</button>
					<button type="button" class="py-2 px-4 rounded-md bg-indigo-600 text-sm font-medium text-white hover:bg-indigo-700">Показать</button>
				</div>
			</div>
		</div>

	</div>

{% endblock %}
