{% extends'/misc/modals/base.modal.html.twig' %}

{% block modal_name %}overview-logs-modal{% endblock %}

{% block modal_content %}

	<div class="relative w-[800px] transform overflow-hidden rounded-lg bg-white shadow-xl transition-all">

		<div class="flex py-5 px-6 space-x-6 bg-gray-50">
			<div class="grow text-lg text-left font-medium">IP логи</div>
			<div class="w-[220px] relative">
				<div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
					{{ source('misc/svg/search.svg') }}
				</div>
				<input class="inputs block w-full py-2 pl-10 pr-3 text-sm" placeholder="Поиск по IP" type="text">
			</div>
			<button @click="close(false)" type="button" class="rounded-md text-gray-400 hover:text-gray-500">
				{{ source('misc/svg/close.svg') }}
			</button>
		</div>

		<table class="min-w-full rounded-lg">
			<thead>
			<tr class="bg-gray-50 border-b text-sm">
				<th class="w-[130px] py-3 pl-6 pr-3 text-left font-medium">Дата</th>
				<th class="w-[120px] p-3 text-left font-medium">Время</th>
				<th class="p-3 text-left font-medium">IP</th>
				<th class="w-[120px] py-3 pl-3 pr-6 text-left font-medium">Локация</th>
			</tr>
			</thead>
			<tbody class="divide-y bg-white">

			{% for item in clients_data %}
				{% if item.id == userID %}
					{% for i in item.logs %}

						<tr class="text-left text-gray-500 text-sm">
							<td class="py-4 pl-6 pr-3">{{ i.date }}</td>
							<td class="py-4 px-3">{{ i.time }}</td>
							<td class="py-4 px-3">
								<a target="_blank" href="https://www.geodatatool.com/en/?ip={{ i.ip }}" class="block w-full hover:text-indigo-700">{{ i.ip }}</a>
							</td>
							<td class="py-4 pl-3 pr-6">{{ i.loc }}</td>
						</tr>

					{% endfor %}
				{% endif %}
			{% endfor %}

			</tbody>
		</table>

		{% include 'parts/pagination.html.twig' %}

	</div>

{% endblock %}
