{% extends'/misc/modals/base.modal.html.twig' %}

{% block modal_name %}overview-logs-modal{% endblock %}

{% block modal_content %}

	<div class="relative w-[800px] transform overflow-hidden rounded-lg bg-white shadow-xl transition-all">

		<div class="flex py-5 px-6 space-x-6 bg-gray-50">
			<div class="grow text-lg text-left font-medium text-gray-900">IP логи</div>
			<div class="w-[220px] relative">
				<div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
					<svg class="h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
						<path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
					</svg>
				</div>
				<input name="search" class="block w-full rounded-md border border-gray-300 bg-white py-2 pl-10 pr-3 leading-5 placeholder-gray-400 text-sm" placeholder="Поиск по IP" type="search">
			</div>
			<button @click="close(false)" type="button" class="rounded-md text-gray-400 hover:text-gray-500">
				<svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
					<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
				</svg>
			</button>
		</div>

		<table class="min-w-full rounded-lg">
			<thead>
			<tr class="bg-gray-50 border-b text-gray-900 text-sm">
				<th class="w-[130px] py-3 pl-6 pr-3 text-left font-medium">Дата</th>
				<th class="w-[120px] p-3 text-left font-medium">Время</th>
				<th class="p-3 text-left font-medium">IP</th>
				<th class="w-[120px] py-3 pl-3 pr-6 text-left font-medium">Локация</th>
			</tr>
			</thead>
			<tbody class="divide-y divide-gray-200 bg-white">

			{% for item in clients_data %}
				{% if item.id == userID %}
					{% for i in item.logs %}

						<tr class="text-left text-gray-500 text-sm">
							<td class="py-4 pl-6 pr-3">{{ i.date }}</td>
							<td class="py-4 px-3">{{ i.time }}</td>
							<td class="py-4 px-3">
								<a target="_blank" href="https://www.geodatatool.com/en/?ip={{ i.ip }}" class="block w-full hover:text-indigo-700">{{ i.ip }}</a>
							</td>
							<td class="py-4 pl-3 pr-6">{{ i.loc }}</td>
						</tr>

					{% endfor %}
				{% endif %}
			{% endfor %}

			</tbody>
		</table>

		{% include 'parts/pagination.html.twig' %}

	</div>

{% endblock %}
