{% extends'/misc/modals/base.modal.html.twig' %}

{% block modal_name %}orders-filters{% endblock %}

{% block modal_content %}

	<div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full">
		<div class="pointer-events-auto w-[536px]">
			<div class="flex h-full flex-col mb-48 overflow-y-scroll bg-white shadow-xl">

				<div class="bg-gray-50">
					<div class="p-6">
						<div class="flex justify-between">
							<h2 class="text-lg font-medium text-gray-900">Фильтры</h2>
							<button @click="close(false)" type="button" class="rounded-md text-gray-400 hover:text-gray-500">
								<svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
								</svg>
							</button>
						</div>
					</div>
				</div>

				<div class="mb-24 p-6 space-y-6">
					<div class="space-y-2">
						<p class="text-sm font-medium text-gray-700 text-left">Поиск</p>
						<input type="text" class="block w-full py-2 px-3 rounded-md border-gray-300 text-sm focus:border-indigo-500 focus:ring-indigo-500 placeholder:text-gray-400" placeholder="ID">
						<input type="text" class="block w-full py-2 px-3 rounded-md border-gray-300 text-sm focus:border-indigo-500 focus:ring-indigo-500 placeholder:text-gray-400" placeholder="Email">
					</div>

					<div class="space-y-2">
						<p class="text-sm font-medium text-gray-700 text-left">Локация</p>
						<div class="relative">
							<button type="button" class="relative flex w-full py-2 pl-3 pr-10 rounded-md border border-gray-300 text-left shadow-sm text-sm hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
								<span class="pointer-events-none">Не выбрана</span>
								<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
									<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 7.29289C5.68342 6.90237 6.31658 6.90237 6.7071 7.29289L9.99999 10.5858L13.2929 7.29289C13.6834 6.90237 14.3166 6.90237 14.7071 7.29289C15.0976 7.68342 15.0976 8.31658 14.7071 8.70711L10.7071 12.7071C10.3166 13.0976 9.68341 13.0976 9.29289 12.7071L5.29289 8.70711C4.90237 8.31658 4.90237 7.68342 5.29289 7.29289Z" fill="#9CA3AF"/>
									</svg>
								</div>
							</button>

							<ul class="absolute z-10 top-10 py-1 w-full max-h-72 overflow-auto rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none text-sm">
								<li>
									<button type="button" class="w-full py-2 px-4 text-gray-900 font-semibold text-left bg-gray-50 hover:bg-gray-100">Не выбрана</button>
								</li>
								{% for i in countryList() %}
								<li>
									<button type="button" class="w-full py-2 px-4 text-gray-700 text-left hover:bg-gray-100">{{ i }}</button>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>

					<div class="space-y-2">
						<p class="text-sm font-medium text-gray-700 text-left">Дата</p>
						<div class="relative rounded-md shadow-sm">
							<div class="relative rounded-md shadow-sm">
								<input type="text" class="block w-full rounded-md border-gray-300 pr-10 focus:border-indigo-500 focus:ring-indigo-500 text-sm placeholder:text-gray-400" placeholder="Дата заказа">
								<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
									<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M5.25 12C5.25 11.5858 5.58579 11.25 6 11.25H6.01C6.42421 11.25 6.76 11.5858 6.76 12V12.01C6.76 12.4242 6.42421 12.76 6.01 12.76H6C5.58579 12.76 5.25 12.4242 5.25 12.01V12Z" fill="#6B7280"/>
										<path d="M6 13.25C5.58579 13.25 5.25 13.5858 5.25 14V14.01C5.25 14.4242 5.58579 14.76 6 14.76H6.01C6.42421 14.76 6.76 14.4242 6.76 14.01V14C6.76 13.5858 6.42421 13.25 6.01 13.25H6Z" fill="#6B7280"/>
										<path d="M7.25 12C7.25 11.5858 7.58579 11.25 8 11.25H8.01C8.42421 11.25 8.76 11.5858 8.76 12V12.01C8.76 12.4242 8.42421 12.76 8.01 12.76H8C7.58579 12.76 7.25 12.4242 7.25 12.01V12Z" fill="#6B7280"/>
										<path d="M8 13.25C7.58579 13.25 7.25 13.5858 7.25 14V14.01C7.25 14.4242 7.58579 14.76 8 14.76H8.01C8.42421 14.76 8.76 14.4242 8.76 14.01V14C8.76 13.5858 8.42421 13.25 8.01 13.25H8Z" fill="#6B7280"/>
										<path d="M9.25 10C9.25 9.58579 9.58579 9.25 10 9.25H10.01C10.4242 9.25 10.76 9.58579 10.76 10V10.01C10.76 10.4242 10.4242 10.76 10.01 10.76H10C9.58579 10.76 9.25 10.4242 9.25 10.01V10Z" fill="#6B7280"/>
										<path d="M10 11.25C9.58579 11.25 9.25 11.5858 9.25 12V12.01C9.25 12.4242 9.58579 12.76 10 12.76H10.01C10.4242 12.76 10.76 12.4242 10.76 12.01V12C10.76 11.5858 10.4242 11.25 10.01 11.25H10Z" fill="#6B7280"/>
										<path d="M9.25 14C9.25 13.5858 9.58579 13.25 10 13.25H10.01C10.4242 13.25 10.76 13.5858 10.76 14V14.01C10.76 14.4242 10.4242 14.76 10.01 14.76H10C9.58579 14.76 9.25 14.4242 9.25 14.01V14Z" fill="#6B7280"/>
										<path d="M12 9.25C11.5858 9.25 11.25 9.58579 11.25 10V10.01C11.25 10.4242 11.5858 10.76 12 10.76H12.01C12.4242 10.76 12.76 10.4242 12.76 10.01V10C12.76 9.58579 12.4242 9.25 12.01 9.25H12Z" fill="#6B7280"/>
										<path d="M11.25 12C11.25 11.5858 11.5858 11.25 12 11.25H12.01C12.4242 11.25 12.76 11.5858 12.76 12V12.01C12.76 12.4242 12.4242 12.76 12.01 12.76H12C11.5858 12.76 11.25 12.4242 11.25 12.01V12Z" fill="#6B7280"/>
										<path d="M12 13.25C11.5858 13.25 11.25 13.5858 11.25 14V14.01C11.25 14.4242 11.5858 14.76 12 14.76H12.01C12.4242 14.76 12.76 14.4242 12.76 14.01V14C12.76 13.5858 12.4242 13.25 12.01 13.25H12Z" fill="#6B7280"/>
										<path d="M13.25 10C13.25 9.58579 13.5858 9.25 14 9.25H14.01C14.4242 9.25 14.76 9.58579 14.76 10V10.01C14.76 10.4242 14.4242 10.76 14.01 10.76H14C13.5858 10.76 13.25 10.4242 13.25 10.01V10Z" fill="#6B7280"/>
										<path d="M14 11.25C13.5858 11.25 13.25 11.5858 13.25 12V12.01C13.25 12.4242 13.5858 12.76 14 12.76H14.01C14.4242 12.76 14.76 12.4242 14.76 12.01V12C14.76 11.5858 14.4242 11.25 14.01 11.25H14Z" fill="#6B7280"/>
										<path fill-rule="evenodd" clip-rule="evenodd" d="M5.75 2C6.16421 2 6.5 2.33579 6.5 2.75V4H13.5V2.75C13.5 2.33579 13.8358 2 14.25 2C14.6642 2 15 2.33579 15 2.75V4H15.25C16.7688 4 18 5.23122 18 6.75V15.25C18 16.7688 16.7688 18 15.25 18H4.75C3.23122 18 2 16.7688 2 15.25V6.75C2 5.23122 3.23122 4 4.75 4H5V2.75C5 2.33579 5.33579 2 5.75 2ZM4.75 7.5C4.05964 7.5 3.5 8.05964 3.5 8.75V15.25C3.5 15.9404 4.05964 16.5 4.75 16.5H15.25C15.9404 16.5 16.5 15.9404 16.5 15.25V8.75C16.5 8.05964 15.9404 7.5 15.25 7.5H4.75Z" fill="#6B7280"/>
									</svg>
								</div>
							</div>
						</div>
					</div>

					<div class="space-y-2">
						<p class="text-sm font-medium text-gray-700 text-left">Тип</p>
						<div class="relative">
							<button type="button" class="relative flex w-full py-2 pl-3 pr-10 rounded-md border border-gray-300 text-sm text-left shadow-sm hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
								<span class="pointer-events-none">Все</span>
								<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
									<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 7.29289C5.68342 6.90237 6.31658 6.90237 6.7071 7.29289L9.99999 10.5858L13.2929 7.29289C13.6834 6.90237 14.3166 6.90237 14.7071 7.29289C15.0976 7.68342 15.0976 8.31658 14.7071 8.70711L10.7071 12.7071C10.3166 13.0976 9.68341 13.0976 9.29289 12.7071L5.29289 8.70711C4.90237 8.31658 4.90237 7.68342 5.29289 7.29289Z" fill="#9CA3AF"/>
									</svg>
								</div>
							</button>

							{% set order_types = ['VPS', 'VPN', 'Dedicated', 'Storage'] %}
							<ul class="absolute z-10 top-10 py-1 w-full overflow-auto bg-white rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none text-sm">
								<li class="text-gray-900">
									<button type="button" class="w-full py-2 px-4 text-gray-900 font-semibold text-left bg-gray-50 hover:bg-gray-100">Все типы</button>
								</li>
								{% for i in order_types %}
								<li>
									<button type="button" class="w-full py-2 px-4 text-gray-700 text-left hover:bg-gray-100">{{ i }}</button>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>

					<div class="flex space-x-4">
						<div class="basis-1/2 space-y-2">
							<p class="text-gray-700 text-sm font-medium text-left">Статус инвойса</p>

							<fieldset class="divide-y border rounded-md shadow-sm">

								{% for val, css in invoice_statuses %}
								<div class="relative flex items-center">
									<input id="invoice_{{ val }}" name="{{ val }}" type="checkbox" class="absolute top-3.5 left-4 peer h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
									<label for="invoice_{{ val }}" class="w-full py-3 pl-11 pr-4 flex items-center peer-checked:bg-indigo-200 text-gray-900 peer-checked:text-indigo-900">
										<span class="mr-3 h-2.5 w-2.5 bg-{{ css }}-400 rounded-full"></span>
										<span class="text-sm">{{ val }}</span>
									</label>
								</div>
								{% endfor %}

							</fieldset>
						</div>
						<div class="basis-1/2 space-y-2">
							<p class="text-gray-700 text-sm font-medium text-left">Статус заказа</p>

							<fieldset class="divide-y border rounded-md shadow-sm">

								{% for val, css in order_statuses %}
								<div class="relative flex items-center">
									<input id="order_{{ val }}" name="{{ val }}" type="checkbox" class="absolute top-3.5 left-4 peer h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
									<label for="order_{{ val }}" class="w-full py-3 pl-11 pr-4 flex items-center peer-checked:bg-indigo-200 text-gray-900 peer-checked:text-indigo-900">
										<span class="mr-3 h-2.5 w-2.5 bg-{{ css }}-400 rounded-full"></span>
										<span class="text-sm">{{ val }}</span>
									</label>
								</div>
								{% endfor %}

							</fieldset>
						</div>
					</div>
				</div>
			</div>

			<div class="fixed bottom-0 w-[536px] flex justify-between py-5 px-6 border-t bg-white">
				<button type="button" class="opacity-30 inline-flex items-center rounded-md border border-gray-300 py-2 pl-3 pr-4 space-x-2 shadow-sm hover:bg-gray-50">
					<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M10 17C13.866 17 17 13.866 17 10C17 6.13401 13.866 3 10 3C6.13401 3 3 6.13401 3 10C3 13.866 6.13401 17 10 17ZM7.21967 7.21967C7.51256 6.92678 7.98744 6.92678 8.28033 7.21967L10 8.93934L11.7197 7.21967C12.0126 6.92678 12.4874 6.92678 12.7803 7.21967C13.0732 7.51256 13.0732 7.98744 12.7803 8.28033L11.0607 10L12.7803 11.7197C13.0732 12.0126 13.0732 12.4874 12.7803 12.7803C12.4874 13.0732 12.0126 13.0732 11.7197 12.7803L10 11.0607L8.28033 12.7803C7.98744 13.0732 7.51256 13.0732 7.21967 12.7803C6.92678 12.4874 6.92678 12.0126 7.21967 11.7197L8.93934 10L7.21967 8.28033C6.92678 7.98744 6.92678 7.51256 7.21967 7.21967Z" fill="#6B7280"/>
					</svg>
					<span class="text-sm text-gray-700 font-medium">Очистить фильтры</span>
				</button>
				<div class="flex space-x-4">
					<button @click="close(false)" type="button" class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50">Отменить</button>
					<button type="button" class="rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700">Показать</button>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

