{% extends'/misc/modals/base.modal.html.twig' %}

{% block modal_name %}orders-filters{% endblock %}

{% block modal_content %}

	<div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full">
		<div class="pointer-events-auto w-[536px]">
			<div class="flex h-full flex-col mb-48 overflow-y-scroll bg-white shadow-xl">

				<div class="bg-gray-50">
					<div class="p-6">
						<div class="flex justify-between">
							<h2 class="text-lg font-medium">Фильтры</h2>
							<button @click="close(false)" type="button" class="rounded-md text-gray-400 hover:text-gray-500">
								{{ source('assets/images/close.svg') }}
							</button>
						</div>
					</div>
				</div>

				<div class="mb-24 p-6 space-y-6">
					<div class="space-y-2">
						<p class="text-sm font-medium text-gray-700 text-left">Поиск</p>
						<input type="text" class="inputs block w-full py-2 px-3 text-sm" placeholder="ID">
						<input type="text" class="inputs block w-full py-2 px-3 text-sm" placeholder="Email">
					</div>

					<div class="space-y-2">
						<p class="text-sm font-medium text-gray-700 text-left">Локация</p>
						<div class="relative">
							<button type="button" class="w-full flex justify-between py-2 px-3 rounded-md ring-1 ring-gray-300 text-left text-sm hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
								<p class="pointer-events-none">Не выбрана</p>
								{{ source('assets/images/arrow.svg') }}
							</button>

							<ul class="dropdown w-full max-h-72 overflow-auto">
								{% for i in countryList() %}
								<li>
									<button type="button" class="w-full py-2 px-4 text-gray-700 text-sm text-left">{{ i }}</button>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>

					<div class="space-y-2">
						<p class="text-sm font-medium text-gray-700 text-left">Дата</p>
						<div class="relative">
							<input type="text" class="inputs block w-full pr-10 text-sm" placeholder="Дата заказа">
							<div class="pointer-events-none absolute inset-y-0 right-3 flex items-center">
								{{ source('assets/images/calendar.svg') }}
							</div>
						</div>
					</div>

					<div class="space-y-2">
						<p class="text-sm font-medium text-gray-700 text-left">Тип</p>
						<div class="relative">
							<button type="button" class="w-full flex justify-between py-2 px-3 rounded-md ring-1 ring-gray-300 text-sm text-left hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
								<span class="pointer-events-none">Все</span>
								{{ source('assets/images/arrow.svg') }}
							</button>

							{% set order_types = ['VPS', 'VPN', 'Dedicated', 'Storage'] %}
							<ul class="dropdown w-full overflow-auto text-sm">
								<li>
									<button type="button" class="w-full py-2 px-4 font-semibold text-left bg-gray-50">Все типы</button>
								</li>
								{% for i in order_types %}
								<li>
									<button type="button" class="w-full py-2 px-4 text-gray-700 text-left">{{ i }}</button>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>

					<div class="flex space-x-4">
						<div class="basis-1/2 space-y-2">
							<p class="text-gray-700 text-sm font-medium text-left">Статус инвойса</p>
							<div class="checkbox_field">

								{% for val, css in invoice_statuses %}
								<div class="relative flex items-center">
									<input id="invoice_{{ val }}" name="{{ val }}" type="checkbox" class="checkbox absolute top-3.5 left-4">
									<label for="invoice_{{ val }}" class="w-full py-3 pl-11 pr-4 flex items-center">
										<span class="mr-3 h-2.5 w-2.5 bg-{{ css }}-400 rounded-full"></span>
										<span class="text-sm">{{ val }}</span>
									</label>
								</div>
								{% endfor %}

							</div>
						</div>
						<div class="basis-1/2 space-y-2">
							<p class="text-gray-700 text-sm font-medium text-left">Статус заказа</p>
							<div class="checkbox_field">

								{% for val, css in order_statuses %}
								<div class="relative flex items-center">
									<input id="order_{{ val }}" name="{{ val }}" type="checkbox" class="checkbox absolute top-3.5 left-4">
									<label for="order_{{ val }}" class="w-full py-3 pl-11 pr-4 flex items-center">
										<span class="mr-3 h-2.5 w-2.5 bg-{{ css }}-400 rounded-full"></span>
										<span class="text-sm">{{ val }}</span>
									</label>
								</div>
								{% endfor %}

							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="fixed bottom-0 w-[536px] flex justify-between py-5 px-6 border-t bg-white">
				<button disabled type="button" class="inline-flex items-center rounded-md ring-1 ring-gray-300 py-2 pl-3 pr-4 space-x-2 hover:bg-gray-50">
					{{ source('assets/images/clear.svg') }}
					<span class="text-sm text-gray-700 font-medium">Очистить фильтры</span>
				</button>
				<div class="flex space-x-4">
					<button @click="close(false)" type="button" class="rounded-md ring-1 ring-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 hover:bg-gray-50">Отменить</button>
					<button type="button" class="rounded-md bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700">Показать</button>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

