{% extends 'clients/clients.base.html.twig' %}

{% set currentTab = 'credits' %}

{% block content %}

    <profile-settings inline-template>

        {% block control %}

            <div class="pt-6 px-8">
                <div class="flex items-center justify-between">
                    <div class="flex space-x-4">
                        <div class="py-2 px-4 rounded-md bg-green-100 text-green-800 text-sm font-semibold">$99.50</div>
                        <div class="flex divide-x divide-indigo-700">
                            <button @click="creditsDelete()" type="button" class="flex py-2 pl-3 pr-4 space-x-2 rounded-l-md bg-indigo-600 hover:bg-indigo-700">
	                            {{ source('assets/images/minus.svg') }}
                                <span class="text-sm font-medium text-white">Списать</span>
                            </button>
	                        <button @click="creditsAdd()" type="button" class="flex py-2 pl-3 pr-4 space-x-2 rounded-r-md bg-indigo-600 text-white hover:bg-indigo-700">
		                        {{ source('assets/images/plus.svg') }}
		                        <span class="text-sm font-medium">Добавить</span>
	                        </button>
                        </div>
                    </div>

                    <div class="w-60 relative flex items-center">
                        <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
	                        {{ source('assets/images/search.svg') }}
                        </div>
                        <input class="inputs block w-full py-2 pl-10 pr-3 text-sm" placeholder="Поиск по Сумме" type="text">
                    </div>
                </div>
            </div>

        {% endblock %}

    </profile-settings>

    {% block table %}

        <div class="py-4 px-8">
            <div class="min-w-full overflow-hidden overflow-x-auto ring-1 ring-gray-200 rounded-t-lg">

                <table class="min-w-full cursor-default">
                    <thead>
                        <tr class="bg-gray-50 border-b border-gray-300 text-sm">
                            <th class="w-[208px] pl-6 pr-3 py-3 text-left font-medium">Дата и Время</th>
                            <th class="w-[232px] px-3 py-3 text-left font-medium">Метод платежа</th>
                            <th class="w-[192px] px-3 py-3 text-left font-medium">Назначение</th>
                            <th class="w-[100px] px-3 py-3 text-left font-medium">Сумма</th>
                            <th class="pl-3 pr-6 py-3 text-left font-medium">Описание</th>
                        </tr>
                    </thead>

                    <tbody class="divide-y">

                    {% for item in clients_data %}
                        {% if item.id == userID %}
                            {% for credit in item.credits %}

                                <tr>
                                    <td class="truncate pl-6 pr-3 py-4 text-gray-500 text-sm">{{ credit.date }}, {{ credit.time}} ({{ credit.country }})</td>
                                    <td class="px-3 py-4 text-sm text-gray-500">
                                        <span>{{ credit.method }}</span>
                                        {% if credit.method_id %}
	                                        <a href="#" class="font-medium hover:text-indigo-700">{{ credit.method_id }}</a>
                                        {% endif %}
                                    </td>
                                    <td class="px-3 py-4 text-sm text-gray-500">
                                        <span>{{ credit.appointment }}</span>
                                        {% if credit.appointment_id %}
                                            <a href="{{ path('invoice_overview') }}" class="font-medium hover:text-indigo-700">{{ credit.appointment_id }}</a>
                                        {% endif %}
                                    </td>
                                    <td class="px-3 py-4 text-sm text-{% if credit.amount_stat == 'normal' %}green{% elseif credit.amount_stat == 'high' %}red{% else %}gray{% endif %}-500">${{ credit.amount|number_format('2', '.', '') }}</td>
                                    <td class="pl-3 pr-6 py-4 text-sm text-gray-500">
	                                    <p class="w-72 min-w-full truncate" title="{{ credit.description }}">{{ credit.description }}</p>
                                    </td>
                                </tr>

                            {% endfor %}
                        {% endif %}
                    {% endfor %}

                    </tbody>
                </table>
            </div>

	        {% include 'parts/pagination.html.twig' %}

        </div>

    {% endblock %}

    {% block modals %}
        {% include 'clients/profile/modals/clients.credits.delete.html.twig' %}
        {% include 'clients/profile/modals/clients.credits.add.html.twig' %}
    {% endblock %}

{% endblock %}
