{% extends 'clients/clients.base.html.twig' %}

{% set currentTab = 'duplicates' %}

{% block content %}

	{% block control %}

		<div class="px-8 pt-6 flex items-center justify-end">
			<div class="w-60 relative">
				<div class="pointer-events-none absolute inset-y-0 left-3 flex items-center">
					{{ source('misc/svg/search.svg') }}
				</div>
				<input class="inputs block w-full pl-10 pr-3 text-sm" placeholder="Поиск по Email или ID" type="text">
			</div>
		</div>

	{% endblock %}

	{% block table %}

		<div class="py-4 px-8">
			<div class="min-w-full overflow-hidden overflow-x-auto rounded-t-lg ring-1 ring-gray-200">

				<table class="min-w-full cursor-default">
					<thead>
					<tr class="bg-gray-50 border-b border-gray-300 text-sm">
						<th class="w-[136px] pl-6 pr-3 py-3 text-left font-medium">ID</th>
						<th class="w-[233px] px-3 py-3 text-left font-medium">Email</th>
						<th class="w-[184px] px-3 py-3 text-left font-medium whitespace-nowrap">Имя</th>
						<th class="w-[120px] pl-3 pr-6 py-3 text-right font-medium">Баланс</th>
						<th class="w-[104px] pl-3 pr-6 py-3 text-right font-medium">Услуги</th>
						<th class="w-[136px] pl-3 pr-6 py-3 text-left font-medium">Статус</th>
						<th class="w-[168px] pl-3 pr-6 py-3 text-left font-medium">Зарегистирован</th>

					</tr>
					</thead>

					<tbody class="divide-y">

					{% for i in duplicates %}
					<tr class="text-sm text-gray-500">
						<td class="pl-6 pr-3 py-4 whitespace-nowrap">
							<a href="{{ path('overview') }}" class="font-medium hover:text-indigo-700">#{{ i.id }}</a>
							<p class="text-red-500">Duplicate</p>
						</td>
						<td class="px-3 py-4 whitespace-nowrap">
							<a href="{{ path('overview') }}" class="font-medium hover:text-indigo-700">{{ i.email }}</a>
						</td>
						<td class="px-3 py-4 whitespace-nowrap">
							<a href="{{ path('overview') }}" class="font-medium hover:text-indigo-700">{{ i.name }}</a>
						</td>
						<td class="pl-3 pr-6 py-4 text-right">{{ i.balance|number_format(2, '.', '') }}</td>
						<td class="pl-3 pr-6 py-4 text-right">{{ i.services }}</td>
						<td class="pl-3 pr-6 py-4">
							{% for val, css in user_statuses %}
								{% if i.status == val %}
									<span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-{{ css }}-100 text-{{ css }}-800 capitalize">{{ val }}</span>
								{% endif %}
							{% endfor %}
						</td>
						<td class="pl-3 pr-6 py-4">{{ i.registered }}</td>
					</tr>
					{% endfor %}

					</tbody>
				</table>
			</div>

			{% include 'parts/pagination.html.twig' %}

		</div>

	{% endblock %}

{% endblock %}
