{% extends 'clients/clients.base.html.twig' %}

{% set currentTab = 'emails' %}

{% block content %}

	{% block control %}

		<div class="px-8 pt-6 flex items-center justify-between">
			<h3 class="text-lg text-gray-800 font-medium leading-6">Письма</h3>
			<div class="w-60 relative">
				<div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
					{{ source('misc/svg/search.svg') }}
				</div>
				<input class="inputs block w-full pl-10 pr-3 text-sm" placeholder="Поиск по Заголовку" type="text">
			</div>
		</div>

	{% endblock %}

	{% block table %}

		<div class="py-4 px-8">
			<div class="min-w-full overflow-hidden overflow-x-auto rounded-t-lg ring-1 ring-gray-200">

				<table class="min-w-full cursor-default">
					<thead>
					<tr class="bg-gray-50 border-b border-gray-300 text-sm">
						<th class="w-[200px] pl-6 pr-3 py-3 text-left font-medium">Отдел</th>
						<th class="px-3 py-3 text-left font-medium">Заголовок</th>
						<th class="w-[220px] px-3 py-3 text-left font-medium whitespace-nowrap">Дата и Время</th>
						<th class="w-[160px] pl-3 pr-6 py-3 text-left font-medium">Статус</th>
					</tr>
					</thead>

					<tbody class="divide-y">

					{% for item in clients_data %}
						{% if item.id == userID %}
							{% for email in item.emails %}

								<tr class="text-sm text-gray-500">
									<td class="pl-6 pr-3 py-4 whitespace-nowrap">{{ email.dept }}</td>
									<td class="px-3 py-4 font-medium whitespace-nowrap">
										<a href="{{ path('letter') }}" class="inline-block hover:text-indigo-700">{{ email.title }}</a>
									</td>
									<td class="px-3 py-4 whitespace-nowrap">{{ email.date }}, {{ email.time}} ({{ email.loc }})</td>
									<td class="pl-3 pr-6 py-4 whitespace-nowrap">
										{% if email.status %}
											<div class="w-fit py-0.5 px-2.5 bg-green-100 rounded-xl text-green-800 text-xs font-medium">Доставлено</div>
										{% else %}
											<div class="w-fit py-0.5 px-2.5 bg-red-100 rounded-xl text-red-800 text-xs font-medium">Не доставлено</div>
										{% endif %}
									</td>
								</tr>

							{% endfor %}
						{% endif %}
					{% endfor %}

					</tbody>
				</table>
			</div>

			{% include 'parts/pagination.html.twig' %}

		</div>

	{% endblock %}

{% endblock %}
