{% extends 'clients/clients.base.html.twig' %}

{% set currentTab = 'emails' %}

{% block content %}

	{% block control %}

		<div class="px-8 pt-6 flex items-center justify-between">
			<h3 class="text-lg text-gray-800 font-medium leading-6">Письма</h3>
			<div class="w-60 relative">
				<div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M9 3.5C5.96243 3.5 3.5 5.96243 3.5 9C3.5 12.0376 5.96243 14.5 9 14.5C10.519 14.5 11.893 13.8852 12.8891 12.8891C13.8852 11.893 14.5 10.519 14.5 9C14.5 5.96243 12.0376 3.5 9 3.5ZM2 9C2 5.13401 5.13401 2 9 2C12.866 2 16 5.13401 16 9C16 10.6625 15.4197 12.1906 14.4517 13.3911L17.7803 16.7197C18.0732 17.0126 18.0732 17.4874 17.7803 17.7803C17.4874 18.0732 17.0126 18.0732 16.7197 17.7803L13.3911 14.4517C12.1906 15.4197 10.6625 16 9 16C5.13401 16 2 12.866 2 9Z" fill="#6B7280"/>
					</svg>
				</div>
				<input class="block w-full rounded-md border border-gray-300 bg-white pl-10 pr-3 placeholder-gray-400 text-sm" placeholder="Поиск по Заголовку" type="text">
			</div>
		</div>

	{% endblock %}

	{% block table %}

		<div class="py-4 px-8">
			<div class="min-w-full overflow-hidden overflow-x-auto align-middle rounded-t-lg border border-gray-200">

				<table class="min-w-full cursor-default">
					<thead>
					<tr class="bg-gray-50 border-b border-gray-300 text-sm text-gray-900">
						<th class="w-[200px] pl-6 pr-3 py-3 text-left font-medium">Отдел</th>
						<th class="px-3 py-3 text-left font-medium">Заголовок</th>
						<th class="w-[220px] px-3 py-3 text-left font-medium whitespace-nowrap">Дата и Время</th>
						<th class="w-[160px] pl-3 pr-6 py-3 text-left font-medium">Статус</th>
					</tr>
					</thead>

					<tbody class="divide-y divide-gray-200">

					{% for item in clients_data %}
						{% if item.id == userID %}
							{% for email in item.emails %}

								<tr class="text-sm text-gray-500">
									<td class="pl-6 pr-3 py-4 whitespace-nowrap">{{ email.dept }}</td>
									<td class="px-3 py-4 text-gray-900 font-medium whitespace-nowrap">
										<a href="{{ path('letter') }}" class="hover:text-indigo-700">{{ email.title }}</a>
									</td>
									<td class="px-3 py-4 whitespace-nowrap">{{ email.date }}, {{ email.time}} ({{ email.loc }})</td>
									<td class="pl-3 pr-6 py-4 whitespace-nowrap">
										{% if email.status %}
											<span class="py-0.5 px-2.5 bg-green-100 rounded-xl text-green-800 text-xs font-medium">Доставлено</span>
										{% else %}
											<span class="py-0.5 px-2.5 bg-red-100 rounded-xl text-red-800 text-xs font-medium">Не доставлено</span>
										{% endif %}
									</td>
								</tr>

							{% endfor %}
						{% endif %}
					{% endfor %}

					</tbody>
				</table>
			</div>

			{% include 'parts/pagination.html.twig' %}

		</div>

	{% endblock %}

{% endblock %}
