{% extends 'clients/clients.base.html.twig' %}

{% set currentTab = 'invoices' %}

{% block content %}

    <profile-settings inline-template>

    {% block control %}

        <div class="pt-6 px-8">
            <div class="flex items-center justify-between flex-shrink-0">
                <a href="{{ path('billing_new_invoice') }}" class="flex items-center py-2 pl-3 pr-4 space-x-2 rounded-md bg-indigo-600 hover:bg-indigo-700">
	                {{ source('misc/svg/plus.svg') }}
                    <span class="text-white text-sm font-medium">Добавить</span>
                </a>

                <div class="flex items-center space-x-2">
	                <div class="w-60 relative">
		                <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
			                {{ source('misc/svg/search.svg') }}
		                </div>
		                <input class="inputs block w-full  py-2 pl-10 pr-3 text-sm" placeholder="Поиск по ID" type="text">
	                </div>
                    <button @click="invoicesFilters()" type="button" class="inline-flex items-center py-2 pl-3 pr-4 space-x-2 rounded-md ring-1 ring-gray-300 hover:bg-gray-50">
	                    {{ source('misc/svg/filters.svg') }}
                        <span class="text-gray-700 text-sm font-medium">Фильтры</span>
                    </button>
                </div>
            </div>
        </div>

    {% endblock %}

    </profile-settings>

    {% block table %}

        <div class="py-4 px-8">
	        <div class="min-w-full overflow-hidden ring-1 ring-gray-200 rounded-t-lg">

                <table class="min-w-full cursor-default">
                    <thead>
                        <tr class="bg-gray-50 border-b border-gray-300 text-sm">
                            <th class="w-40 py-3 pl-6 pr-3 text-left font-medium">ID</th>
                            <th class="w-40 p-3 text-left font-medium">Статус</th>
                            <th class="w-[192px] p-3 text-left font-medium whitespace-nowrap">Способ оплаты</th>
                            <th class="p-3 text-left font-medium whitespace-nowrap">Дата выписки</th>
                            <th class="p-3 text-left font-medium whitespace-nowrap">Оплатить до</th>
                            <th class="w-[128px] py-3 pl-3 pr-6 text-right font-medium">Сумма</th>
                        </tr>
                    </thead>

                    <tbody class="divide-y">

                        {% for invoice in invoices %}
                            <tr class="text-sm">
                                <td class="py-4 pl-6 pr-3 text-left font-medium {% if invoice.status == 'Draft' %}text-gray-500{% endif %}">
                                    <a {% if invoice.status == 'Draft' %}href="{{ path('billing_edit_draft') }}"{% else %}href="{{ path('invoice_overview') }}"{% endif %} class="hover:text-indigo-700">{{ invoice.id }}</a>
                                </td>
                                <td class="py-4 px-3 text-left">
                                    {% for val, css in invoice_statuses %}
                                        {% if invoice.status == val %}
                                            <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-{{ css }}-100 text-{{ css }}-800">{{ val }}</span>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td class="py-4 px-3 text-gray-500 text-left">{{ invoice.payment }}</td>
                                <td class="py-4 px-3 text-gray-500 text-left truncate">{{ invoice.excerpt }}</td>
                                <td class="py-4 px-3 text-gray-500 text-left truncate">{{ invoice.paydate }}</td>
                                <td class="py-4 pl-3 pr-6 text-gray-500 text-right font-medium">${{ invoice.amount|number_format('2', '.', '') }}</td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>

	        {% include 'parts/pagination.html.twig' %}

        </div>

    {% endblock %}

    {% block modals %}
        {% include 'clients/profile/modals/clients.invoices.filters.html.twig' %}
    {% endblock %}

{% endblock %}
