{% extends 'clients/clients.base.html.twig' %}

{% set currentTab = 'notes' %}

{% block content %}

    <profile-settings inline-template>

        <div class="pt-6 pb-4 px-8 space-y-6">

	        <div class="relative rounded-md ring-1 ring-gray-300 shadow-sm">

		        {% include 'parts/text.editor.head.html.twig' %}

		        <div class="px-6 py-4 space-y-4">
			        <input class="w-full border-0 focus:outline-none text-sm placeholder-gray-400" placeholder="Содержание заметки">
			        <button type="button" class="flex items-center space-x-2 py-2 px-3 bg-gray-50 rounded-full hover:bg-gray-200">
				        {{ source('misc/svg/add-file.svg') }}
				        <span class="text-sm font-medium text-gray-500">Прикрепить файл</span>
			        </button>
		        </div>
	        </div>

	        <div class="flex justify-end space-x-8">
		        <div class="flex items-center space-x-3">
			        <input type="checkbox" id="fix_note" class="checkbox">
			        <label for="fix_note" class="text-gray-700 text-sm">Закрепить</label>
		        </div>
		        <button @click="noteAdd()" type="button" class="py-2 px-4 rounded-md bg-indigo-600 font-medium text-sm text-white hover:bg-indigo-700">Добавить заметку</button>
	        </div>

	        <hr>

            {% block notes %}

	            <div class="space-y-3">

                    {% for item in clients_data %}
                        {% if item.id == userID %}
                            {% for note in item.notes %}

                                <div class="px-6 bg-yellow-50 rounded-md">
                                    <div class="flex justify-between items-center py-5">
                                        <div>
                                            <div class="flex items-center space-x-1">
                                                {% if note.status %}
	                                                {{ source('misc/svg/important.svg') }}
                                                {% endif %}
                                                <p class="text-sm font-medium">Заметка от {{ note.user }}</p>
                                            </div>
                                            <div class="text-xs text-yellow-800 leading-5">{{ note.date }}, {{ note.time }} {{ note.loc }}</div>
                                        </div>
	                                    <div class="flex items-center space-x-1">
		                                    <button type="button" class="p-2 rounded-md text-gray-800 hover:bg-yellow-100">
			                                    {{ source('misc/svg/pencil.svg') }}
		                                    </button>
		                                    <button @click="noteDelete()" type="button" class="p-2.5 rounded-md text-gray-800 hover:bg-yellow-100">
			                                    {{ source('misc/svg/bucket.svg') }}
		                                    </button>
	                                    </div>
                                    </div>

	                                <div class="pb-5 space-y-4">
		                                {% for unit in note.text %}
			                                <div class="text-sm text-gray-700">{{ unit }}</div>
		                                {% endfor %}

		                                {% if note.file %}
			                                <button class="flex items-center py-2 px-3 space-x-3 bg-yellow-100 rounded-full text-yellow-600 hover:bg-yellow-200 ">
				                                {{ source('misc/svg/documents.svg') }}
				                                <span class="text-sm text-gray-800 font-medium">{{ note.file }}</span>
			                                </button>
		                                {% endif %}
	                                </div>
                                </div>

                            {% endfor %}
                        {% endif %}
                    {% endfor %}

                </div>

            {% endblock %}

        </div>

    </profile-settings>

    {% block modals %}
	    {% include 'clients/profile/modals/clients.notes.delete.html.twig' %}
    {% endblock %}

{% endblock %}
