{% extends 'clients/clients.base.html.twig' %}

{% set currentTab = 'services' %}

{% block content %}

    {% block control %}

        <div class="mt-6 mx-auto px-8">
            <div class="flex items-center justify-between">
                <a href="#" onclick="location.reload(); return false;" class="inline-flex items-center rounded-md border border-gray-300 px-4 py-2 text-sm shadow-sm hover:bg-gray-50">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M15.3122 11.4236C14.526 14.3576 11.5102 16.0988 8.57612 15.3127C7.6071 15.053 6.77006 14.5514 6.11034 13.8904L5.7988 13.5789L8.23203 13.5785C8.64624 13.5784 8.98197 13.2425 8.98189 12.8283C8.98182 12.4141 8.64597 12.0784 8.23176 12.0785L3.98833 12.0792C3.78941 12.0792 3.59866 12.1583 3.45803 12.299C3.3174 12.4397 3.23842 12.6305 3.23846 12.8294L3.23935 17.0712C3.23944 17.4854 3.5753 17.8211 3.98951 17.821C4.40372 17.821 4.73944 17.4851 4.73935 17.0709L4.73884 14.6403L5.04869 14.9501C5.88973 15.7926 6.95741 16.4318 8.18789 16.7615C11.9222 17.7621 15.7605 15.5461 16.7611 11.8118C16.8683 11.4117 16.6309 11.0005 16.2308 10.8932C15.8307 10.786 15.4194 11.0235 15.3122 11.4236ZM16.5411 7.70119C16.6818 7.56051 16.7608 7.36971 16.7608 7.17078L16.7601 2.92883C16.76 2.51462 16.4242 2.17889 16.0099 2.17896C15.5957 2.17902 15.26 2.51487 15.2601 2.92908L15.2605 5.35995L14.9507 5.05013C14.1097 4.20771 13.0417 3.56827 11.8114 3.23859C8.0771 2.238 4.23874 4.45407 3.23814 8.18834C3.13094 8.58844 3.36837 8.99969 3.76847 9.1069C4.16857 9.2141 4.57983 8.97667 4.68703 8.57657C5.47321 5.6425 8.48907 3.9013 11.4231 4.68748C12.3922 4.94714 13.2293 5.44881 13.889 6.10979L14.2001 6.4209L11.7681 6.4209C11.3539 6.4209 11.0181 6.75669 11.0181 7.1709C11.0181 7.58512 11.3539 7.9209 11.7681 7.9209H16.0108C16.2097 7.9209 16.4005 7.84187 16.5411 7.70119Z" fill="#6B7280"/>
                    </svg>
                </a>

                <div class="w-60 relative">
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                        <svg class="h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
                        </svg>
                    </div>
                    <input class="block w-full rounded-md border border-gray-300 bg-white py-2 pl-10 pr-3 leading-5 placeholder-gray-400 text-sm" placeholder="Поиск по Услуге" type="text">
                </div>
            </div>
        </div>

    {% endblock %}

    {% block table %}

        <div class="hidden sm:block">
            <div class="mx-auto px-8">
                <div class="mt-4 flex flex-col">
                    <div class="min-w-full overflow-hidden overflow-x-auto align-middle rounded-t-lg border border-gray-200">
                        <table class="min-w-full">
                            <thead>
                                <tr class="bg-gray-50 border-b border-gray-300 text-gray-900 text-sm">
                                    <th class="pl-6 pr-3 py-3 text-left font-medium">Услуга</th>
                                    <th class="w-[150px] px-3 py-3 text-left font-medium">IP</th>
                                    <th class="w-[110px] px-3 py-3 text-right font-medium">Сумма</th>
                                    <th class="w-[130px] px-3 py-3 whitespace-nowrap text-left font-medium">Цикл оплаты</th>
                                    <th class="w-[140px] px-3 py-3 whitespace-nowrap text-left font-medium">Дата рег.</th>
                                    <th class="w-[140px] px-3 py-3 whitespace-nowrap text-left font-medium">Next due date</th>
                                    <th class="w-[130px] pl-3 pr-6 py-3 text-left font-medium">Статус</th>
                                </tr>
                            </thead>
                            <tbody class="divide-y divide-gray-200 bg-white">

                            {% set statuses = {'Active': 'green', 'Pending': 'yellow', 'Terminated': 'red', 'Cancelled': 'gray'} %}

                            {% for service in services %}

                                <tr class="text-sm text-gray-500">
                                    <td class="min-w-[281px] text-gray-900 font-medium pl-6 pr-3 py-4">
	                                    <a href="#" class="line-clamp-1 overflow-hidden hover:text-indigo-700" title="{{ service.title }}">{{ service.title }}</a>
                                    </td>
                                    <td class="whitespace-nowrap px-3 py-4">{{ service.ip }}</td>
                                    <td class="whitespace-nowrap px-3 py-4 text-right">${{ service.amount }}</td>
                                    <td class="whitespace-nowrap px-3 py-4">{{ service.cycle }}</td>
                                    <td class="whitespace-nowrap px-3 py-4">{{ service.date }}</td>
                                    <td class="whitespace-nowrap px-3 py-4">{{ service.paydate }}</td>
                                    <td class="whitespace-nowrap pl-3 pr-6 py-4">
                                        {% for val, css in statuses %}
                                            {% if service.status == val %}
                                                <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-{{ css }}-100 text-{{ css }}-800 capitalize">{{ val }}</span>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>
                    </div>

	                {% include 'parts/pagination.html.twig' %}

                </div>
            </div>
        </div>

    {% endblock %}

{% endblock %}
