{% extends 'clients/clients.base.html.twig' %}

{% set currentTab = 'services' %}

{% block content %}

    {% block control %}

        <div class="mt-6 px-8">
            <div class="flex items-center justify-between">
                <a href="#" onclick="location.reload(); return false;" class="px-4 py-2 rounded-md ring-1 ring-gray-300 text-sm hover:bg-gray-50">
	                {{ source('misc/svg/reload.svg') }}
                </a>

                <div class="w-60 relative">
                    <div class="pointer-events-none absolute inset-y-0 left-3 flex items-center">
	                    {{ source('misc/svg/search.svg') }}
                    </div>
                    <input class="inputs block w-full py-2 pl-10 pr-3 text-sm" placeholder="Поиск по Услуге" type="text">
                </div>
            </div>
        </div>

    {% endblock %}

    {% block table %}

        <div class="my-4 px-8">
            <div class="min-w-full overflow-hidden overflow-x-auto rounded-t-lg ring-1 ring-gray-200">
                <table class="min-w-full cursor-default">
                    <thead>
                        <tr class="bg-gray-50 border-b border-gray-300 text-sm">
                            <th class="pl-6 pr-3 py-3 text-left font-medium">Услуга</th>
                            <th class="w-[150px] px-3 py-3 text-left font-medium">IP</th>
                            <th class="w-[110px] px-3 py-3 text-right font-medium">Сумма</th>
                            <th class="w-[130px] px-3 py-3 whitespace-nowrap text-left font-medium">Цикл оплаты</th>
                            <th class="w-[140px] px-3 py-3 whitespace-nowrap text-left font-medium">Дата рег.</th>
                            <th class="w-[140px] px-3 py-3 whitespace-nowrap text-left font-medium">Next due date</th>
                            <th class="w-[130px] pl-3 pr-6 py-3 text-left font-medium">Статус</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y">

                    {% set statuses = {'Active': 'green', 'Pending': 'yellow', 'Terminated': 'red', 'Cancelled': 'gray'} %}

                    {% for service in services %}

                        <tr class="text-sm text-gray-500">
                            <td class="min-w-[250px] font-medium pl-6 pr-3 py-4">
                                <a href="#" class="line-clamp-1 overflow-hidden hover:text-indigo-700" title="{{ service.title }}">{{ service.title }}</a>
                            </td>
                            <td class="whitespace-nowrap px-3 py-4">{{ service.ip }}</td>
                            <td class="whitespace-nowrap px-3 py-4 text-right">${{ service.amount }}</td>
                            <td class="whitespace-nowrap px-3 py-4">{{ service.cycle }}</td>
                            <td class="whitespace-nowrap px-3 py-4">{{ service.date }}</td>
                            <td class="whitespace-nowrap px-3 py-4">{{ service.paydate }}</td>
                            <td class="whitespace-nowrap pl-3 pr-6 py-4">
                                {% for val, css in statuses %}
                                    {% if service.status == val %}
                                        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-{{ css }}-100 text-{{ css }}-800 capitalize">{{ val }}</span>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>

            {% include 'parts/pagination.html.twig' %}

        </div>

    {% endblock %}

{% endblock %}
