{% extends 'clients/clients.base.html.twig' %}

{% set currentTab = 'transactions' %}

{% block content %}

    {% block control %}

        <div class="pt-6 px-8">
            <div class="flex items-center flex-shrink-0 justify-between">
                <div class="rounded-md px-4 py-2 bg-green-100 text-green-800 font-semibold">$99.50</div>
                <div class="relative w-60">
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                        <svg class="h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
                        </svg>
                    </div>
                    <input class="block w-full rounded-md border border-gray-300 bg-white py-2 pl-10 pr-3 text-sm leading-5 placeholder-gray-400 focus:border-indigo-500 focus:placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-indigo-500" placeholder="Поиск по UID и Сумме" type="search">
                </div>
            </div>
        </div>

    {% endblock %}

    {% block table %}

	    <div class="py-4 px-8">
            <div class="min-w-full overflow-hidden overflow-x-auto align-middle border rounded-lg">

                <table class="min-w-full divide-y divide-gray-200">
                    <thead>
                    <tr class="bg-gray-50 text-sm text-gray-900 border-b border-gray-300">
                        <th class="w-[130px] pl-6 pr-3 py-3 text-left font-medium">Дата</th>
                        <th class="w-[130px] px-3 py-3 text-left font-medium">UID</th>
                        <th class="w-[190px] px-3 py-3 text-left font-medium">Статус</th>
                        <th class="w-[190px] px-3 py-3 text-left font-medium whitespace-nowrap">Способ оплаты</th>
                        <th class="px-3 py-3 text-left font-medium">Описание</th>
                        <th class="w-[120px] pl-3 pr-6 py-3 text-right font-medium">Сумма</th>
                    </tr>
                    </thead>

                    <tbody class="divide-y divide-gray-200">

                    {% for item in transactions %}

                        <tr class="text-sm text-gray-500">
                            <td class="pl-6 pr-3 py-4">{{ item.date }}</td>
                            <td class="px-3 py-4">
	                            <p class="w-[166px] truncate" title="{{ item.id }}">{{ item.id }}</p>
                            </td>
                            <td class="px-3 py-4">
                                {% for val, css in transaction_statuses %}
                                    {% if item.status == val %}
                                        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-{{ css }}-{% if val == "Возвращена" %}200{% else %}100{% endif%} text-{{ css }}-800 truncate">{{ val }}</span>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td class="whitespace-nowrap px-3 py-4">{{ item.method }}</td>
                            <td class="whitespace-nowrap px-3 py-4">
	                            {% if item.invoice_exist %}
		                            Инвойс <a href="{{ path('invoice_overview') }}" class="text-gray-900 hover:text-indigo-700">{{ item.invoice }}</a>
	                            {% else %}
		                            {{ item.description }}
	                            {% endif %}
                            </td>
                            <td class="pl-3 pr-6 py-4 text-right">${{ item.amount|number_format('2', '.', '') }}</td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>

                <div class="flex items-center justify-between border-t border-gray-200 bg-gray-50 px-4 py-4 sm:px-6">
                    <div class="flex flex-1 justify-between sm:hidden">
                        <a href="#" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Previous</a>
                        <a href="#" class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Next</a>
                    </div>
                    <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
                        <div>
                            <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
                                <a href="#" class="relative inline-flex items-center rounded-l-md border border-gray-300 bg-white px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">
                                    <span class="sr-only">Previous</span>
                                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
                                    </svg>
                                </a>
                                <a href="#" aria-current="page" class="relative z-10 inline-flex items-center border border-indigo-500 bg-indigo-50 px-4 py-2 text-sm font-medium text-indigo-600 focus:z-20">1</a>
                                <a href="#" class="relative inline-flex items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">2</a>
                                <a href="#" class="relative hidden items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20 md:inline-flex">3</a>
                                <span class="relative inline-flex items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700">...</span>
                                <a href="#" class="relative hidden items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20 md:inline-flex">8</a>
                                <a href="#" class="relative inline-flex items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">9</a>
                                <a href="#" class="relative inline-flex items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">10</a>
                                <a href="#" class="relative inline-flex items-center rounded-r-md border border-gray-300 bg-white px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">
                                    <span class="sr-only">Next</span>
                                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                                    </svg>
                                </a>
                            </nav>
                        </div>
                        <div class="flex items-center space-x-4">
                            <p class="text-sm text-gray-500">1 - 10 из 10</p>
                            <select class="relative inline-flex items-center rounded-md border border-gray-300 pl-3 pr-9 py-2 text-sm text-gray-900">
                                {% for i in range(low=25, high=100, step=25) %}
                                    <option>{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}

{% endblock %}
