{% extends 'clients/clients.base.html.twig' %}

{% set currentTab = 'transactions' %}

{% block content %}

    {% block control %}

        <div class="pt-6 px-8">
            <div class="flex items-center justify-between">
                <div class="rounded-md px-4 py-2 bg-green-100 text-green-800 text-sm font-semibold">$99.50</div>
                <div class="relative w-60">
                    <div class="pointer-events-none absolute inset-y-0 left-3 flex items-center">
	                    {{ source('assets/images/search.svg') }}
                    </div>
                    <input class="inputs block w-full py-2 pl-10 pr-3 text-sm" placeholder="Поиск по UID и Сумме" type="text">
                </div>
            </div>
        </div>

    {% endblock %}

    {% block table %}

	    <div class="py-4 px-8">
            <div class="min-w-full overflow-hidden overflow-x-auto ring-1 ring-gray-200 rounded-t-lg">

                <table class="min-w-full cursor-default">
                    <thead>
                    <tr class="bg-gray-50 text-sm border-b border-gray-300">
                        <th class="w-[200px] pl-6 pr-3 py-3 text-left font-medium">Дата</th>
                        <th class="w-[130px] px-3 py-3 text-left font-medium">UID</th>
                        <th class="w-[190px] px-3 py-3 text-left font-medium">Статус</th>
                        <th class="w-[190px] px-3 py-3 text-left font-medium whitespace-nowrap">Способ оплаты</th>
                        <th class="px-3 py-3 text-left font-medium">Описание</th>
                        <th class="w-[120px] pl-3 pr-6 py-3 text-right font-medium">Сумма</th>
                    </tr>
                    </thead>

                    <tbody class="divide-y">

                    {% for item in transactions %}

                        <tr class="text-sm text-gray-500">
                            <td class="pl-6 pr-3 py-4">
	                            <p class="truncate">{{ item.date }}</p>
                            </td>
                            <td class="px-3 py-4">
	                            <p class="w-[106px] truncate" title="{{ item.id }}">{{ item.id }}</p>
                            </td>
                            <td class="px-3 py-4">
                                {% for val, css in transaction_statuses %}
                                    {% if item.status == val %}
                                        <div class="w-fit px-2.5 py-0.5 rounded-full text-xs font-medium bg-{{ css }}-{% if val == "Возвращена" %}200{% else %}100{% endif%} text-{{ css }}-800 truncate">{{ val }}</div>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td class="whitespace-nowrap px-3 py-4">
	                            <p>{{ item.method }}</p>
                            </td>
                            <td class="whitespace-nowrap px-3 py-4">
	                            {% if item.invoice_exist %}
		                            Инвойс <a href="{{ path('invoice_overview') }}" class="font-medium hover:text-indigo-700">{{ item.invoice }}</a>
	                            {% else %}
		                            <p class="w-44 min-w-full truncate" title="{{ item.description }}">{{ item.description }}</p>
	                            {% endif %}
                            </td>
	                        <td class="pl-3 pr-6 py-4 text-right">
		                        <p>${{ item.amount|number_format('2', '.', '') }}</p>
	                        </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>

		    {% include 'parts/pagination.html.twig' %}

        </div>

    {% endblock %}

{% endblock %}
