{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block wrapper %}

	<account-module inline-template>
		<div class="flex min-h-screen">
			<div class="w-[732px] py-28 px-32 shrink-0">
				<form class="w-[476px]" action="{{ path('clients') }}">
					{{ source('assets/images/logo.svg') }}
					<h2 class="mt-20 text-3xl font-bold">Войдите в свой аккаунт</h2>
					<p class="mt-4 text-gray-500 font-sm font-medium">👋 Добро пожаловать! Пожалуйста, введите свои данные</p>
					<div class="mt-8">
						<div class="rounded-md p-4 space-y-1 ring-1 ring-inset ring-gray-200 focus-within:ring-2 focus-within:ring-indigo-500">
							<label for="login" class="block text-xs font-medium">Логин</label>
							<input type="text" id="login" class="block w-full p-0 ring-0 border-none rounded-md placeholder-gray-400 text-sm hover:bg-white focus:ring-0" placeholder="Введите логин">
						</div>
					</div>
					<div class="mt-4">
						<div class="relative flex space-x-1 rounded-md p-4 ring-1 ring-inset ring-gray-200 focus-within:ring-2 focus-within:ring-indigo-500">
							<div class="w-full space-y-1">
								<label for="password" class="block text-xs font-medium">Пароль</label>
								<input v-model="password" :type="isPasswordHidden ? 'password' : 'text'" id="password" type="password" placeholder="Введите пароль"
								       class="block w-full p-0 ring-0 border-none rounded-md placeholder-gray-400 text-sm hover:bg-white focus:ring-0"
								       :class="{'bg-red-50 placeholder-red-300': $form['password'] && $form['password'].$dirty && !$form['password'].$valid}">
							</div>

							<button @click="toggleShowHide()" class="flex place-self-center" type="button">
								<i v-if="isPasswordHidden">
									{{ source('assets/images/eye-slash.svg') }}
								</i>
								<i v-if="!isPasswordHidden">
									{{ source('assets/images/eye.svg') }}
								</i>
							</button>
						</div>
					</div>
					<div class="mt-4 flex items-center space-x-2">
						<input id="save_user" type="checkbox" class="checkbox">
						<label for="save_user" class="text-sm">Запомнить</label>
					</div>
					<div class="mt-14">
						<button class="w-full py-3 px-6 bg-indigo-600 rounded-md shadow-sm text-white font-medium hover:bg-indigo-700" type="submit">Войти</button>
					</div>
				</form>
			</div>
			<div class="grow py-28 pl-32 bg-gray-50 overflow-hidden">
				<h3 class="text-xl font-semibold">ITCRM: Administration area</h3>
				<p class="mt-2 text-gray-500 text-sm font-medium">Система управления клиентами и заказами</p>
				<img src="{{ asset('src/sign_in_img.png') }}" class="mt-14 max-w-fit">
			</div>
		</div>
	</account-module>

{% endblock %}

{% block footer %}{% endblock %}
