{% extends 'support/support.base.html.twig' %}

{% set title = 'TEST' %}

{% block content %}

	<support-settings inline-template>

		<div class="p-8 space-y-6 divide-y-2">

			<div>
				{% set filt = ['one', 'two', 'three', 'four', 'five'] %}
				{% for i in filt|filter(i => i not in ['two', 'three']) %}
					<p>{{ i }}</p>
				{% endfor %}
			</div>

			<div>
				{# config/packages/twig.yaml #}
				{% for i in test_glob %}
					<p>{{ i.id }} - {{ i.text }}</p>
				{% endfor %}
			</div>

			<div>
				<div class="flex py-4 space-x-4">
					<a href="{{ path('test', { sort:1 }) }}" class="inline-block py-2 px-4 border rounded-md hover:bg-gray-50">Sort less</a>
					<a href="{{ path('test', { sort:2 }) }}" class="inline-block py-2 px-4 border rounded-md hover:bg-gray-50">Sort more</a>
					<a href="{{ path('test') }}" class="inline-block py-2 px-4 border rounded-md hover:bg-gray-50">Clear</a>
				</div>

				{% set arr = [] %}

				{% set arr = arr|merge([getGet()]) %}
				{% for i in arr %}
					<div><b>{{ i }}</b></div>
				{% endfor %}
			</div>

			<div class="py-4">
				<div class="select-menu w-fit bg-gray-50 border rounded-md hover:bg-gray-100">
					<button popovertarget=listbox class="flex items-center p-4 space-x-4 cursor-pointer">
						<span>Select option</span>
						<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
						</svg>
					</button>
					<div popover=auto id=listbox class="py-2 px-4 bg-gray-50 border rounded-md">
						<option>Item #1</option>
						<option>Item #2</option>
						<option>Item #3 (and some other)</option>
					</div>
				</div>
			</div>

			<div class="popover__wrapper relative inline-block">
				<h2 class="mt-4 py-2 px-4 border rounded-md hover:bg-gray-50">Hover:me</h2>
				<div class="popover__content w-fit py-2 px-3 bg-gray-800 text-gray-100 text-xs font-medium rounded-lg whitespace-nowrap">
					<p>Here is some text for tooltip and there is may be very long string.</p>
				</div>
			</div>

			<div class="relative py-4">
				<button popovertarget="my-popover" class="p-2 border rounded-md">Open Popover</button>
				<div id="my-popover" popover class="absolute top-10">I am a popover with more information.</div>
			</div>

			<div>
				<ul class="grid grid-cols-3 gap-x-5 m-10 max-w-md mx-auto">
					<li class="relative">
						<input class="sr-only peer" type="radio" value="yes" name="answer" id="answer_yes">
						<label class="flex p-5 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:ring-green-500 peer-checked:ring-2 peer-checked:border-transparent" for="answer_yes">Yes</label>
						<div class="absolute hidden w-5 h-5 peer-checked:block top-5 right-3">👍</div>
					</li>

					<li class="relative">
						<input class="sr-only peer" type="radio" value="no" name="answer" id="answer_no">
						<label class="flex p-5 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:ring-red-500 peer-checked:ring-2 peer-checked:border-transparent" for="answer_no">No</label>
						<div class="absolute hidden w-5 h-5 peer-checked:block top-5 right-3">👎</div>
					</li>

					<li class="relative">
						<input class="sr-only peer" type="radio" value="maybe" name="answer" id="answer_maybe">
						<label class="flex p-5 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:ring-yellow-500 peer-checked:ring-2 peer-checked:border-transparent" for="answer_maybe">Maybe</label>
						<div class="absolute hidden w-5 h-5 peer-checked:block top-5 right-3">🤔</div>
					</li>
				</ul>
			</div>


			<div class="py-8 space-y-4">
				<div class="w-64 ring-1 ring-gray-500 p-5">
					<div class="w-fit px-2.5 py-0.5 rounded-full bg-green-100 text-xs text-green-800 font-medium whitespace-nowrap">Waiting for Manager</div>
				</div>
			</div>



		</div>

	</support-settings>

	<div class="text-orange-400 text-orange-800 text-blue-400 text-green-500 bg-blue-400 bg-orange-200 bg-gray-400 bg-purple-400"></div>

{% endblock %}


