{% extends 'support/support.base.html.twig' %}

{% set title = 'TEST' %}

{% block content %}

	<support-settings inline-template>

		<div class="mt-6">
			<div class="px-4 sm:px-6 lg:px-8 space-y-6">

				{% set x = 123 %}

				{% for i in iplogs %}
					{% if i.id == 111 %}
						{% set x = 321 %}
					{% for j in i.logs %}

						<p>{{ j.date }}</p>

					{% endfor %}
					{% endif %}
				{% endfor %}


				{% set filt = ['one', 'two', 'three', 'four', 'five'] %}
				{% for i in filt|filter(i => i not in ['two', 'three']) %}
					<p>{{ i }}</p>
				{% endfor %}

				<p>{{ x }}</p>
				<hr>

				{% for i in test_glob %}
				<p>{{ i.id }} - {{ i.text }}</p>
				{% endfor %}

				{% for order in orders %}

					<tr class="text-sm {% if order.invoice_status == 'Paid' and order.order_status == 'Pending' %}bg-yellow-50{% endif %}">
						<td class="whitespace-nowrap px-6 py-4 text-gray-900 font-medium {% if order.invoice_status == 'Paid' and order.order_status == 'Pending' %}inline-block box-border border-l-[3px] border-red-600{% endif %}">
							<a href="#" class="font-medium hover:text-indigo-700">{{ order.id }} - {{ order.tariff}} - {{ order.loc }}</a>
						</td>
						<td class="whitespace-nowrap px-6 py-4 text-gray-500">{{ order.created_date }}, {{ order.created_time }}</td>
						<td class="whitespace-nowrap px-6 py-4 text-gray-500">{{ order.client_name }}</td>
						<td class="whitespace-nowrap px-6 py-4 text-gray-500">{{ order.pay_method }}</td>
						<td class="whitespace-nowrap px-6 py-4 text-gray-500">${{ order.amount|number_format('2', '.') }}</td>
						<td class="px-6 py-4">
							{% for val, css in invoice_statuses %}
								{% if val == order.invoice_status %}
									<div class="w-fit py-0.5 px-2.5 rounded-xl bg-{{ css }}-100 text-{{ css }}-800 text-xs">{{ order.invoice_status }}</div>
								{% endif %}
							{% endfor %}
						</td>
						<td class="px-6 py-4 {% if order.invoice_status == 'Paid' and order.order_status == 'Pending' %}block box-border border-r-[3px] border-red-600{% endif %}">
							{% for val, css in order_statuses %}
								{% if val == order.order_status %}
									<div class="w-fit py-0.5 px-2.5 rounded-xl bg-{{ css }}-{% if val == 'In progress' %}200{% else %}100{% endif%} text-{{ css }}-800 text-xs">{{ order.order_status }}</div>
								{% endif %}
							{% endfor %}
						</td>
					</tr>

				{% endfor %}

			</div>
		</div>

	</support-settings>

	<div class="text-orange-400 text-orange-800 text-blue-400 bg-orange-200 bg-sky-400 text-sky-400"></div>

{% endblock %}
