{% extends 'support/support.base.html.twig' %}

{% set title = 'TEST' %}

{% block content %}

	<support-settings inline-template>

		<div class="p-8 space-y-6 divide-y-2">

			<div>
				{% set filt = ['one', 'two', 'three', 'four', 'five'] %}
				{% for i in filt|filter(i => i not in ['two', 'four']) %}
					<div class="inline-block mr-4 p-2 ring rounded-md">{{ i }}</div>
				{% endfor %}
			</div>

			<div class="flex py-8 space-x-4">
				{% for i in user_statuses|keys|filter(key => key not in ['Active', 'Closed']) %}
					<div class="w-fit px-2.5 py-0.5 rounded-full bg-{{ user_statuses[i] }}-100 text-xs text-{{ user_statuses[i] }}-800 font-medium whitespace-nowrap">{{ i }}</div>
				{% endfor %}
			</div>

			<div>
				{# config/packages/twig.yaml #}
				{% for i in test_glob %}
					<p>{{ i.id }} - {{ i.text }}</p>
				{% endfor %}
			</div>

			<div class="popover__wrapper relative">
				<h2 class="w-fit mt-4 mx-auto py-2 px-4 border rounded-md hover:bg-gray-50">Hover me</h2>
				<div class="popover__content w-fit bottom-16 py-2 px-3 bg-gray-800 text-gray-100 text-xs font-medium rounded-lg whitespace-nowrap">
					<p>Here is some text for tooltip and there is may be very long string.</p>
				</div>
			</div>

			<div>
				<ul class="grid grid-cols-3 gap-x-5 m-10 max-w-md mx-auto">

					{% set values = {'yes': '👍', 'no': '👎', 'maybe': '🤔'} %}

					{% for key, val in values %}
						<li class="relative">
							<input class="sr-only peer" type="radio" value="yes" name="answer" id="answer_{{ key }}">
							<label class="flex p-5 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:ring-green-500 peer-checked:ring-2 peer-checked:border-transparent" for="answer_{{ key }}">{{ key }}</label>
							<div class="absolute hidden w-5 h-5 peer-checked:block top-5 right-3">{{ val }}</div>
						</li>
					{% endfor %}
				</ul>
			</div>

			<div class="py-8 space-y-4">
				<div class="ring p-4">
					<div class="w-fit px-2.5 py-0.5 rounded-full bg-green-100 text-xs text-green-800 font-medium whitespace-nowrap">Waiting for Manager</div>
				</div>
			</div>

			<div>
				{% set x = path(app.request.attributes.get('_route')) %}
				{{ x }}
			</div>

			<div class="relative w-64">
				<input @click="inputSearch()" id="myInput" class="inputs w-full py-2 pl-3 pr-10 text-sm" placeholder="Введите email клиента" type="text" aria-expanded="false" aria-expanded-autohide>

				<ul id="myUL" class="dropdown w-full max-h-72 overflow-auto">
					{% for val, css in user_statuses %}
						<li>
							<button type="button" class="flex items-center w-full py-2 px-4 space-x-3" title="{{ val }}">
								<span class="text-gray-700 text-sm truncate">{{ val }}</span>
								<span class="text-gray-500 text-sm">{{ css }}</span>
							</button>
						</li>
					{% endfor %}
				</ul>

				<div class="absolute top-2 right-3 arrow pointer-events-none">
					{{ source('assets/images/arrow.svg') }}
				</div>
			</div>

			<div class="flex items-center justify-between py-5 border-b">
				<div>Запретить пополнение баланса</div>
				<label for="toggle_balance" class="relative flex items-center cursor-pointer">
					<input type="checkbox" id="toggle_balance" class="sr-only">
					<div class="toggle_body"></div>
					<div class="toggle_dot"></div>
				</label>
			</div>
			
		</div>

	</support-settings>

	<div class="hidden text-orange-400 text-orange-800 text-blue-400 text-green-500 bg-blue-400 bg-orange-200 bg-gray-400 bg-purple-400 focus:ring-red-500"></div>

{% endblock %}

{#						<button type="button" class="w-full flex justify-between py-2 px-3 space-x-2 rounded-md ring-1 ring-gray-300 hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>#}
{#							<p v-if="data.id > 0" class="text-sm pointer-events-none">{{ answer_data.category }}</p>#}
{#							<p v-else class="text-sm text-gray-400 pointer-events-none">Выберите категорию</p>#}
{#							{{ source('assets/images/arrow.svg') }}#}
{#						</button>#}

{#<div class="answer_body_{{ answer.id }} pt-3 pb-2 px-4 space-y-1 {{ loop.last ? '' : 'border-b border-gray-300' }} cursor-default hover:bg-gray-50">#}
{#	<p class="pl-8 pr-[72px] text-gray-500 text-xs leading-5">{{ answer.category }}</p>#}
{#	<div class="flex items-center space-x-4">#}
{#		<input type="checkbox" class="checkbox">#}
{#		<h4 class="flex-1 text-gray-700 text-sm font-medium">{{ answer.title }}</h4>#}
{#		<button @click="answerEditor({{ answer.id }})" class="text-gray-500 hover:text-indigo-700" type="button">#}
{#			{{ source('assets/images/pencil.svg') }}#}
{#		</button>#}
{#		<button @click="expandAnswer({{ answer.id }})" class="text-gray-500 hover:text-indigo-700" type="button" aria-expanded="false">#}
{#			{{ source('assets/images/arrow.svg') }}#}
{#		</button>#}
{#	</div>#}
{#	<div id="{{ answer.id }}" class="pl-8 pr-[72px] text-gray-500 text-xs leading-5 line-clamp-1">{{ answer.content|raw }}</div>#}
{#</div>#}
