{% extends 'support/support.base.html.twig' %}

{% set title = 'TEST' %}

{% block content %}

	<support-settings inline-template>

		<div class="mt-6">
			<div class="px-4 sm:px-6 lg:px-8 space-y-6">

				{% set x = 123 %}

				{% for i in iplogs %}
					{% if i.id == 111 %}
						{% set x = 321 %}
					{% for j in i.logs %}

						<p>{{ j.date }}</p>

					{% endfor %}
					{% endif %}
				{% endfor %}


				{% set filt = ['one', 'two', 'three', 'four', 'five'] %}
				{% for i in filt|filter(i => i not in ['two', 'three']) %}
					<p>{{ i }}</p>
				{% endfor %}

				<p>{{ x }}</p>
				<hr>

				{% for i in test_glob %}
				<p>{{ i.id }} - {{ i.text }}</p>
				{% endfor %}

			</div>
		</div>

	</support-settings>

	<div class="text-orange-400 text-orange-800 text-blue-400 bg-orange-200"></div>

{% endblock %}
