{% extends 'billing/view_invoice/invoice.base.html.twig' %}

{% set currentTab = 'overview' %}

{% block overview %}

	<div class="max-w-[805px] pt-6 pb-4 px-8 space-y-6 text-gray-900">

		{% if data.invoice_status == 'Paid' %}
			<div class="max-w-[805px] flex py-4 px-6 bg-green-50 rounded-md text-sm">
				<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18ZM13.8566 8.19113C14.1002 7.85614 14.0261 7.38708 13.6911 7.14345C13.3561 6.89982 12.8871 6.97388 12.6434 7.30887L9.15969 12.099L7.28033 10.2197C6.98744 9.92678 6.51256 9.92678 6.21967 10.2197C5.92678 10.5126 5.92678 10.9874 6.21967 11.2803L8.71967 13.7803C8.87477 13.9354 9.08999 14.0149 9.30867 13.9977C9.52734 13.9805 9.72754 13.8685 9.85655 13.6911L13.8566 8.19113Z" fill="#34D399"/>
				</svg>
				<p class="ml-4 text-green-800 font-medium">Invoice paid</p>
				<p class="ml-2 text-green-700">{{ data.invoice_paid_date }}, {{ data.invoice_paid_type }}, ${{ data.invoice_paid|number_format('2', '.', '') }}</p>
			</div>
		{% endif %}

		<div class="flex items-center py-5 px-6 space-x-6 bg-yellow-50 rounded-md border border-gray-300 text-sm">
			<div class="space-y-1">
				<p class="text-gray-400 text-xs font-medium">Примечание</p>
				<p>{% if data.invoice_notation %}{{ data.invoice_notation }}{% endif %}</p>
			</div>
			<button {% if data.invoice_notation %}@click="billingInvoiceNotationEdit()"{% else %}@click="billingInvoiceNotationAdd()"{% endif %} type="button" class="rounded-md border py-2 px-3 bg-white text-gray-700 text-xs font-medium shadow-sm hover:bg-gray-50">
				<span>{% if data.invoice_notation %}Изменить{% else %}Добавить{% endif %}</span>
			</button>
		</div>

		{% if data.invoice_status == 'Paid' %}
			<div class="py-5 px-6 bg-gray-50 rounded-md border border-gray-300 text-sm">
				<div class="space-y-1">
					<p class="font-semibold">Описание</p>
					<p>Cursus commodo id nulla nunc neque adipiscing pulvinar sed maecenas. Elit cras amet tempus malesuada phasellus nec tortor convallis eu.</p>
				</div>
			</div>
		{% endif %}

		<div class="bg-gray-50 rounded-md border border-gray-300 shadow-sm divide-y text-sm">
			<div class="p-6 pb-5 space-y-1">
				<p>Дата создания: {{ data.invoice_created }}</p>
				<p>Оплатить до: {{ data.invoice_paydate }}</p>
			</div>
			{% for invoice in invoices %}
				<div class="flex">
					<div class="flex-1 py-5 px-6 space-y-4">
						<div class="flex space-x-2">
							<div>
								<p class="font-semibold">{{ invoice.title }}</p>
								<p class="text-indigo-900 text-xs">{{ invoice.id }}</p>
							</div>
							<div class="h-fit py-0.5 px-2.5 rounded-xl text-xs font-medium bg-green-100 text-green-800">{{ invoice.status }}</div>
						</div>
						<hr>
						<div class="space-y-1">
							<p>{{ invoice.date_created }} - {{ invoice.date_expiring }}</p>
							{% if invoice.loc %}<p>Location: {{ invoice.loc }}</p>{% endif %}
							{% if invoice.ip %}<p>IP: {{ invoice.ip }}</p>{% endif %}
							{% if invoice.panel %}<p>Panel: {{ invoice.panel }}</p>{% endif %}
							{% if invoice.cpu %}<p>CPU: {{ invoice.cpu }}</p>{% endif %}
							{% if invoice.ram %}<p>RAM: {{ invoice.ram }}</p>{% endif %}
							{% if invoice.disk %}<p>Disk: {{ invoice.disk }}</p>{% endif %}
							{% if invoice.port %}<p>Port: {{ invoice.port }}</p>{% endif %}
							{% if invoice.add %}<p>Additional: {{ invoice.add }}</p>{% endif %}
							{% if invoice.backup %}<p>Backup: {{ invoice.backup }}</p>{% endif %}
							{% if invoice.admin %}<p>Administration: {{ invoice.admin }}</p>{% endif %}
							{% if invoice.os %}<p>OS: {{ invoice.os }}</p>{% endif %}
							{% if invoice.ddos %}<p>DDoS protection: {{ invoice.ddos }}</p>{% endif %}
						</div>
					</div>
					<div class="py-5 pr-6">$ {{ invoice.amount|number_format('2', '.', '') }}</div>
				</div>
			{% endfor %}
			<div class="flex justify-end p-6 pt-4">
				{% set res = 0 %}
				{% for i in invoices %}
					{% set res = res + i.amount %}
				{% endfor %}
				{% set total = res - data.invoice_discount - data.invoice_paid %}
				<div class="space-y-1">
					<p>Всего по инвойсу: ${{ res|number_format('2', '.', '') }}</p>
					<p>Скидка: ${{ data.invoice_discount|number_format('2', '.', '') }}</p>
					<p>Оплачено: ${{ data.invoice_paid|number_format('2', '.', '') }}</p>
					<p class="font-semibold">Итого к оплате: ${{ total|number_format('2', '.', '') }}</p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block modals %}
	{{ parent() }}
	{% include 'billing/modals/billing.invoice.view.notation.add.html.twig' %}
	{% include 'billing/modals/billing.invoice.view.notation.edit.html.twig' %}
{% endblock %}

