{% extends 'billing/billing.base.html.twig' %}

{% block content %}

	<billing-settings inline-template>

		<div>
			{% block header %}

				<div class="py-4 px-8 space-y-2 bg-gray-50">
					<nav class="flex items-center space-x-4 text-sm text-gray-500 font-medium">
						<a href="{{ path('billing_invoices') }}">Инвойсы</a>
						<div class="-rotate-90">
							{{ source('misc/svg/arrow.svg') }}
						</div>
						<span>{{ title }} {{ data.invoice_id }}</span>
					</nav>
					<div class="flex items-center justify-between space-x-4">
						<div class="flex flex-1 items-center space-x-4">
							<p class="font-semibold text-lg leading-6">{{ title }} {{ data.invoice_id }}</p>
							{% if getGet() %}
								{% for val, css in invoice_statuses %}
									{% if val == getGet() %}
										<span class="py-0.5 px-3 rounded-xl text-sm font-medium bg-{{ css }}-100 text-{{ css }}-800">{{ val }}</span>
									{% endif %}
								{% endfor %}
							{% else %}
								<span class="py-0.5 px-3 rounded-xl text-sm font-medium bg-green-100 text-green-800">Paid</span>
							{% endif %}
						</div>

						<div class="flex space-x-4">
							<div class="flex space-x-3">
								<button type="button" class="py-2 px-4 rounded-md ring-1 ring-gray-300 bg-white text-gray-700 text-sm font-medium hover:bg-gray-50">PDF: Ru</button>
								<button type="button" class="py-2 px-4 rounded-md ring-1 ring-gray-300 bg-white text-gray-700 text-sm font-medium hover:bg-gray-50">PDF: Eng</button>
							</div>
							{% if getGet() == "Pending" %}
							<div class="flex space-x-3">
								<button @click="billingInvoiceAddPayment()" type="button" class="flex items-center py-2 pl-3 pr-4 space-x-2 rounded-md ring-1 ring-gray-300 bg-white text-gray-700 text-sm font-medium hover:bg-gray-50">
									{{ source('misc/svg/plus-gray-500.svg') }}
									<span>Добавить платёж</span>
								</button>
								<button @click="billingInvoiceCancel()" type="button" class="flex items-center py-2 pl-3 pr-4 space-x-2 rounded-md ring-1 ring-gray-300 bg-white text-gray-700 text-sm font-medium hover:bg-gray-50">
									{{ source('misc/svg/bucket-20x20.svg') }}
									<span>Отменить инвойс</span>
								</button>
							</div>
							{% endif %}
						</div>
					</div>
				</div>

				{% set status = getGet() %}
				<div class="flex pt-4 px-8 space-x-8 border-b bg-gray-50">
					<a href="{% if status %}{{ path('invoice_overview', { status:status }) }}{% else %}{{ path('invoice_overview') }}{% endif %}" class="pb-[14px] border-b-2 text-sm font-medium hover:border-gray-300 hover:text-gray-700 {% if currentTab == 'overview' %} border-indigo-500 text-indigo-600 pointer-events-none{% else %} text-gray-500 border-transparent {% endif %}">Обзор</a>
					<a href="{% if status %}{{ path('invoice_payment_details', { status:status }) }}{% else %}{{ path('invoice_payment_details') }}{% endif %}" class="pb-[14px] border-b-2 text-sm font-medium hover:border-gray-300 hover:text-gray-700 {% if currentTab == 'details' %} border-indigo-500 text-indigo-600 pointer-events-none{% else %} text-gray-500 border-transparent {% endif %}">Подробности оплаты</a>
				</div>

			{% endblock %}

			{% block overview %}{% endblock %}

			{% block details %}{% endblock %}

		</div>

	</billing-settings>

	{% block modals %}
		{% include 'billing/modals/billing.invoice.view.add.payment.html.twig' %}
		{% include 'billing/modals/billing.invoice.view.cancel.html.twig' %}
	{% endblock %}

{% endblock %}
