{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block main %}

	<orders-module inline-template>

		<main class="pb-24">

			{% block content %}

				{% block header %}

					<div class="py-4 px-8 space-y-2 bg-gray-50">
						<nav class="flex items-center space-x-4 text-sm text-gray-500 font-medium">
							<a href="{{ path ('orders') }}">Заказы</a>
							<svg width="20" height="20" viewBox="0 -1 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M7.29289 14.7071C6.90237 14.3166 6.90237 13.6834 7.29289 13.2929L10.5858 10L7.29289 6.70711C6.90237 6.31658 6.90237 5.68342 7.29289 5.29289C7.68342 4.90237 8.31658 4.90237 8.70711 5.29289L12.7071 9.29289C13.0976 9.68342 13.0976 10.3166 12.7071 10.7071L8.70711 14.7071C8.31658 15.0976 7.68342 15.0976 7.29289 14.7071Z" fill="#9CA3AF"/>
							</svg>
							<p>{{ title }}</p>
						</nav>
						<div class="text-gray-900 text-lg font-semibold leading-6">{{ title }}</div>
					</div>

				{% endblock %}

				<orders-settings inline-template>

					<div class="py-6 px-8">
						<div class="flex py-5 px-6 space-x-5 bg-gray-50">
							<div class="flex-1 relative">
								<svg class="absolute top-2 left-3 pointer-events-none" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M18 10C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10ZM12.5 7.5C12.5 8.88071 11.3807 10 10 10C8.61929 10 7.5 8.88071 7.5 7.5C7.5 6.11929 8.61929 5 10 5C11.3807 5 12.5 6.11929 12.5 7.5ZM10 12C8.04133 12 6.30187 12.9385 5.20679 14.3904C6.39509 15.687 8.1026 16.5 10 16.5C11.8974 16.5 13.6049 15.687 14.7932 14.3904C13.6981 12.9385 11.9587 12 10 12Z" fill="#6B7280"/>
								</svg>

								<input @click="inputSearch()" id="myInput" class="w-full py-2 px-10 border-0 ring-1 ring-gray-300 rounded-md shadow-sm text-sm text-left placeholder:text-gray-400 hover:bg-gray-50 focus:ring-1 focus:ring-indigo-500" placeholder="Введите email клиента" type="text" aria-expanded="false" aria-expanded-autohide>

								<ul id="myUL" class="absolute z-10 top-10 py-1 w-full max-h-72 overflow-auto rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
									{% for i in clients %}
										<li>
											<button type="button" class="flex items-center w-full py-2 px-4 space-x-3 hover:bg-gray-50" title="{{ i.email }} {{ i.id }}">
												<span class="text-gray-700 text-sm truncate">{{ i.email }}</span>
												<span class="text-gray-500 text-sm">{{ i.id }}</span>
											</button>
										</li>
									{% endfor %}
								</ul>

								<svg class="absolute top-2 right-3 arrow pointer-events-none" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 7.29289C5.68342 6.90237 6.31658 6.90237 6.7071 7.29289L9.99999 10.5858L13.2929 7.29289C13.6834 6.90237 14.3166 6.90237 14.7071 7.29289C15.0976 7.68342 15.0976 8.31658 14.7071 8.70711L10.7071 12.7071C10.3166 13.0976 9.68341 13.0976 9.29289 12.7071L5.29289 8.70711C4.90237 8.31658 4.90237 7.68342 5.29289 7.29289Z" fill="#9CA3AF"/>
								</svg>
							</div>

							<div class="flex-1 relative">
								<button type="button" class="w-full flex bg-white rounded-md ring-1 ring-gray-300 py-2 px-3 space-x-2 shadow-sm text-sm hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
									<div class="w-full text-gray-500 text-sm text-left pointer-events-none">Выберите группу тарифов</div>
									<svg class="arrow pointer-events-none" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 7.29289C5.68342 6.90237 6.31658 6.90237 6.7071 7.29289L9.99999 10.5858L13.2929 7.29289C13.6834 6.90237 14.3166 6.90237 14.7071 7.29289C15.0976 7.68342 15.0976 8.31658 14.7071 8.70711L10.7071 12.7071C10.3166 13.0976 9.68341 13.0976 9.29289 12.7071L5.29289 8.70711C4.90237 8.31658 4.90237 7.68342 5.29289 7.29289Z" fill="#9CA3AF"/>
									</svg>
								</button>

								<ul class="hidden absolute z-10 top-10 max-h-60 w-full overflow-auto rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
									{% for i in tariff_groups %}
										<li>
											<button type="button" class="flex items-center w-full py-2 px-4 space-x-3 hover:bg-gray-50" title="{{ i }}">
												<span class="text-gray-700 text-sm truncate">{{ i }}</span>
											</button>
										</li>
									{% endfor %}
								</ul>
							</div>

							<div class="flex-1 relative">
								<button type="button" class="w-full flex bg-white rounded-md ring-1 ring-gray-300 py-2 px-3 space-x-2 shadow-sm text-sm hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
									<div class="w-full text-gray-500 text-sm text-left pointer-events-none">Выберите тарифный план</div>
									<svg class="arrow pointer-events-none" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 7.29289C5.68342 6.90237 6.31658 6.90237 6.7071 7.29289L9.99999 10.5858L13.2929 7.29289C13.6834 6.90237 14.3166 6.90237 14.7071 7.29289C15.0976 7.68342 15.0976 8.31658 14.7071 8.70711L10.7071 12.7071C10.3166 13.0976 9.68341 13.0976 9.29289 12.7071L5.29289 8.70711C4.90237 8.31658 4.90237 7.68342 5.29289 7.29289Z" fill="#9CA3AF"/>
									</svg>
								</button>

								<ul class="hidden absolute z-10 top-10 max-h-60 w-full overflow-auto rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
									{% for i in tariff_plans %}
										<li>
											<button type="button" class="flex items-center w-full py-2 px-4 space-x-3 hover:bg-gray-50" title="{{ i }}">
												<span class="text-gray-700 text-sm truncate">{{ i }}</span>
											</button>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>

				</orders-settings>

				{% block modals %}

				{% endblock %}

			{% endblock %}

		</main>

	</orders-module>

{% endblock %}
