{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% set side_menu_item = 'orders:new_order' %}

{% block main %}

	<orders-module inline-template>

		<main class="pb-24">

			{% block content %}

				{% block header %}

					<div class="py-4 px-8 space-y-2 bg-gray-50">
						<nav class="flex items-center space-x-4 text-sm text-gray-500 font-medium">
							<a href="{{ path ('orders') }}">Заказы</a>
							<div class="-rotate-90">
								{{ source('assets/images/arrow.svg') }}
							</div>
							<p>{{ title }}</p>
						</nav>
						<div class="text-lg font-semibold leading-6">{{ title }}</div>
					</div>

				{% endblock %}

				<orders-settings inline-template>

					<div class="py-6 px-8 space-y-6">
						<div class="flex py-5 px-6 space-x-5 bg-gray-50">
							<div class="flex-1 relative">
								<div class="absolute top-2 left-3 pointer-events-none">
									{{ source('assets/images/user.svg') }}
								</div>

								<input @input="inputSearch()" id="myInput" class="inputs w-full py-2 px-10 text-sm" placeholder="Введите email клиента" type="text" aria-expanded="false" aria-expanded-autohide>

								<ul id="myUL" class="dropdown w-full max-h-72 overflow-auto">
									{% for i in clients %}
										<li>
											<button type="button" class="flex items-center w-full py-2 px-4 space-x-3" title="{{ i.email }} {{ i.id }}">
												<span class="text-gray-700 text-sm truncate">{{ i.email }}</span>
												<span class="text-gray-500 text-sm">{{ i.id }}</span>
											</button>
										</li>
									{% endfor %}
								</ul>

								<div class="absolute top-2 right-3 arrow pointer-events-none">
									{{ source('assets/images/arrow.svg') }}
								</div>
							</div>

							<div class="flex-1 relative">
								<button type="button" class="w-full flex bg-white rounded-md ring-1 ring-gray-300 py-2 px-3 space-x-2 text-sm hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
									<div class="w-full text-gray-500 text-sm text-left pointer-events-none">Выберите группу тарифов</div>
									{{ source('assets/images/arrow.svg') }}
								</button>

								<ul class="dropdown max-h-72 w-full overflow-auto">
									{% for i in tariff_groups %}
										<li>
											<button type="button" class="flex items-center w-full py-2 px-4 space-x-3" title="{{ i }}">
												<span class="text-gray-700 text-sm truncate">{{ i }}</span>
											</button>
										</li>
									{% endfor %}
								</ul>
							</div>

							<div class="flex-1 relative">
								<button type="button" class="w-full flex bg-white rounded-md ring-1 ring-gray-300 py-2 px-3 space-x-2 text-sm hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
									<div class="w-full text-gray-500 text-sm text-left pointer-events-none">Выберите тарифный план</div>
									{{ source('assets/images/arrow.svg') }}
								</button>

								<ul class="dropdown max-h-72 w-full overflow-auto">
									{% for i in tariff_plans %}
										<li>
											<button type="button" class="flex items-center w-full py-2 px-4 space-x-3" title="{{ i }}">
												<span class="text-gray-700 text-sm truncate">{{ i }}</span>
											</button>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>

						<div class="space-y-2">
							<div class="flex bg-yellow-50 rounded-lg py-4 px-6 space-x-4">
								{{ source('assets/images/important.svg') }}
								<p class="text-sm text-gray-700 line-clamp-3">Ipsum lacus id gravida venenatis velit cursus aliquet eros.</p>
							</div>
							<div class="flex bg-yellow-50 rounded-lg py-4 px-6 space-x-4">
								<span class="text-orange-500">{{ source('assets/images/important-triangle.svg') }}</span>
								<p class="text-sm text-gray-700 line-clamp-3">Включены ограничения аккаунта: баланс, инвойсы</p>
							</div>
						</div>

						<div class="pb-2 bg-gray-50 divide-y">
							<h3 class="py-5 px-6 font-semibold">Слоты</h3>
							<div class="bg-white divide-y">
								<div class="flex items-center">
									<div class="w-[288px] py-4 pl-6 pr-3 text-gray-600 text-sm font-medium">Примечания от клиента</div>
									<div class="grow py-4 pl-3 pr-6">
										<textarea class="inputs w-full h-14 min-h-[56px] max-h-[120px] py-2 px-3 text-sm" placeholder="Примечание"></textarea>
									</div>
								</div>
								<div class="flex items-center">
									<div class="w-[288px] py-4 pl-6 pr-3 text-gray-600 text-sm font-medium">Тарифный план</div>
									<div class="w-[324px] flex-auto py-4 px-3 text-sm">RU-7 (Special) 155.00 / 0.00 (+6/6 вариантов)</div>
									<div class="w-[144px] py-4 px-3 text-gray-500 text-sm">$90.00 <span class="truncate">в 1 мес</span></div>
									<div class="w-[324px] py-4 pl-3 pr-6 text-sm">Static</div>
								</div>
								<div class="flex items-center">
									<div class="w-[288px] py-4 pl-6 pr-3">
										<div class="text-gray-600 text-sm font-medium">CPU</div>
										<div class="text-gray-400 text-xs">cpu</div>
									</div>
									<div class="w-[324px] flex-auto py-4 px-3 text-sm">Intel® Xeon® E-2288G 8x 3.70 GHz (до 5.00 GHz Turbo Boost) / 16 Threads</div>
									<div class="w-[144px] py-4 px-3 text-gray-500 text-sm">$0.00 <span class="truncate">в 1 мес</span></div>
									<div class="w-[324px] py-4 pl-3 pr-6 text-sm">Static</div>
								</div>
								<div class="flex items-center">
									<div class="w-[288px] py-4 pl-6 pr-3">
										<div class="text-gray-600 text-sm font-medium">RAM</div>
										<div class="text-gray-400 text-xs">ram</div>
									</div>
									<div class="w-[324px] flex-auto py-4 px-3 text-sm">32GB DDR4</div>
									<div class="w-[144px] py-4 px-3 text-gray-500 text-sm">$0.00 <span class="truncate">в 1 мес</span></div>
									<div class="w-[324px] py-4 pl-3 pr-6">
										<div class="relative">
											<button type="button" class="w-full flex justify-between py-2 px-3 rounded-md ring-1 ring-gray-300 text-left text-sm hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
												<p class="pointer-events-none line-clamp-1 overflow-hidden">32GB DDR4</p>
												{{ source('assets/images/arrow.svg') }}
											</button>
											<ul class="dropdown w-full max-h-72 overflow-auto text-sm">
												<li>
													<button type="button" class="w-full py-2 px-4 text-gray-700 text-left truncate">32GB DDR4</button>
												</li>
												<li>
													<button type="button" class="w-full py-2 px-4 text-gray-700 text-left truncate">64GB DDR4</button>
												</li>
												<li>
													<button type="button" class="w-full py-2 px-4 text-gray-700 text-left truncate">128GB DDR4</button>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="flex items-center">
									<div class="w-[288px] py-4 pl-6 pr-3">
										<div class="text-gray-600 text-sm font-medium">Панель управления</div>
										<div class="text-gray-400 text-xs">panel</div>
									</div>
									<div class="w-[324px] flex-auto py-4 px-3 text-sm">Без панели (только установка ОС)</div>
									<div class="w-[144px] py-4 px-3 text-gray-500 text-sm">$0.00 <span class="truncate">в 1 месяц</span></div>
									<div class="w-[324px] py-4 pl-3 pr-6">
										<div class="relative">
											<button type="button" class="w-full flex justify-between py-2 px-3 rounded-md ring-1 ring-gray-300 text-left text-sm hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
												<p class="pointer-events-none line-clamp-1 overflow-hidden">Без панели (только установка ОС)</p>
												{{ source('assets/images/arrow.svg') }}
											</button>
											<ul class="dropdown w-full max-h-72 overflow-auto text-sm">
												<li>
													<button type="button" class="w-full py-2 px-4 text-gray-700 text-left truncate">Без панели (только установка ОС)</button>
												</li>
												<li>
													<button type="button" class="w-full py-2 px-4 text-gray-700 text-left truncate">VestaCP (nginx+apache) (vesta/apache)</button>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="flex items-center">
									<div class="w-[288px] py-4 pl-6 pr-3">
										<div class="text-gray-600 text-sm font-medium">Администрирование</div>
										<div class="text-gray-400 text-xs">administration</div>
									</div>
									<div class="w-[324px] flex-auto py-4 px-3 text-sm">Без администрирования</div>
									<div class="w-[144px] py-4 px-3 text-gray-500 text-sm">$0.00 <span class="truncate">в 1 месяц</span></div>
									<div class="w-[324px] py-4 pl-3 pr-6">
										<div class="relative">
											<button type="button" class="w-full flex justify-between py-2 px-3 rounded-md ring-1 ring-gray-300 text-left text-sm hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
												<p class="pointer-events-none line-clamp-1 overflow-hidden">Без администрирования</p>
												{{ source('assets/images/arrow.svg') }}
											</button>
											<ul class="dropdown w-full max-h-72 overflow-auto text-sm">
												<li>
													<button type="button" class="w-full py-2 px-4 text-gray-700 text-left truncate">Без администрирования</button>
												</li>
												<li>
													<button type="button" class="w-full py-2 px-4 text-gray-700 text-left truncate">С администрированием</button>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="flex items-center">
									<div class="w-[288px] py-4 pl-6 pr-3">
										<div class="text-gray-600 text-sm font-medium">OS</div>
										<div class="text-gray-400 text-xs">os</div>
									</div>
									<div class="w-[324px] flex-auto py-4 px-3 text-sm">CentOS 8.x</div>
									<div class="w-[144px] py-4 px-3 text-gray-500 text-sm">$0.00 <span class="truncate">в 1 месяц</span></div>
									<div class="w-[324px] py-4 pl-3 pr-6">
										<div class="relative">
											<button type="button" class="w-full flex justify-between py-2 px-3 rounded-md ring-1 ring-gray-300 text-left text-sm hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
												<p class="pointer-events-none line-clamp-1 overflow-hidden">CentOS 8.x</p>
												{{ source('assets/images/arrow.svg') }}
											</button>
											<ul class="dropdown w-full max-h-72 text-sm">
												<li>
													<button type="button" class="w-full py-2 px-4 text-gray-700 text-left truncate">CentOS 8.x</button>
												</li>
												<li>
													<button type="button" class="w-full py-2 px-4 text-gray-700 text-left truncate">Linux</button>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="flex items-center">
									<div class="w-[288px] py-4 pl-6 pr-3">
										<div class="text-gray-600 text-sm font-medium">Диск</div>
										<div class="text-gray-400 text-xs">disk0</div>
									</div>
									<div class="w-[324px] flex-auto py-4 px-3 text-sm">2TB HDD</div>
									<div class="w-[144px] py-4 px-3 text-gray-500 text-sm">$0.00 <span class="truncate">в 1 месяц</span></div>
									<div class="w-[324px] py-4 pl-3 pr-6">
										<div class="relative">
											<button type="button" class="w-full flex justify-between py-2 px-3 rounded-md ring-1 ring-gray-300 text-left text-sm hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
												<p class="pointer-events-none line-clamp-1 overflow-hidden">2TB HDD</p>
												{{ source('assets/images/arrow.svg') }}
											</button>
											<ul class="dropdown zw-full max-h-72 overflow-auto text-sm">
												<li>
													<button type="button" class="w-full py-2 px-4 text-gray-700 text-left truncate">2TB HDD</button>
												</li>
												<li>
													<button type="button" class="w-full py-2 px-4 text-gray-700 text-left truncate">4TB HDD</button>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="flex items-center">
									<div class="w-[288px] py-4 pl-6 pr-3">
										<div class="text-gray-600 text-sm font-medium">Диск</div>
										<div class="text-gray-400 text-xs">disk1</div>
									</div>
									<div class="w-[324px] flex-auto py-4 px-3 text-sm">None</div>
									<div class="w-[144px] py-4 px-3 text-gray-500 text-sm">$0.00 <span class="truncate">в 1 месяц</span></div>
									<div class="w-[324px] py-4 pl-3 pr-6">
										<div class="relative">
											<button type="button" class="w-full flex justify-between py-2 px-3 rounded-md ring-1 ring-gray-300 text-left text-sm hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
												<p class="pointer-events-none line-clamp-1 overflow-hidden">None</p>
												{{ source('assets/images/arrow.svg') }}
											</button>
											<ul class="dropdown w-full max-h-72 overflow-auto text-sm">
												<li>
													<button type="button" class="w-full py-2 px-4 text-gray-700 text-left truncate">None</button>
												</li>
												<li>
													<button type="button" class="w-full py-2 px-4 text-gray-700 text-left truncate">2TB HDD</button>
												</li>
												<li>
													<button type="button" class="w-full py-2 px-4 text-gray-700 text-left truncate">4TB HDD</button>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="flex items-center">
									<div class="w-[288px] py-4 pl-6 pr-3">
										<div class="text-gray-600 text-sm font-medium">Диск</div>
										<div class="text-gray-400 text-xs">disk2</div>
									</div>
									<div class="w-[324px] flex-auto py-4 px-3 text-sm">None</div>
									<div class="w-[144px] py-4 px-3 text-gray-500 text-sm">$0.00 <span class="truncate">в 1 месяц</span></div>
									<div class="w-[324px] py-4 pl-3 pr-6">
										<div class="relative">
											<button type="button" class="w-full flex justify-between py-2 px-3 rounded-md ring-1 ring-gray-300 text-left text-sm hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
												<p class="pointer-events-none line-clamp-1 overflow-hidden">None</p>
												{{ source('assets/images/arrow.svg') }}
											</button>
											<ul class="dropdown w-full max-h-72 overflow-auto text-sm">
												<li>
													<button type="button" class="w-full py-2 px-4 text-gray-700 text-left truncate">None</button>
												</li>
												<li>
													<button type="button" class="w-full py-2 px-4 text-gray-700 text-left truncate">2TB HDD</button>
												</li>
												<li>
													<button type="button" class="w-full py-2 px-4 text-gray-700 text-left truncate">4TB HDD</button>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="flex items-center">
									<div class="w-[288px] py-4 pl-6 pr-3">
										<div class="text-gray-600 text-sm font-medium">Диск</div>
										<div class="text-gray-400 text-xs">disk3</div>
									</div>
									<div class="w-[324px] flex-auto py-4 px-3 text-sm">None</div>
									<div class="w-[144px] py-4 px-3 text-gray-500 text-sm">$0.00 <span class="truncate">в 1 месяц</span></div>
									<div class="w-[324px] py-4 pl-3 pr-6">
										<div class="relative">
											<button type="button" class="w-full flex justify-between py-2 px-3 rounded-md ring-1 ring-gray-300 text-left text-sm hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
												<p class="pointer-events-none line-clamp-1 overflow-hidden">None</p>
												{{ source('assets/images/arrow.svg') }}
											</button>
											<ul class="dropdown w-full max-h-72 overflow-auto text-sm">
												<li>
													<button type="button" class="w-full py-2 px-4 text-gray-700 text-left truncate">None</button>
												</li>
												<li>
													<button type="button" class="w-full py-2 px-4 text-gray-700 text-left truncate">2TB HDD</button>
												</li>
												<li>
													<button type="button" class="w-full py-2 px-4 text-gray-700 text-left truncate">4TB HDD</button>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="flex items-center">
									<div class="w-[288px] py-4 pl-6 pr-3">
										<div class="text-gray-600 text-sm font-medium">IP</div>
										<div class="text-gray-400 text-xs">ip</div>
									</div>
									<div class="w-[324px] flex-auto py-4 px-3 text-yellow-700 text-sm">IPv4 - 3</div>
									<div class="w-[144px] py-4 px-3 text-yellow-700 text-sm">$8.00 <span class="truncate">в 1 месяц</span></div>
									<div class="w-[324px] flex items-center py-4 pl-3 pr-6 space-x-5">
										<input v-model="ipRangeValue" @input="handleInput" class="inputs w-16 py-2 px-3 text-sm" type="number">
										<input v-model="ipRangeValue" @input="updateRangeValue" type="range" min="0" max="256">
									</div>
								</div>
								<div class="flex items-center">
									<div class="w-[288px] py-4 pl-6 pr-3">
										<div class="text-gray-600 text-sm font-medium">Порт</div>
										<div class="text-gray-400 text-xs">port</div>
									</div>
									<div class="w-[324px] flex-auto py-4 px-3 text-sm">Порт 100 Mbps трафик не учитывается</div>
									<div class="w-[144px] py-4 px-3 text-gray-500 text-sm">$0.00 <span class="truncate">в 1 месяц</span></div>
									<div class="w-[324px] py-4 pl-3 pr-6">
										<div class="relative">
											<button type="button" class="w-full flex justify-between py-2 px-3 rounded-md ring-1 ring-gray-300 text-left text-sm hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
												<p class="pointer-events-none line-clamp-1 overflow-hidden">Порт 100 Mbps трафик не учитывается</p>
												{{ source('assets/images/arrow.svg') }}
											</button>
											<ul class="dropdown w-full max-h-72 overflow-auto text-sm">
												<li>
													<button type="button" class="w-full py-2 px-4 text-gray-700 text-left truncate">Порт 100 Mbps трафик не учитывается</button>
												</li>
												<li>
													<button type="button" class="w-full py-2 px-4 text-gray-700 text-left truncate">Порт 250 Mbps трафик не учитывается</button>
												</li>
												<li>
													<button type="button" class="w-full py-2 px-4 text-gray-700 text-left truncate">Порт 500 Mbps трафик учитывается</button>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="flex items-center">
									<div class="w-[288px] py-4 pl-6 pr-3">
										<div class="text-gray-600 text-sm font-medium">Разрядность OS</div>
										<div class="text-gray-400 text-xs">osbit</div>
									</div>
									<div class="w-[324px] flex-auto py-4 px-3 text-sm">64 Bit (рекомендуется)</div>
									<div class="w-[144px] py-4 px-3 text-gray-500 text-sm">$0.00 <span class="truncate">в 1 месяц</span></div>
									<div class="w-[324px] py-4 pl-3 pr-6">
										<div class="relative">
											<button type="button" class="w-full flex justify-between py-2 px-3 rounded-md ring-1 ring-gray-300 text-left text-sm hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
												<p class="pointer-events-none line-clamp-1 overflow-hidden">64 Bit (рекомендуется)</p>
												{{ source('assets/images/arrow.svg') }}
											</button>
											<ul class="dropdown w-full max-h-72 overflow-auto text-sm">
												<li>
													<button type="button" class="w-full py-2 px-4 text-gray-700 text-left truncate">64 Bit (рекомендуется)</button>
												</li>
												<li>
													<button type="button" class="w-full py-2 px-4 text-gray-700 text-left truncate">32 Bit</button>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="flex items-center">
									<div class="w-[288px] py-4 pl-6 pr-3">
										<div class="text-gray-600 text-sm font-medium">RAID</div>
										<div class="text-gray-400 text-xs">raid</div>
									</div>
									<div class="w-[324px] flex-auto py-4 px-3 text-sm">None</div>
									<div class="w-[144px] py-4 px-3 text-gray-500 text-sm">$0.00 <span class="truncate">в 1 месяц</span></div>
									<div class="w-[324px] py-4 pl-3 pr-6">
										<div class="relative">
											<button type="button" class="w-full flex justify-between py-2 px-3 rounded-md ring-1 ring-gray-300 text-left text-sm hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
												<p class="pointer-events-none line-clamp-1 overflow-hidden">None</p>
												{{ source('assets/images/arrow.svg') }}
											</button>
											<ul class="dropdown w-full max-h-72 overflow-auto text-sm">
												<li>
													<button type="button" class="w-full py-2 px-4 text-gray-700 text-left truncate">None</button>
												</li>
												<li>
													<button type="button" class="w-full py-2 px-4 text-gray-700 text-left truncate">2x</button>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="flex items-center">
									<div class="w-[288px] py-4 pl-6 pr-3">
										<div class="text-gray-600 text-sm font-medium">Мониторинг состояния дисков</div>
										<div class="text-gray-400 text-xs">mondisk</div>
									</div>
									<div class="w-[324px] flex-auto py-4 px-3 text-sm">Установить и настроить (рекомендуется)</div>
									<div class="w-[144px] py-4 px-3 text-gray-500 text-sm">$0.00 <span class="truncate">в 1 месяц</span></div>
									<div class="w-[324px] py-4 pl-3 pr-6">
										<div class="relative">
											<button type="button" class="w-full flex justify-between py-2 px-3 rounded-md ring-1 ring-gray-300 text-left text-sm hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
												<p class="pointer-events-none line-clamp-1 overflow-hidden">Установить и настроить (рекомендуется)</p>
												{{ source('assets/images/arrow.svg') }}
											</button>
											<ul class="dropdown w-full max-h-72 overflow-auto text-sm">
												<li>
													<button type="button" class="w-full py-2 px-4 text-gray-700 text-left truncate">Установить и настроить (рекомендуется)</button>
												</li>
												<li>
													<button type="button" class="w-full py-2 px-4 text-gray-700 text-left truncate">Не устанавливать</button>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="flex items-center">
									<div class="w-[288px] py-4 pl-6 pr-3">
										<div class="text-gray-600 text-sm font-medium">IPMI</div>
										<div class="text-gray-400 text-xs">ipmi</div>
									</div>
									<div class="w-[324px] flex-auto py-4 px-3 text-sm">On</div>
									<div class="w-[144px] py-4 px-3 text-gray-500 text-sm">$0.00 <span class="truncate">в 1 месяц</span></div>
									<div class="w-[324px] py-4 pl-3 pr-6">
										<div class="relative">
											<button type="button" class="w-full flex justify-between py-2 px-3 rounded-md ring-1 ring-gray-300 text-left text-sm hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
												<p class="pointer-events-none line-clamp-1 overflow-hidden">Не выбрано</p>
												{{ source('assets/images/arrow.svg') }}
											</button>
											<ul class="dropdown w-full max-h-72 overflow-auto text-sm">
												<li>
													<button type="button" class="w-full py-2 px-4 text-gray-700 text-left truncate">Не выбрано</button>
												</li>
												<li>
													<button type="button" class="w-full py-2 px-4 text-gray-700 text-left truncate">Стандарт</button>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="pb-2 bg-gray-50 divide-y">
							<h3 class="py-5 px-6 font-semibold">Сервисы</h3>
							<div class="flex items-center py-4 px-6 space-x-4 bg-white">
								<div class="text-gray-600 text-sm font-medium">Число создаваемых сервисов</div>
								<input class="inputs w-[152px] py-2 px-3 text-sm" placeholder="Кол-во сервисов" type="text">
							</div>
						</div>

						<div class="pb-2 bg-gray-50 divide-y">
							<h3 class="py-5 px-6 font-semibold">Оплата</h3>
							<div class="py-5 px-6 space-y-5">
								<div class="space-y-1">
									<div class="text-gray-700 text-sm font-medium">Платёжный период</div>
									<div class="flex">
										<input name="pay_period" id="m1" class="peer/m1 hidden" type="radio" checked>
										<label for="m1" class="py-2 px-4 bg-white ring-1 ring-gray-300 rounded-l-md text-gray-700 text-sm font-medium cursor-pointer hover:bg-gray-50 peer-checked/m1:z-10 peer-checked/m1:bg-indigo-50 peer-checked/m1:text-indigo-700 peer-checked/m1:ring-indigo-500">1 месяц</label>

										<input name="pay_period" id="m3" class="peer/m3 hidden" type="radio">
										<label for="m3" class="py-2 px-4 bg-white ring-1 ring-gray-300 text-gray-700 text-sm font-medium cursor-pointer hover:bg-gray-50 peer-checked/m3:z-10 peer-checked/m3:bg-indigo-50 peer-checked/m3:text-indigo-700 peer-checked/m3:ring-indigo-500">3 месяца</label>

										<input name="pay_period" id="m6" class="peer/m6 hidden" type="radio">
										<label for="m6" class="py-2 px-4 bg-white ring-1 ring-gray-300 text-gray-700 text-sm font-medium cursor-pointer hover:bg-gray-50 peer-checked/m6:z-10 peer-checked/m6:bg-indigo-50 peer-checked/m6:text-indigo-700 peer-checked/m6:ring-indigo-500">6 месяцев</label>

										<input name="pay_period" id="m12" class="peer/m12 hidden" type="radio">
										<label for="m12" class="py-2 px-4 bg-white ring-1 ring-gray-300 rounded-r-md text-gray-700 text-sm font-medium cursor-pointer hover:bg-gray-50 peer-checked/m12:z-10 peer-checked/m12:bg-indigo-50 peer-checked/m12:text-indigo-700 peer-checked/m12:ring-indigo-500">1 год</label>
									</div>
								</div>

								<div class="h-9 flex items-center">
									<input id="free_period" type="checkbox" class="checkbox peer">
									<label for="free_period" class="ml-2 text-sm">Бесплатный тестовый период</label>
									<input class="inputs hidden w-[99px] ml-4 py-2 px-3 text-sm peer-checked:block" placeholder="Дней" type="text">
								</div>

								<div class="space-y-1">
									<div class="text-gray-700 text-sm font-medium">Промокод</div>

									<div class="flex">
										<input v-model="promoCode" :disabled="isInputDisabled" ref="promoInput" class="inputs w-[226px] z-10 py-2 px-3 rounded-r-none text-sm disabled:bg-gray-50 disabled:text-gray-500" placeholder="Введите промокод" type="text"/>
										<button @click="editPromo" class="py-2 px-4 bg-white ring-1 ring-gray-300 rounded-r-md text-gray-700 text-sm font-medium hover:bg-gray-50" type="button">${ buttonLabel }</button>
									</div>
								</div>

								{% set total = 10 %}

								<div class="space-y-4">
									<h4 class="text-sm font-semibold">Стоимость:</h4>
									<div class="space-y-1">
										<div class="flex space-x-2">
											<div class="w-44 text-sm">Стоимость без скидок:</div>
											<div class="text-sm">${{ total|number_format(2, '.', '') }}</div>
										</div>
										<div class="flex space-x-2">
											<div class="w-44 text-sm">Скидка по промокоду:</div>
											<div class="text-sm">не применён</div>
										</div>
										<div class="flex space-x-2">
											<div class="w-44 text-sm">Скидка по акции:</div>
											<div class="text-sm">Без скидки</div>
										</div>
									</div>
									<hr>
									<div class="space-y-1">
										<div class="flex space-x-2">
											<div class="w-44 text-sm">Всего (без VAT):</div>
											<div class="text-sm">${{ total|number_format(2, '.', '') }}</div>
										</div>
										<div class="flex space-x-2">
											<div class="w-44 text-sm">VAT (20%):</div>
											<div class="text-sm">${{ (total / 5)|number_format(2, '.', '') }}</div>
										</div>
										<div class="flex space-x-2">
											<div class="w-44 text-sm font-semibold">Итого:</div>
											<div class="text-sm font-semibold">${{ (total + (total / 5))|number_format(2, '.', '') }}</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="py-5 px-6 space-y-1 ring-1 ring-gray-300 rounded-lg bg-yellow-50">
							<div class="text-xs font-medium">Примечания администратора</div>
							<div class="text-gray-400 text-sm">Примечание</div>
						</div>

						<div class="flex justify-end space-x-3">
							<a href="{{ path('orders') }}" class="py-2 px-4 ring-1 ring-gray-300 rounded-md text-gray-700 text-sm font-medium hover:bg-gray-50">Отмена</a>
							<button @click="orderCreating()" class="py-2 px-4 bg-indigo-600 rounded-md text-white text-sm font-medium hover:bg-indigo-700" type="button">Сформировать заказ</button>
						</div>
					</div>

				</orders-settings>

				{% block modals %}

				{% endblock %}

			{% endblock %}

		</main>

	</orders-module>

{% endblock %}
