{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block main %}

	<orders-module inline-template>

		<main class="pb-24">

			{% block content %}

				{% block header %}

				<div class="flex items-center justify-between py-4 px-8 bg-gray-50 border-b">
					<h3 class="font-semibold text-lg leading-6">{{ title }}</h3>
					<div class="flex items-center space-x-3 bg-white">
						<div class="relative flex items-center ring-1 ring-gray-300 rounded-md">
							<div class="w-[100px] flex py-2 px-4 space-x-2">
								<button type="button" class="rounded text-gray-500 hover:text-gray-900">
									{{ source('misc/svg/reload.svg') }}
								</button>
								<div class="text-gray-700 text-sm font-medium cursor-default">3:14</div>
							</div>

							<button type="button" class="py-2 px-3 border-l border-gray-300 rounded-r-md hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
								{{ source('misc/svg/arrow.svg') }}
							</button>
							{% set intervals = ['30 секунд', '1 минута', '5 минут', '10 минут', '15 минут'] %}
							<ul class="dropdown w-[145px] text-sm text-gray-700">
								{% for i in intervals %}
									<li>
										<button type="button" class="w-full py-2 px-4 text-left">{{ i }}</button>
									</li>
								{% endfor %}
							</ul>
						</div>
						<a href="{{ path('new_order') }}" class="inline-flex items-center py-2 pl-3 pr-4 space-x-2 rounded-md bg-indigo-600 text-white text-sm font-medium hover:bg-indigo-700">
							{{ source('misc/svg/plus.svg') }}
							<span>Добавить</span>
						</a>
					</div>
				</div>

				{% endblock %}

				<orders-settings inline-template>

					<div class="px-8">

						{% block control %}

						<div class="flex justify-between pt-6">
							<div class="flex items-center text-sm text-gray-700 font-medium">
								<a href="#" class="z-10 py-2 px-4 ring-1 ring-indigo-500 bg-indigo-50 text-indigo-700 rounded-l-md hover:bg-gray-50">Все</a>
								<a href="#" class="ml-px py-2 px-4 ring-1 ring-gray-300 hover:bg-gray-50">Новые</a>
								<a href="#" class="ml-px flex items-center py-2 pl-3 pr-4 space-x-2 ring-1 ring-gray-300 rounded-r-md hover:bg-gray-50">
									{{ source('misc/svg/circles/green-400.svg') }}
									<span>Active</span>
								</a>
							</div>

							<div class="flex items-center space-x-2">
								<button type="button" @click="ordersSpecialSettingsModal()" class="inline-flex items-center py-2 px-4 rounded-md ring-1 ring-gray-300 hover:bg-gray-50">
									{{ source('misc/svg/settings.svg') }}
								</button>
								<div class="relative w-60">
									<div class="pointer-events-none absolute inset-y-0 left-3 flex items-center">
										{{ source('misc/svg/search.svg') }}
									</div>
									<input class="inputs block w-full py-2 pl-10 pr-3 text-sm" placeholder="Поиск по Сумме или IP" type="text">
								</div>
								<button @click="ordersFilters()" type="button" class="inline-flex items-center py-2 pl-3 pr-4 space-x-2 rounded-md ring-1 ring-gray-300 hover:bg-gray-50">
									{{ source('misc/svg/filters.svg') }}
									<span class="text-gray-700 text-sm font-medium">Фильтры</span>
								</button>
							</div>
						</div>

						{% endblock %}

						{% block table %}

						<div class="py-4">
							<div class="ring-1 ring-gray-200 rounded-t-lg overflow-hidden overflow-x-auto">
								<table class="min-w-full">
									<thead class="border-b border-gray-300 bg-gray-50">
									<tr class="text-sm font-medium">
										<th class="p-3 pl-6 text-left font-medium whitespace-nowrap">ID - Тариф</th>
										<th class="w-14 p-3 text-left font-medium">Лок.</th>
										<th class="w-[152px] p-3 text-left font-medium">Создан</th>
										<th class="w-[152px] p-3 text-left font-medium">Клиент</th>
										<th class="w-[124px] p-3 text-left font-medium whitespace-nowrap">Метод оплаты</th>
										<th class="w-28 p-3 text-right font-medium">Сумма</th>
										<th class="w-[114px] p-3 text-left font-medium">Инвойс</th>
										<th class="w-[122px] p-3 text-left font-medium">Заказ</th>
									</tr>
									</thead>

									<tbody class="divide-y">

									{% for order in orders %}

										<tr class="text-sm">
											<td class="min-w-40 popover__wrapper relative inline-block py-4 pl-6 pr-3 font-medium">
												<a href="{{ path('order_details') }}" class="font-medium line-clamp-1 overflow-hidden hover:text-indigo-700" title="{{ order.id }} - {{ order.tariff}}">{{ order.id }} - {{ order.tariff}}</a>
											</td>
											<td class="py-4 px-3 text-gray-500">{{ order.loc }}</td>
											<td class="py-4 px-3 text-gray-500 truncate">{{ order.created_date }}, {{ order.created_time }}</td>
											<td class="py-4 px-3">
												<a href="{{ path('overview') }}" class="w-32 line-clamp-1 overflow-hidden font-medium hover:text-indigo-700" title="{{ order.client_name }}">{{ order.client_name }}</a>
											</td>
											<td class="py-4 px-3 text-gray-500 truncate">{{ order.pay_method }}</td>
											<td class="py-4 px-3 text-gray-500 text-right">${{ order.amount|number_format('2', '.') }}</td>
											<td class="py-4 px-3">
												{% for val, css in invoice_statuses %}
													{% if val == order.invoice_status %}
														<div class="w-fit py-0.5 px-2.5 rounded-xl bg-{{ css }}-100 text-{{ css }}-800 text-xs font-medium">{{ order.invoice_status }}</div>
													{% endif %}
												{% endfor %}
											</td>
											<td class="py-4 px-3">
												{% for val, css in order_statuses %}
													{% if val == order.order_status %}
														<div class="w-fit py-0.5 px-2.5 rounded-xl bg-{{ css }}-{% if val == 'In progress' %}200{% else %}100{% endif%} text-{{ css }}-800 text-xs font-medium">{{ order.order_status }}</div>
													{% endif %}
												{% endfor %}
											</td>
										</tr>

									{% endfor %}

									</tbody>
								</table>
							</div>

							{% include 'parts/pagination.html.twig' %}

						</div>

						{% endblock %}

					</div>

				</orders-settings>

				{% block modals %}
					{% include 'orders/modals/orders.special.settings.html.twig' %}
					{% include 'orders/modals/orders.filters.html.twig' %}
				{% endblock %}

			{% endblock %}

		</main>

	</orders-module>

{% endblock %}
