{% extends 'settings/answers/base.answers.html.twig' %}

{% set currentTab = 'settings_answers' %}

{% block answers %}

	<div class="h-[884px] flex ring-1 ring-gray-300 rounded-lg divide-x divide-gray-300">

		<nav class="w-56 flex flex-col rounded-l-lg overflow-y-auto">
			<a href="#" class="w-full py-3 px-4 bg-gray-50 text-sm font-medium">Все категории</a>
			{% for i in navigation %}
				<a href="#" class="py-3 px-4 text-gray-700 text-sm hover:bg-gray-50">{{ i }}</a>
			{% endfor %}
		</nav>

		<div class="relative flex-1">
			<div class="flex justify-between p-4 border-b border-gray-300">
				<div class="flex items-center py-2 space-x-4">
					<input type="checkbox" class="checkbox peer">
					<button @click="deleteAnswers()" class="popover__wrapper relative text-gray-300 pointer-events-none peer-checked:text-gray-500 peer-checked:hover:text-red-500 peer-checked:pointer-events-auto">
						{{ source('assets/images/bucket-20.svg') }}
						<div class="popover__content w-fit bottom-9 -left-[27px] py-2 px-3 bg-gray-800 text-gray-100 text-xs font-medium rounded-lg whitespace-nowrap">Удалить</div>
					</button>
				</div>
				<div class="flex space-x-3">
					<div class="flex">
						<button class="z-10 py-2 px-4 bg-indigo-50 ring-1 ring-indigo-500 rounded-l-md text-indigo-700 text-sm font-medium pointer-events-none">Все</button>
						<button class="ml-px py-2 px-4 ring-1 ring-gray-300 text-gray-700 text-sm font-medium hover:bg-gray-50">Ru</button>
						<button class="ml-px py-2 px-4 ring-1 ring-gray-300 rounded-r-md text-gray-700 text-sm font-medium hover:bg-gray-50">Eng</button>
					</div>
					<div class="relative flex items-center">
						<div class="pointer-events-none absolute inset-y-0 left-3 flex items-center">
							{{ source('assets/images/search.svg') }}
						</div>
						<input class="inputs w-72 py-2 pl-10 pr-3 text-sm" placeholder="Введите заголовок или описание" type="text">
					</div>
				</div>
			</div>

			<div class="h-[813px] max-h-full rounded-br-lg overflow-y-auto overflow-x-hidden">
				{% for answer in answers %}
					<div class="answer_body_{{ answer.id }} flex pt-3 pb-2 px-4 {{ loop.last ? '' : 'border-b border-gray-300' }} cursor-default hover:bg-gray-50">
						<div class="relative w-full">
							<input type="checkbox" class="checkbox absolute top-[26px]">
							<div class="ml-8 mr-28 space-y-1">
								<p class="text-gray-500 text-xs leading-5">{{ answer.category }}</p>
								<h4 class="flex-1 text-gray-700 text-sm font-medium">{{ answer.title }}</h4>
								<div id="{{ answer.id }}" class="text-gray-500 text-xs leading-5 line-clamp-1">{{ answer.content|raw }}</div>
							</div>
							<div class="absolute top-4 right-4 flex items-center space-x-2">
								<button @click="answerEditor({{ answer.id }})" class="p-2 text-gray-500 hover:text-indigo-700" type="button">
									{{ source('assets/images/pencil.svg') }}
								</button>
								<button @click="expandAnswer({{ answer.id }})" class="p-2 text-gray-500 hover:text-indigo-700" type="button" aria-expanded="false">
									{{ source('assets/images/arrow.svg') }}
								</button>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}
