{% extends 'settings/answers/base.answers.html.twig' %}

{% set currentTab = 'settings_categories' %}

{% block categories %}

	<div class="flex space-x-6">
		<div class="w-[656px] space-y-1">
			{% for i in categories %}
				<div class="flex items-center justify-between py-2 px-4 space-x-4 ring-1 ring-gray-200 rounded-lg">
					<p class="text-gray-700 text-sm font-medium">{{ i }}</p>
					<div class="flex space-x-2">
						<button data-category="{{ i }}" @click="editingCategory" class="popover__wrapper relative p-2 text-gray-500 hover:text-indigo-700" type="button">
							{{ source('assets/images/pencil.svg') }}
							<div class="popover__content w-fit bottom-11 -left-[70px] py-2 px-3 bg-gray-800 text-gray-100 text-xs font-medium rounded-lg whitespace-nowrap">Редактировать категорию</div>
						</button>
						<button @click="deleteCategory()" class="popover__wrapper relative p-2 text-gray-500 hover:text-red-500" type="button">
							{{ source('assets/images/bucket-20.svg') }}
							<div class="popover__content w-fit bottom-11 -left-[52px] py-2 px-3 bg-gray-800 text-gray-100 text-xs font-medium rounded-lg whitespace-nowrap">Удалить категорию</div>
						</button>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="w-[400px] h-fit ring-1 ring-gray-200 rounded-lg overflow-hidden">
			<div class="py-5 px-6 bg-gray-50">
				<p v-if="!editMode" class="header_create text-lg font-medium leading-6">Создание новой категории</p>
				<p v-if="editMode" class="header_create text-lg font-medium leading-6">Редактирование категории</p>
			</div>
			<div class="py-5 px-6 space-y-1">
				<p class="text-gray-700 text-sm font-medium">Заголовок <span class="text-red-500 text-sm font-medium">*</span></p>
				<input id="input" class="inputs w-full py-2 px-3 text-gray-700 text-sm" placeholder="Введите заголовок" type="text">
			</div>
			<div class="flex py-5 px-6 space-x-3 bg-gray-50">
				<button v-if="editMode" @click="deleteCategory()" class="p-2 ring-1 ring-gray-300 rounded-md bg-white text-gray-500 hover:bg-gray-50" type="button">
					{{ source('assets/images/bucket-20.svg') }}
				</button>
				<button @click="cancelEditCategory" class="w-full py-2 px-4 bg-white ring-1 ring-gray-300 rounded-md text-gray-700 text-sm font-medium hover:bg-gray-50" type="button">Отменить</button>
				<button v-if="!editMode" @click="createCategory()" class="w-full py-2 px-4 bg-indigo-600 rounded-md text-white text-sm font-medium hover:bg-indigo-700" type="button">Создать</button>
				<button v-if="editMode" @click="editCategory()" class="w-full py-2 px-4 bg-indigo-600 rounded-md text-white text-sm font-medium hover:bg-indigo-700" type="button">Сохранить</button>
			</div>
		</div>
	</div>

{% endblock %}
