{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block main %}

	<clients-module inline-template>
		<main class="mb-24">

			{% block content %}

				{% block header %}

					<div class="px-8 py-4 bg-gray-50 border-b border-gray-200">
						<div class="flex justify-between space-x-4">
							<p class="flex items-center font-semibold text-lg text-gray-900">{{ title }}</p>
							<a href="{{ path('new_user') }}" class="inline-flex items-center py-2 pl-3 pr-4 space-x-2 rounded-md border-0 bg-indigo-600 text-sm font-medium text-white shadow-sm hover:bg-indigo-700">
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
									<path d="M10.75 4.75C10.75 4.33579 10.4142 4 10 4C9.58579 4 9.25 4.33579 9.25 4.75V9.25H4.75C4.33579 9.25 4 9.58579 4 10C4 10.4142 4.33579 10.75 4.75 10.75L9.25 10.75V15.25C9.25 15.6642 9.58579 16 10 16C10.4142 16 10.75 15.6642 10.75 15.25V10.75L15.25 10.75C15.6642 10.75 16 10.4142 16 10C16 9.58579 15.6642 9.25 15.25 9.25H10.75V4.75Z" fill="white"/>
								</svg>
								<span>Добавить</span>
							</a>
						</div>
					</div>

				{% endblock %}

				{% block filters %}
					<clients-list-filters inline-template>
						<div class="flex justify-between pt-6 px-8">
							<div class="flex items-center">
								<div class="relative">
									<button type="button" class="flex justify-between w-[220px] py-2 px-3 space-x-2 rounded-md border border-gray-300 bg-white text-left shadow-sm hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
										<p class="text-sm text-gray-900 pointer-events-none">{% if getGet() is empty %}Все статусы{% else %}{{ getGet() }}{% endif %}</p>
										<svg class="pointer-events-none" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M5.29292 7.29289C5.68345 6.90237 6.31661 6.90237 6.70713 7.29289L10 10.5858L13.2929 7.29289C13.6834 6.90237 14.3166 6.90237 14.7071 7.29289C15.0976 7.68342 15.0976 8.31658 14.7071 8.70711L10.7071 12.7071C10.3166 13.0976 9.68344 13.0976 9.29292 12.7071L5.29292 8.70711C4.9024 8.31658 4.9024 7.68342 5.29292 7.29289Z" fill="#9CA3AF"/>
										</svg>
									</button>

									{% set statuses = ['Active', 'Closed', 'Inactive', 'Unconfirmed', 'Email не подтвержден'] %}

									<ul class="absolute z-10 top-10 w-full overflow-auto rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
										<li>
											<a href="{{ path('clients') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 {% if getGet() is empty %}text-gray-900 font-semibold bg-gray-50 hover:bg-gray-100{% endif %}">Все статусы</a>
										</li>
										{% for status in statuses %}
										<li>
											<a href="{{ path('clients', { sort:status }) }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 {% if getGet() == status %}text-gray-900 font-semibold bg-gray-50 hover:bg-gray-100{% endif %}">{{ status }}</a>
										</li>
										{% endfor %}
									</ul>
								</div>
							</div>

							<div class="relative flex items-center">
								<div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
									<svg class="h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
										<path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
									</svg>
								</div>
								<input class="w-[240px] rounded-md border border-gray-300 py-2 pl-10 pr-3 text-sm placeholder-gray-400" placeholder="Поиск по Email или ID" type="text">
							</div>
						</div>
					</clients-list-filters>
				{% endblock %}

				{% block table %}

					<div class="py-4 px-8">
						<div class="min-w-full overflow-hidden overflow-x-auto align-middle rounded-t-lg border border-gray-200">
							<table class="min-w-full divide-y divide-gray-200">
								<thead>
								<tr class="bg-gray-50 border-b border-gray-300 text-gray-900 text-sm">
									<th class="w-[136px] pl-6 pr-3 py-3 text-left font-medium">ID</th>
									<th class="px-3 py-3 text-left font-medium">Email</th>
									<th class="w-[184px] px-3 py-3 text-left font-medium">Имя</th>
									<th class="w-40 px-3 py-3 text-right font-medium">Баланс</th>
									<th class="w-[104px] px-3 py-3 text-right font-medium">Услуги</th>
									<th class="w-[136px] px-3 py-3 text-left font-medium">Статус</th>
									<th class="w-[168px] pl-3 pr-6 py-3 text-left font-medium">Зарегистрирован</th>
								</tr>
								</thead>
								<tbody class="divide-y divide-gray-200 bg-white">

								{% set duplicates = [] %}

								{% for user in users %}

									{% set table_body %}

									<tr class="text-sm text-gray-900">
										<td class="pl-6 pr-3 py-4">
											<a href="{{ path('overview', { id: user.id }) }}" class="font-medium hover:text-indigo-700">{{ user.id }}</a>
											{% for i in duplicates %}
												{% if i == user.email %}
												<p class="text-red-500 cursor-default">Duplicate</p>
												{% endif %}
											{% endfor %}
										</td>
										<td class="px-3 py-4">
											<a href="{{ path('overview', { id: user.id }) }}" class="font-medium hover:text-indigo-700">
												<p class="w-40 min-w-full truncate">{{ user.email }}</p>
											</a>
										</td>
										<td class="min-w-[143px] px-3 py-4">
											<a href="{{ path('overview', { id: user.id }) }}" class="line-clamp-1 font-medium hover:text-indigo-700">{{ user.name }}</a>
										</td>
										<td class="px-3 py-4 text-gray-500 text-right cursor-default">${{ user.credit }}</td>
										<td class="px-3 py-4 text-gray-500 text-right cursor-default">{{ user.services }}</td>
										<td class="px-3 py-4 cursor-default">
											<span class="px-2.5 py-0.5 rounded-full text-xs font-medium
											{% for val, css in user_statuses %}
												{% if user.status == val %} bg-{{ css }}-100 text-{{ css }}-800{% endif %}
											{% endfor %}">{{ user.status }}
											</span>
										</td>
										<td class="pl-3 pr-6 py-4 text-gray-500 cursor-default">{{ user.created }}</td>
									</tr>
									{% set duplicates = duplicates|merge( [user.email] ) %}

									{% endset %}

									{% if getGet() %}
										{% if user.status == getGet() %}
											{{ table_body }}
										{% endif %}
									{% else %}
										{{ table_body }}
									{% endif %}

								{% endfor %}

								</tbody>
							</table>
						</div>

						{% include 'parts/pagination.html.twig' %}

					</div>

				{% endblock %}

			{% endblock %}

		</main>
	</clients-module>

{% endblock %}
