{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% set side_menu_item = 'clients:list' %}

{% block main %}

	<clients-module inline-template>
		<main class="pb-24">

			{% block content %}

				{% block header %}

					<div class="px-8 py-4 bg-gray-50 border-b border-gray-200">
						<div class="flex justify-between space-x-4">
							<p class="flex items-center font-semibold text-lg">{{ title }}</p>
							<a href="{{ path('new_user') }}" class="inline-flex items-center py-2 pl-3 pr-4 space-x-2 rounded-md bg-indigo-600 text-sm font-medium text-white hover:bg-indigo-700">
								{{ source('assets/images/plus.svg') }}
								<span>Добавить</span>
							</a>
						</div>
					</div>

				{% endblock %}

				{% block filters %}
					<clients-list-filters inline-template>
						<div class="flex justify-between pt-6 px-8">
							<div class="flex items-center">
								<div class="relative">
									<button type="button" class="flex justify-between w-[220px] py-2 px-3 space-x-2 rounded-md ring-1 ring-gray-300 hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
										<p class="text-sm pointer-events-none">{% if getGet() is empty %}Все статусы{% else %}{{ getGet() }}{% endif %}</p>
										{{ source('assets/images/arrow.svg') }}
									</button>

									{% set statuses = ['Active', 'Closed', 'Inactive', 'Unconfirmed', 'Email не подтвержден', 'Blocked'] %}

									<ul class="dropdown w-full overflow-auto">
										<li>
											<a href="{{ path('clients') }}" class="block px-4 py-2 text-sm text-gray-700 {% if getGet() is empty %}text-gray-50 font-medium bg-indigo-600{% endif %}">Все статусы</a>
										</li>
										{% for status in statuses %}
										<li>
											<a href="{{ path('clients', { sort:status }) }}" class="block px-4 py-2 text-sm text-gray-700 {% if getGet() == status %}text-gray-50 font-medium bg-indigo-600{% endif %}">{{ status }}</a>
										</li>
										{% endfor %}
									</ul>
								</div>
							</div>

							<div class="relative flex items-center">
								<div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
									{{ source('assets/images/search.svg') }}
								</div>
								<input class="inputs w-[240px] py-2 pl-10 pr-3 text-sm" placeholder="Поиск по Email или ID" type="text">
							</div>
						</div>
					</clients-list-filters>
				{% endblock %}

				{% block table %}

					<div class="py-4 px-8">
						<div class="min-w-full overflow-hidden overflow-x-auto align-middle rounded-t-lg ring-1 ring-gray-200">
							<table class="min-w-full">
								<thead>
								<tr class="bg-gray-50 border-b border-gray-300 text-sm">
									<th class="w-[136px] pl-6 pr-3 py-3 text-left font-medium">ID</th>
									<th class="px-3 py-3 text-left font-medium">Email</th>
									<th class="w-[184px] px-3 py-3 text-left font-medium">Имя</th>
									<th class="w-[120px] px-3 py-3 text-right font-medium">Баланс</th>
									<th class="w-[104px] px-3 py-3 text-right font-medium">Услуги</th>
									<th class="w-[136px] px-3 py-3 text-left font-medium">Статус</th>
									<th class="w-[168px] pl-3 pr-6 py-3 text-left font-medium">Зарегистрирован</th>
								</tr>
								</thead>
								<tbody class="divide-y">

								{% set duplicates = [] %}

								{% for user in users %}

									{% set table_body %}

									<tr class="text-sm">
										<td class="pl-6 pr-3 py-4">
											<a href="{{ path('profile', { id: user.id }) }}" class="font-medium hover:text-indigo-700">{{ user.id }}</a>
											{% for i in duplicates %}
												{% if i == user.email %}
												<p class="text-red-500 cursor-default">Duplicate</p>
												{% endif %}
											{% endfor %}
										</td>
										<td class="px-3 py-4">
											<a href="{{ path('profile', { id: user.id }) }}" class="font-medium hover:text-indigo-700">
												<p class="w-40 min-w-full truncate">{{ user.email }}</p>
											</a>
										</td>
										<td class="min-w-[143px] px-3 py-4">
											<a href="{{ path('profile', { id: user.id }) }}" class="line-clamp-1 font-medium hover:text-indigo-700">{{ user.first_name }} {{ user.last_name }}</a>
										</td>
										<td class="px-3 py-4 text-gray-500 text-right cursor-default">${{ user.credit }}</td>
										<td class="px-3 py-4 text-gray-500 text-right cursor-default">{{ user.services }}</td>
										<td class="px-3 py-4 cursor-default">
											<span class="px-2.5 py-0.5 rounded-full text-xs font-medium
											{% for val, css in user_statuses %}
												{% if user.status == val %} bg-{{ css }}-100 text-{{ css }}-800{% endif %}
											{% endfor %}">{{ user.status }}
											</span>
										</td>
										<td class="pl-3 pr-6 py-4 text-gray-500 cursor-default">{{ user.created.date|date("d/m/Y") }}</td>
									</tr>
									{% set duplicates = duplicates|merge( [user.email] ) %}

									{% endset %}

									{% if getGet() %}
										{% if user.status == getGet() %}
											{{ table_body }}
										{% endif %}
									{% else %}
										{{ table_body }}
									{% endif %}

								{% endfor %}

								</tbody>
							</table>
						</div>

						{% include 'parts/pagination.html.twig' %}

					</div>

				{% endblock %}

			{% endblock %}

		</main>
	</clients-module>

{% endblock %}
