{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block main %}

	<div class="flex flex-1 flex-col">
		<main class="flex-1 mb-24">

			{% block content %}

				{% block header %}

					<div class="bg-gray-50 mx-auto px-4 sm:px-6 lg:px-8 py-4 space-y-2">
						<nav class="flex items-center text-sm text-gray-500 font-medium">
							<a href="{{ path ('letters') }}">Письма</a>
							<div class="ml-3">
								<svg width="20" height="20" viewBox="0 -1 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M7.29289 14.7071C6.90237 14.3166 6.90237 13.6834 7.29289 13.2929L10.5858 10L7.29289 6.70711C6.90237 6.31658 6.90237 5.68342 7.29289 5.29289C7.68342 4.90237 8.31658 4.90237 8.70711 5.29289L12.7071 9.29289C13.0976 9.68342 13.0976 10.3166 12.7071 10.7071L8.70711 14.7071C8.31658 15.0976 7.68342 15.0976 7.29289 14.7071Z" fill="#9CA3AF"/>
								</svg>
							</div>
							<p class="ml-3">Письмо #{{ letter.id }}</p>
						</nav>
						<div class="flex items-center justify-between">
							<p class="text-gray-900 font-semibold text-lg">{{ letter.title }}</p>
							<p class="text-gray-600 text-sm">{{ letter.date }}, {{ letter.time }}</p>
						</div>
					</div>

				{% endblock %}

				<div class="my-6 mx-8 bg-gray-50 border border-gray-200 rounded-lg">
					<div class="mx-auto max-w-xl">
						<div class="p-6">
							<svg width="96" height="20" viewBox="0 0 96 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M19.9033 3.65075V2.12514C19.2965 1.99735 18.6698 1.99735 18.063 2.12514V4.23703H19.9033V3.65075Z" fill="#FCC237"/>
								<path d="M21.9337 6.46324L22.6669 6.22521L23.3858 5.99198C23.3583 5.71546 23.3048 5.44214 23.226 5.17566L23.1685 4.99514C23.0758 4.73184 22.9587 4.4778 22.8187 4.23633L22.0966 4.47116L21.3665 4.71558L20.6141 4.96L19.9032 5.19483H18.0629L17.352 4.96479L16.6012 4.71558L15.8696 4.47755L15.1491 4.23633C15.0087 4.48042 14.8916 4.73714 14.7992 5.00313L14.7513 5.15489C14.6718 5.425 14.6183 5.7021 14.5916 5.98239L15.3104 6.21563L16.0421 6.45366L16.7945 6.69807L17.5038 6.92811L17.0645 7.53197L16.5996 8.17097L16.1395 8.80358L15.6938 9.41702C15.8824 9.62641 16.0905 9.81737 16.3153 9.98732L16.4399 10.0784C16.6707 10.2391 16.9162 10.3776 17.1731 10.4921L17.6188 9.88029L18.0693 9.25727L18.5342 8.61827L18.9735 8.01441L19.4128 8.61827L19.8777 9.25727L20.3298 9.88029L20.7882 10.4985C21.0444 10.3842 21.2894 10.2462 21.5199 10.0864L21.6477 9.99212C21.8743 9.8214 22.084 9.62935 22.2739 9.41861L21.8282 8.80517L21.3761 8.18375L20.9113 7.54475L20.4688 6.9377L21.178 6.70766L21.9337 6.46324Z" fill="#FCC237"/>
								<path d="M2.7349 6.17188H0.5V15.5939H2.7349V6.17188Z" fill="#231F20"/>
								<path d="M2.7365 2.08952C1.99578 1.97016 1.24072 1.97016 0.5 2.08952L0.5 4.32602H2.7365V2.08952Z" fill="#231F20"/>
								<path d="M10.0851 12.9913C10.1058 12.7794 10.0427 12.5678 9.90935 12.4018C9.7797 12.2589 9.622 12.1441 9.44607 12.0648C9.23048 11.9679 9.0071 11.8893 8.77832 11.8299C8.52751 11.7628 7.31022 11.3507 6.98912 11.2197C6.68265 11.1072 6.39665 10.9453 6.14245 10.7404C5.88305 10.5367 5.67194 10.2781 5.52422 9.98321C5.35964 9.63354 5.27558 9.25142 5.2782 8.86496C5.28651 8.40027 5.40942 7.94481 5.63604 7.53904C5.83055 7.16102 6.09826 6.82543 6.42361 6.55178C6.76323 6.28045 7.15541 6.08245 7.5754 5.9703C8.02771 5.84008 8.49615 5.77447 8.96682 5.7754C9.56109 5.7754 11.0739 6.02301 12.1043 6.92081L10.871 8.16047C10.5954 8.0339 10.3133 7.92192 10.026 7.82499C9.75644 7.73874 9.47755 7.68511 9.19527 7.66524C8.94663 7.64871 8.6969 7.66862 8.45403 7.72435C8.28478 7.76598 8.1249 7.83914 7.98277 7.94001C7.87142 8.01992 7.78189 8.12647 7.72237 8.24993C7.67005 8.36481 7.64282 8.48952 7.6425 8.61575C7.63404 8.81153 7.69643 9.00379 7.81822 9.1573C7.94867 9.30758 8.11292 9.42475 8.29747 9.49917C8.50515 9.58543 9.39655 9.87937 9.61062 9.93209C9.94609 10.0136 10.28 10.1094 10.6138 10.2228C10.9385 10.3331 11.2432 10.4949 11.5164 10.7021C11.7918 10.9164 12.016 11.1892 12.173 11.5008C12.3635 11.8857 12.4573 12.3112 12.4462 12.7405C12.4513 13.239 12.3385 13.7316 12.1171 14.1782C11.6954 15.0249 10.4046 15.993 8.87896 15.993C7.35335 15.993 6.26386 15.5297 5.11206 14.6719L6.32616 13.4434C6.7432 13.6648 7.18223 13.842 7.63611 13.9722C8.0063 14.0834 8.39192 14.1346 8.77832 14.1239C9.82628 14.0345 10.0643 13.3252 10.0819 13.0057" fill="#231F20"/>
								<path d="M76.1704 7.08728C76.1704 7.08728 77.4803 6.17032 78.311 5.91312C78.6529 5.81389 79.0079 5.76703 79.3638 5.77414C79.7079 5.77271 80.0507 5.81403 80.3846 5.89715C80.7045 5.97532 81.0094 6.10538 81.2872 6.28215C81.5661 6.46399 81.8106 6.69387 82.0093 6.96108C82.2295 7.26098 82.3965 7.59656 82.5029 7.95313C82.571 8.1791 82.6159 8.41139 82.6371 8.64644C82.6594 8.89725 82.6722 9.1864 82.6722 9.51548V15.586H80.4357V9.79824C80.4357 9.53146 80.4245 9.30142 80.4054 9.10972C80.3899 8.93802 80.3528 8.76896 80.2951 8.60651C80.1587 8.29525 79.9272 8.0352 79.6338 7.86367C79.3633 7.71545 79.0587 7.64055 78.7504 7.64641C78.2473 7.64109 77.7496 7.75035 77.295 7.96591C76.8835 8.16578 76.5061 8.42942 76.1768 8.74709V15.5924H73.9419V6.16713H76.1704V7.08728Z" fill="#231F20"/>
								<path d="M64.678 13.9297C64.3207 14.0365 63.9515 14.0982 63.5789 14.1134C63.0112 14.1134 62.6326 13.967 62.4431 13.6741C62.3178 13.4275 62.2625 13.1512 62.2833 12.8753V7.98221H64.8537V6.17064H62.2801V3.99805C61.4839 4.13288 60.7231 4.4274 60.0436 4.86389V6.17064H58.5899C58.5818 6.18303 58.5727 6.19478 58.5627 6.20579V7.98221H60.0436V13.1469C60.0248 13.615 60.0998 14.0821 60.2641 14.5208C60.4705 14.9959 60.8415 15.3805 61.3088 15.6039C61.7689 15.8387 62.6667 15.9633 63.1731 15.9793H63.3872C63.6501 15.9727 63.9125 15.9519 64.1732 15.917C64.3949 15.8851 64.6146 15.8408 64.8313 15.7844C64.9304 15.7572 65.1412 15.6949 65.2834 15.647L64.678 13.9297Z" fill="#231F20"/>
								<path d="M55.4541 10.7012C55.1813 10.4943 54.8771 10.3324 54.5531 10.222C54.2176 10.1086 53.8837 10.0127 53.5498 9.93125C53.3358 9.87853 52.4428 9.58459 52.2367 9.49833C52.0494 9.4248 51.8823 9.30759 51.7495 9.15647C51.6286 9.00253 51.5669 8.81043 51.5753 8.61491C51.5749 8.4886 51.6022 8.36373 51.6552 8.24909C51.714 8.12514 51.8036 8.0184 51.9156 7.93917C52.0574 7.83773 52.2174 7.76451 52.3869 7.72351C52.6292 7.66771 52.8784 7.64779 53.1265 7.6644C53.4088 7.68412 53.6877 7.73776 53.9572 7.82415C54.2863 7.93438 54.5259 8.03662 54.724 8.12448L56.01 6.8976C54.9812 6.01898 53.4875 5.77935 52.8981 5.77935C52.4287 5.77712 51.9613 5.84112 51.5098 5.96946C51.0895 6.08197 50.6969 6.27992 50.3564 6.55095C50.0315 6.825 49.7639 7.1605 49.5689 7.5382C49.343 7.94427 49.2201 8.39954 49.211 8.86412C49.2084 9.25058 49.2925 9.6327 49.457 9.98237C49.6051 10.2771 49.8161 10.5356 50.0753 10.7396C50.3303 10.9441 50.6168 11.106 50.9236 11.2188C51.2431 11.3418 52.4619 11.762 52.7128 11.8291C52.9408 11.8876 53.1632 11.9662 53.3773 12.0639C53.5544 12.1422 53.7132 12.2564 53.8438 12.3994C53.9755 12.5656 54.0384 12.776 54.0195 12.9873C54.0019 13.3068 53.7639 14.0208 52.7159 14.1055C52.3295 14.1164 51.9439 14.0652 51.5737 13.9538C51.0722 13.8257 50.5925 13.6238 50.1504 13.3547L49.104 14.6982C50.1664 15.5226 51.4719 15.972 52.8166 15.9762C54.3422 15.9762 55.633 15.0081 56.0547 14.1614C56.2728 13.714 56.3822 13.2214 56.3742 12.7237C56.3848 12.2951 56.2917 11.8704 56.1026 11.4856C55.945 11.174 55.7202 10.9012 55.4445 10.6869" fill="#231F20"/>
								<path d="M70.4515 6.17188H68.2166V15.5939H70.4515V6.17188Z" fill="#231F20"/>
								<path d="M69.3331 2C68.9585 1.99969 68.5846 2.0296 68.2148 2.08946V4.21254H70.4513V2.08946C70.0816 2.02962 69.7076 1.99971 69.3331 2Z" fill="#231F20"/>
								<path d="M46.4344 8.79604C46.2371 8.20003 45.9196 7.65087 45.5014 7.18257C45.0902 6.73099 44.5839 6.37634 44.0189 6.14419C43.3909 5.89284 42.7192 5.76902 42.0428 5.77996C41.3775 5.77044 40.717 5.89429 40.1003 6.14419C39.5362 6.37796 39.0302 6.73238 38.6178 7.18257C38.1967 7.65034 37.8759 8.19946 37.6753 8.79604C37.4491 9.4675 37.3379 10.1723 37.3462 10.8808C37.3375 11.5859 37.4455 12.2876 37.6657 12.9575C37.8633 13.5534 38.1808 14.1025 38.5986 14.571C39.0099 15.0221 39.5163 15.3762 40.0811 15.6078C40.709 15.8597 41.3808 15.984 42.0572 15.9736C42.7227 15.9826 43.3832 15.8582 43.9998 15.6078C44.5637 15.3746 45.0697 15.0207 45.4822 14.571C45.903 14.103 46.2238 13.5539 46.4248 12.9575C46.6498 12.2885 46.761 11.5866 46.7539 10.8808C46.7636 10.173 46.6556 9.46846 46.4344 8.79604ZM44.2713 12.277C44.1711 12.6421 44.0031 12.9852 43.7761 13.2882C43.5764 13.5488 43.3188 13.7594 43.0237 13.9032C42.7244 14.0457 42.3966 14.1178 42.0652 14.1141C41.7339 14.1167 41.4063 14.0446 41.1067 13.9032C40.8087 13.7597 40.5479 13.5492 40.3447 13.2882C40.1155 12.9858 39.9458 12.6427 39.8447 12.277C39.7198 11.8223 39.6601 11.3522 39.6674 10.8808C39.6601 10.4093 39.7198 9.93923 39.8447 9.48456C39.9456 9.11822 40.1135 8.77374 40.3399 8.46855C40.5383 8.20442 40.7983 7.99275 41.0971 7.85192C41.3974 7.71338 41.7249 7.64352 42.0556 7.64744C42.3899 7.64367 42.721 7.71348 43.0253 7.85192C43.3261 7.9917 43.5879 8.20349 43.7873 8.46855C44.0143 8.77335 44.1823 9.11795 44.2825 9.48456C44.4074 9.93923 44.4671 10.4093 44.4598 10.8808C44.4635 11.3528 44.4 11.8229 44.2713 12.277Z" fill="#231F20"/>
								<path d="M34.6163 8.64659C34.5959 8.41143 34.5509 8.17905 34.4821 7.95327C34.376 7.59657 34.209 7.26092 33.9884 6.96123C33.7906 6.69325 33.546 6.46324 33.2664 6.28229C32.9882 6.10618 32.6834 5.97617 32.3638 5.89729C32.0299 5.81417 31.687 5.77285 31.343 5.77428C30.9876 5.76719 30.6332 5.81405 30.2918 5.91327C29.4595 6.17046 28.1496 7.08743 28.1496 7.08743V2.33008C27.3371 2.58785 26.579 2.9929 25.9131 3.52501V15.5925H28.1496V8.75042C28.4793 8.43289 28.8566 8.16879 29.2678 7.96765C29.7221 7.7528 30.2191 7.64358 30.7216 7.64815C31.0304 7.64246 31.3354 7.71734 31.6066 7.86541C31.9 8.03695 32.1315 8.29699 32.2679 8.60825C32.325 8.77078 32.3615 8.93984 32.3766 9.11146C32.3988 9.34027 32.4089 9.5701 32.4069 9.79998V15.5925H34.6434V9.52202C34.6434 9.19293 34.6322 8.90378 34.6083 8.65298" fill="#231F20"/>
								<path d="M94.5 6.17186H92.2635V7.08722C92.0268 6.69091 91.6919 6.36231 91.2912 6.13313C90.8905 5.90396 90.4375 5.78194 89.9759 5.77887C89.3741 5.76276 88.7758 5.87413 88.2202 6.10568C87.6646 6.33723 87.1643 6.68372 86.7521 7.12237C86.3086 7.60646 85.9688 8.17621 85.7537 8.79655C85.5308 9.46856 85.4227 10.1734 85.4342 10.8813C85.4239 11.5865 85.5319 12.2885 85.7537 12.958C85.9688 13.5779 86.3086 14.1471 86.7521 14.6306C87.2841 15.1945 88.2857 15.9741 89.9759 15.9741C90.4377 15.9713 90.891 15.8493 91.2918 15.6198C91.6926 15.3903 92.0273 15.0611 92.2635 14.6642C92.2635 15.7824 92.5111 17.9965 89.8672 17.8432C88.9187 17.7944 87.9945 17.5258 87.1675 17.0588L86.3 18.594C87.3149 19.2798 88.4971 19.6768 89.7203 19.7426C92.1708 19.8592 93.3242 19.0173 93.9329 17.9694C94.4904 17.0109 94.4984 15.9757 94.4952 14.1082C94.4952 11.8366 94.4952 6.16068 94.4952 6.16068L94.5 6.17186ZM89.7027 14.0683L89.6372 14.0555H89.6116C89.4547 14.02 89.3025 13.9664 89.1579 13.8958C88.8592 13.7556 88.5992 13.5444 88.4007 13.2807C88.1749 12.9752 88.0071 12.6308 87.9055 12.2647C87.7807 11.81 87.721 11.3399 87.7282 10.8685C87.7209 10.3971 87.7806 9.92696 87.9055 9.47229C88.0064 9.10594 88.1743 8.76146 88.4007 8.45628C88.6016 8.19641 88.8625 7.98919 89.1611 7.85243C89.3063 7.78323 89.4584 7.72967 89.6148 7.69268H89.6404L89.7059 7.68149C90.7906 7.50098 91.7539 8.1272 92.2619 8.73744C92.2619 10.0714 92.2619 11.6944 92.2619 13.0203C91.7571 13.6306 90.7954 14.2568 89.7059 14.0779" fill="#231F20"/>
							</svg>
						</div>
						<div class="p-6 bg-white space-y-5">
							<h3 class="text-gray-800 text-sm font-bold">{{ letter.title }}</h3>
							<div class="text-gray-700 text-sm">
								<p>Уважаемый(ая) {{ letter.client }}.</p>
								<br>
								<p>Этим письмом мы информируем вас о том, что ваша неоплаченная услуга будет удалена в течении 24 часов и ее восстановление будет невозможно.</p>
								<br>
								<p><span class="font-medium">Услуга: </span>{{ letter.service }}</p>
								<p><span class="font-medium">SSDID услуги: </span>{{ letter.ssdid }}</p>
								<p><span class="font-medium">IP: </span>{{ letter.ip }}</p>
								<p><span class="font-medium">Сумма: </span>{{ letter.amount }}</p>
								<p><span class="font-medium">Оплатить до: </span>{{ letter.payto }}</p>
								<p><span class="font-medium">Причина удаления: </span>{{ letter.cause }}</p>
							</div>
							<button class="py-[9px] px-[17px] bg-yellow-400 hover:bg-yellow-500">Оплатить</button>
							<div class="text-gray-700 text-sm">Если вы заинтересованы в продолжении использования услуги, пожалуйста, свяжитесь с нами через систему тикетов для включения вашего сервера. Если вам требуется отсрочка платежа - <a href="{{ path('new_ticket') }}" class="text-indigo-700">создайте тикет</a> в Биллинг отдел.</div>
						</div>
						<div class="p-6 text-gray-800 text-xs">
							<p>is*hosting © 2023</p>
							<br>
							<p>3NT Solutions, 22 Brоndеsbury Pаrk,</p>
							<p>Willesden, London, NW6 7DL</p>
							<p>+44-208-1-33-30-30</p>
						</div>
					</div>
				</div>

			{% endblock %}

		</main>
	</div>

{% endblock %}
