{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block main %}

	<clients-module inline-template>
		<main class="pb-24">

			{% block content %}

				<div class="h-[70px] flex items-center py-4 px-8 bg-gray-100">
					<h3 class="font-semibold text-lg leading-6">{{ title }}</h3>
				</div>

				<div class="flex justify-end pt-6 px-8">
					<div class="w-60 relative rounded-md shadow-sm">
						<div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
							{{ source('misc/svg/search.svg') }}
						</div>
						<input class="inputs block w-full pl-10 text-sm" placeholder="ID, Email клиента" type="text">
					</div>
				</div>

				{% block table %}

					<div class="mt-4 px-8">
						<div class="min-w-full overflow-hidden overflow-x-auto align-middle border rounded-t-lg">
							<table class="min-w-full">
								<thead>
								<tr class="bg-gray-50 text-sm border-b border-gray-300">
									<th class="w-[180px] pl-6 pr-3 py-3 text-left font-medium">Отдел</th>
									<th class="w-[200px] p-3 text-left font-medium">Получатель</th>
									<th class="min-w-[200px] p-3 text-left font-medium">Заголовок</th>
									<th class="w-[190px] p-3 text-left font-medium">Дата и Время</th>
									<th class="w-[150px] pl-3 pr-6 py-3 text-left font-medium">Статус</th>
								</tr>
								</thead>
								<tbody class="divide-y">

								{% for letter in letters %}

									<tr class="text-sm">
										<td class="pl-6 pr-3 py-4 text-gray-500 whitespace-nowrap cursor-default">{{ letter.dept }}</td>
										<td class="px-3 py-4 text-gray-500 cursor-default">
											<p class="w-[176px] truncate" title="{{ letter.receiver }}">{{ letter.receiver }}</p>
										</td>
										<td class="px-3 py-4 font-medium">
											<a href="{{ path('letter') }}" class="line-clamp-1 overflow-hidden hover:text-indigo-700" title="{{ letter.title }}">{{ letter.title }}</a>
										</td>
										<td class="px-3 py-4 text-gray-500 whitespace-nowrap cursor-default">{{ letter.date }}, {{ letter.time }} ({{ letter.loc }})</td>
										<td class="pl-3 pr-6 py-4 cursor-default">
											{% if letter.status == 1 %}
												<span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800 wh">Доставлено</span>
											{% elseif letter.status == 2 %}
												<span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-orange-200 text-orange-800 wh">Отказ от писем</span>
											{% else %}
												<span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-red-100 text-red-800 whitespace-nowrap">Не доставлено</span>
											{% endif %}
										</td>
									</tr>

								{% endfor %}

								</tbody>
							</table>
						</div>

						{% include 'parts/pagination.html.twig' %}

					</div>

				{% endblock %}

			{% endblock %}

		</main>
	</clients-module>

{% endblock %}
