{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block main %}

	<clients-module inline-template>
		<clients-create inline-template v-cloak>
			<div class="pb-20">
				<div class="py-4 px-8 space-y-2 bg-gray-50">
					<nav class="flex items-center space-x-4 text-sm text-gray-500 font-medium">
						<a href="{{ path ('clients') }}">Клиенты</a>
						<div class="-rotate-90">
							{{ source('misc/svg/arrow.svg') }}
						</div>
						<p>Добавить клиента</p>
					</nav>
					<div class="h-9 flex items-center font-semibold text-lg">{{ title }}</div>
				</div>

				<form class="py-6 px-8 space-y-5">
					<h3 class="text-lg font-medium leading-6">Персональные данные</h3>

					<hr>

					<div class="flex space-x-6">
						<div class="w-[344px] flex">
							<p class="self-center text-sm font-medium text-gray-700">Имя *</p>
						</div>
						<div class="w-80">
							<div class="relative">
								<input v-model="personalData.firstname" class="inputs block w-full text-sm" type="text" placeholder="Иван" autocomplete="given-name"
								       :class="{'bg-red-50 placeholder-red-300': $form['personalData.firstname'] && $form['personalData.firstname'].$dirty && !$form['personalData.firstname'].$valid}">
								<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3" v-if="$form['personalData.firstname'] && $form['personalData.firstname'].$dirty && !$form['personalData.firstname'].$valid">
									{{ source('misc/svg/error.svg') }}
								</div>
							</div>
							<div v-if="$form['personalData.firstname'] && $form['personalData.firstname'].$dirty && !$form['personalData.firstname'].$valid">
								<p class="mt-2 text-sm text-red-500" v-for="item in $form['personalData.firstname'].$errors">${item}</p>
							</div>
						</div>
					</div>

					<hr>

					<div class="flex space-x-6">
						<div class="w-[344px] flex">
							<p class="self-center text-sm font-medium text-gray-700">Фамилия</p>
						</div>
						<div class="w-80">
							<div class="relative">
								<input v-model="personalData.lastname" class="inputs block w-full text-sm" type="text" placeholder="Доу" autocomplete="family-name"
								       :class="{'bg-red-50 placeholder-red-300': $form['personalData.lastname'] && $form['personalData.lastname'].$dirty && !$form['personalData.lastname'].$valid}">
								<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3" v-if="$form['personalData.lastname'] && $form['personalData.lastname'].$dirty && !$form['personalData.lastname'].$valid">
									{{ source('misc/svg/error.svg') }}
								</div>
							</div>
							<div v-if="$form['personalData.lastname'] && $form['personalData.lastname'].$dirty && !$form['personalData.lastname'].$valid">
								<p class="mt-2 text-sm text-red-500" v-for="item in $form['personalData.lastname'].$errors">${item}</p>
							</div>
						</div>
					</div>

					<hr>

					<div class="flex space-x-6">
						<div class="w-[344px] flex">
							<p class="self-center text-sm font-medium text-gray-700">Название компании</p>
						</div>
						<div class="w-80">
							<input type="text" autocomplete="off" class="inputs block w-full text-sm" placeholder="Майкрософт">
						</div>
					</div>

					<hr>

					<div class="flex space-x-6">
						<div class="w-[344px] flex">
							<p class="self-center text-sm font-medium text-gray-700">Email *</p>
						</div>
						<div class="w-80">
							<div class="relative">
								<input v-model="personalData.email" class="inputs block w-full text-sm" placeholder="email@email.com" type="email" autocomplete="off"
								       :class="{'bg-red-50 placeholder-red-300': $form['personalData.email'] && $form['personalData.email'].$dirty && !$form['personalData.email'].$valid}">
								<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3" v-if="$form['personalData.email'] && $form['personalData.email'].$dirty && !$form['personalData.email'].$valid">
									{{ source('misc/svg/error.svg') }}
								</div>
							</div>
							<div v-if="$form['personalData.email'] && $form['personalData.email'].$dirty && !$form['personalData.email'].$valid">
								<p class="mt-2 text-sm text-red-500" v-for="item in $form['personalData.email'].$errors">${item}</p>
							</div>
						</div>
					</div>

					<hr>

					<div class="flex space-x-6">
						<div class="w-[344px] flex">
							<p class="self-center text-sm font-medium text-gray-700">Номер телефона</p>
						</div>
						<div class="w-80">
							<div class="relative">
								<input v-model="personalData.phone" class="inputs block w-full text-sm" type="tel" autocomplete="off" placeholder="+1"
								       :class="{'bg-red-50 placeholder-red-300': $form['personalData.phone'] && $form['personalData.phone'].$dirty && !$form['personalData.phone'].$valid}">
								<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3" v-if="$form['personalData.phone'] && $form['personalData.phone'].$dirty && !$form['personalData.phone'].$valid">
									{{ source('misc/svg/error.svg') }}
								</div>
							</div>
							<div v-if="$form['personalData.phone'] && $form['personalData.phone'].$dirty && !$form['personalData.phone'].$valid">
								<p class="mt-2 text-sm text-red-500" v-for="item in $form['personalData.phone'].$errors">${item}</p>
							</div>
						</div>
					</div>

					<hr>

					{% set statuses = {'Active': 'green', 'Inactive': 'gray', 'Closed': 'gray'} %}

					<div class="flex space-x-6">
						<div class="w-[344px] flex">
							<p class="self-center text-sm font-medium text-gray-700">Статус аккаунта</p>
						</div>
						<div class="relative w-80">
							<button type="button" class="w-full flex rounded-md ring-1 ring-gray-300 py-2 px-3 space-x-2 text-sm hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
								{{ source('misc/svg/circles/green-400.svg') }}
								<div class="grow text-left pointer-events-none">Active</div>
								{{ source('misc/svg/arrow.svg') }}
							</button>

							<ul class="dropdown w-full overflow-auto">
								{% for val, css in statuses %}
									<li class="relative cursor-default select-none" role="option">
										<button type="button" class="flex items-center w-full py-2 px-3 space-x-2 hover:bg-gray-50">
											<div class="h-5 w-5 p-[5px]">
												<div class="h-2.5 w-2.5 flex-shrink-0 rounded-full bg-{{ css }}-400"></div>
											</div>
											<p class="text-sm">{{ val }}</p>
										</button>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>

					<hr>

					<div class="flex space-x-6">
						<div class="w-[344px] flex">
							<p class="self-center text-sm font-medium text-gray-700">Верификация email</p>
						</div>
						<div class="flex items-center space-x-2">
							<input id="email_verif" type="checkbox" class="checkbox">
							<label for="email_verif" class="text-sm">Верифицирован</label>
						</div>
					</div>

					<hr>

					<div class="pt-5 space-y-5">
						<div class="flex space-x-10 text-lg font-medium">
							<div class="w-1/2">Ограничения</div>
							<div class="w-1/2">Разрешения</div>
						</div>
						<div class="flex space-x-10 text-gray-700 text-sm font-medium">
							<div class="w-1/2 p-5 bg-gray-50 border-b rounded-xl">
								<div class="flex items-center justify-between pb-5 border-b">
									<div>Запретить пополнение баланса</div>
									<label for="toggle_balance" class="relative flex items-center cursor-pointer">
										<input type="checkbox" id="toggle_balance" class="sr-only">
										<div class="toggle_body"></div>
										<div class="toggle_dot"></div>
									</label>
								</div>
								<div class="flex items-center justify-between py-5 border-b">
									<div>Запретить оплаты инвойсов</div>
									<label for="toggle_invoicing" class="relative flex items-center cursor-pointer">
										<input type="checkbox" id="toggle_invoicing" class="sr-only">
										<div class="toggle_body"></div>
										<div class="toggle_dot"></div>
									</label>
								</div>
								<div class="flex items-center justify-between pt-5">
									<div>Запретить создание новых заказов и продлений</div>
									<label for="toggle_orders" class="relative flex items-center cursor-pointer">
										<input type="checkbox" id="toggle_orders" class="sr-only">
										<div class="toggle_body"></div>
										<div class="toggle_dot"></div>
									</label>
								</div>
							</div>
							<div class="w-1/2 p-5 bg-gray-50 border-b rounded-xl">
								<div class="flex items-center justify-between pb-5 border-b">
									<div>Разрешить отмену услуг в ЛК со штрафом</div>
									<label for="toggle_services" class="relative flex items-center cursor-pointer">
										<input type="checkbox" id="toggle_services" class="sr-only">
										<div class="toggle_body"></div>
										<div class="toggle_dot"></div>
									</label>
								</div>
							</div>
						</div>
					</div>

					<hr>

					<div class="flex space-x-6">
						<div class="w-[344px] flex">
							<p class="self-center text-sm font-medium text-gray-700">Пароль *</p>
						</div>

						<div class="w-[320px] flex ml-6">
							<div class="relative flex items-center flex-grow items-stretch focus-within:z-10">
								<input v-model="password" :type="isPasswordHidden ? 'password' : 'text'" placeholder="•••••••••••••"
								       class="inputs block w-full pr-10 text-sm"
								       :class="{'bg-red-50 placeholder-red-300': $form['password'] && $form['password'].$dirty && !$form['password'].$valid}">
								<button @click="toggleShowHide()" type="button">
									<svg v-if="isPasswordHidden" class="absolute top-2 right-3" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M3.28033 2.21967C2.98744 1.92678 2.51256 1.92678 2.21967 2.21967C1.92678 2.51256 1.92678 2.98744 2.21967 3.28033L16.7197 17.7803C17.0126 18.0732 17.4874 18.0732 17.7803 17.7803C18.0732 17.4874 18.0732 17.0126 17.7803 16.7197L16.0352 14.9745C17.5064 13.8594 18.6595 12.3465 19.3344 10.5959C19.4814 10.2144 19.4816 9.79127 19.3347 9.40962C17.892 5.66051 14.256 3 9.99859 3C8.28207 3 6.66657 3.43249 5.2551 4.19444L3.28033 2.21967ZM7.75194 6.69128L8.84367 7.78301C9.18951 7.60223 9.58291 7.5 10.0002 7.5C11.3809 7.5 12.5002 8.61929 12.5002 10C12.5002 10.4173 12.398 10.8107 12.2172 11.1565L13.3091 12.2484C13.7454 11.6077 14.0004 10.8336 14.0004 10C14.0004 7.79086 12.2095 6 10.0004 6C9.16675 6 8.39268 6.25501 7.75194 6.69128Z" fill="#9CA3AF"/>
										<path d="M10.7484 13.9302L13.2711 16.4529C12.2462 16.8074 11.1458 17 10.0004 17C5.74298 17 2.10698 14.3395 0.664255 10.5904C0.517392 10.2087 0.517518 9.78563 0.66461 9.40408C1.15603 8.12932 1.90108 6.98057 2.83791 6.01969L6.0702 9.25198C6.02436 9.4943 6.00037 9.74435 6.00037 10C6.00037 12.2091 7.79123 14 10.0004 14C10.256 14 10.5061 13.976 10.7484 13.9302Z" fill="#9CA3AF"/>
									</svg>
									<svg v-if="!isPasswordHidden" class="absolute top-2 right-3" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
										<path d="M10 12.5C11.3807 12.5 12.5 11.3807 12.5 10C12.5 8.61929 11.3807 7.5 10 7.5C8.61929 7.5 7.5 8.61929 7.5 10C7.5 11.3807 8.61929 12.5 10 12.5Z" fill="#9CA3AF"/>
										<path fill-rule="evenodd" clip-rule="evenodd" d="M0.664255 10.5904C0.517392 10.2087 0.517518 9.78563 0.66461 9.40408C2.10878 5.65788 5.7433 3 9.99859 3C14.256 3 17.892 5.66051 19.3347 9.40962C19.4816 9.79127 19.4814 10.2144 19.3344 10.5959C17.8902 14.3421 14.2557 17 10.0004 17C5.74298 17 2.10698 14.3395 0.664255 10.5904ZM14.0004 10C14.0004 12.2091 12.2095 14 10.0004 14C7.79123 14 6.00037 12.2091 6.00037 10C6.00037 7.79086 7.79123 6 10.0004 6C12.2095 6 14.0004 7.79086 14.0004 10Z" fill="#9CA3AF"/>
									</svg>
								</button>
							</div>
							<div v-if="$form['password'] && $form['password'].$dirty && !$form['password'].$valid">
								<p class="mt-2 text-sm text-red-500" v-for="item in $form['password'].$errors">${item}</p>
							</div>
						</div>

						<button @click="generateNewPassword()" type="button" class="ml-4 py-2 px-4 rounded-md ring-1 ring-gray-300 font-medium text-gray-700 text-sm hover:bg-gray-50">Сгенерировать</button>
					</div>

					<hr>

					<div class="flex space-x-6">
						<div class="w-[344px]"></div>
						<button @click="clientAdd()" type="button" class="py-2 px-4 rounded-md bg-indigo-600 text-sm font-medium text-white hover:bg-indigo-700">Добавить клиента</button>
					</div>
				</form>
			</div>
		</clients-create>
	</clients-module>

{% endblock %}
