{% set tabs = [
	{'eng': 'overview', 'rus': 'Обзор'},
	{'eng': 'profile', 'rus': 'Профиль'},
	{'eng': 'services', 'rus': 'Услуги'},
	{'eng': 'invoices', 'rus': 'Инвойсы'},
	{'eng': 'tickets', 'rus': 'Тикеты'},
	{'eng': 'credits', 'rus': 'Кредиты'},
	{'eng': 'transactions', 'rus': 'Транзакции'},
	{'eng': 'emails', 'rus': 'Письма'},
	{'eng': 'notes', 'rus': 'Заметки'},
	{'eng': 'duplicates', 'rus': 'Дубликаты аккаунтов'},
	] %}

<div class="bg-gray-50 mx-auto px-8">
	<nav class="pt-4 flex items-center space-x-4 text-sm text-gray-500 font-medium">
		<a href="{{ path('clients') }}">Клиенты</a>
		<div class="-rotate-90">
			{{ source('misc/svg/arrow.svg') }}
		</div>
		<span>Клиент {{ userID() }}</span>
	</nav>
	<div class="flex items-center h-9 mt-2 space-x-4">
		<span class="font-semibold leading-6 text-lg">Клиент {% if user.name %}{{ user.name }}{% else %}{{ user.email }}{% endif %}</span>
		<span class="px-3 pt-0.5 pb-1 rounded-full text-xs font-medium
		{% for val, css in user_statuses %}
			{% if user.status == val %}bg-{{ css }}-100 text-{{ css }}-800 {% endif %}
		{% endfor %}
		">{{ user.status }}</span>
	</div>
</div>

<nav class="bg-gray-50 border-b px-8">
	<div class="-mb-px flex pt-4 space-x-8">
		{% for tab in tabs %}
			<a href="/clients/{{ tab.eng }}" class="pb-[14px] border-b-2 text-sm font-medium leading-5 hover:border-gray-300 hover:text-gray-700 {% if currentTab == tab.eng %} border-indigo-500 text-indigo-600 pointer-events-none{% else %} text-gray-500 border-transparent {% endif %}">{{ tab.rus }}</a>
		{% endfor %}
	</div>
</nav>

{% set pinned_notes = ['Ipsum lacus id gravida venenatis velit cursus aliquet eros. Massa at habitant potenti senectus id pretium faucibus. Odio libero placerat lectus lectus eget tortor scelerisque tincidunt. Sed ultricies consequat interdum vel mauris nunc. Orci fermentum consequat semper tortor. Enim adipiscing donec lobortis elit libero vivamus. Leo magna donec gravida dictum platea. Aliquam vehicula augue cursus pharetra nunc praesent ornare.', 'Nisl ut enim cursus nisi. Pulvinar id diam hac ipsum pharetra diam vulputate.'] %}

{% if currentTab != 'notes' %}

	<div class="mt-6 px-8 space-y-2">
		{% for i in pinned_notes %}
			<div class="flex bg-yellow-50 rounded-lg py-4 px-6 space-x-4 ">
				<div>
					{{ source('misc/svg/important.svg') }}
				</div>
				<p class="text-sm text-gray-700 line-clamp-3">{{ i }}</p>
			</div>
		{% endfor %}
	</div>

{% endif %}
