<div class="bg-gray-50 mx-auto px-4 sm:px-6 lg:px-8">
	<nav class="pt-4 flex items-center text-sm text-gray-500 font-medium">
		<a href="{{ path('clients') }}">Клиенты</a>
		<span class="ml-3">
            <svg width="20" height="20" viewBox="0 -1 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.29289 14.7071C6.90237 14.3166 6.90237 13.6834 7.29289 13.2929L10.5858 10L7.29289 6.70711C6.90237 6.31658 6.90237 5.68342 7.29289 5.29289C7.68342 4.90237 8.31658 4.90237 8.70711 5.29289L12.7071 9.29289C13.0976 9.68342 13.0976 10.3166 12.7071 10.7071L8.70711 14.7071C8.31658 15.0976 7.68342 15.0976 7.29289 14.7071Z" fill="#9CA3AF"/>
            </svg>
        </span>
		<span class="ml-3">Клиент #</span>
	</nav>
	<div class="flex items-center h-12 mt-2 space-x-4">
		<span class="font-semibold text-lg">Клиент Lex Stark</span>
		<span class="px-3 pt-0.5 pb-1 rounded-full text-xs font-medium bg-green-100 text-green-800">Active</span>
	</div>
</div>

{% set arr = [
	{'eng': 'overview', 'rus': 'Обзор', 'val': 0},
	{'eng': 'profile', 'rus': 'Профиль', 'val': 0},
	{'eng': 'services', 'rus': 'Услуги', 'val': 0},
	{'eng': 'invoices', 'rus': 'Инвойсы', 'val': 0},
	{'eng': 'tickets', 'rus': 'Тикеты', 'val': 1},
	{'eng': 'credits', 'rus': 'Кредиты', 'val': 99.5},
	{'eng': 'transactions', 'rus': 'Транзакции', 'val': 0},
	{'eng': 'emails', 'rus': 'Письма', 'val': 3},
	{'eng': 'notes', 'rus': 'Заметки', 'val': 0}
] %}

<nav class="bg-gray-50 border-b-2 mx-auto pb-1 px-4 sm:px-6 lg:px-8">
	<div class="inline-block sm:flex sm:h-12 sm:space-x-8">

		{% for nav in arr %}

			<a href="/clients/{{ nav.eng }}" class="block sm:inline-flex max-sm:mb-3 items-center border-b-2 border-transparent text-sm text-gray-500 hover:border-gray-300 hover:text-gray-700 {% if currentTab == nav.eng %} border-indigo-600 text-indigo-600 pointer-events-none {% endif %}">
				<span>{{ nav.rus|capitalize }}</span>
				{% if nav.val %}
					<span class="inline-flex items-center ml-2 px-2.5 py-0.5 rounded-md text-xs font-medium {% if currentTab == nav.eng %} bg-indigo-100 text-indigo-600 {% else %} bg-gray-100 text-gray-800 {% endif %}">{% if nav.eng == 'credits' %}${% endif %}{{ nav.val }}</span>
				{% endif %}
			</a>

		{% endfor %}

	</div>
</nav>

{% if currentTab != 'notes' %}

	<div class="max-w-7xl mt-6 px-4 sm:px-6 lg:px-8">
		<div class="grid grid-cols-3 gap-x-2">
			<div class="flex items-center bg-yellow-50 rounded-lg py-5 px-6 space-x-4 ">
				<p class="text-sm text-gray-700 line-clamp-3">Ipsum lacus id gravida venenatis velit cursus aliquet eros. Massa at habitant potenti senectus id pretium faucibus. Odio libero placerat lectus lectus eget tortor scelerisque tincidunt. Sed ultricies consequat interdum vel mauris nunc. Orci fermentum consequat semper tortor. Enim adipiscing donec lobortis elit libero vivamus. Leo magna donec gravida dictum platea. Aliquam vehicula augue cursus pharetra nunc praesent ornare.</p>
				<a href="{{ path('notes') }}">
					<svg class="shrink-0 text-gray-500 hover:text-gray-900" width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M7.62639 14.7071C7.23587 14.3166 7.23587 13.6834 7.62639 13.2929L10.9193 10L7.62639 6.70711C7.23587 6.31658 7.23586 5.68342 7.62639 5.29289C8.01691 4.90237 8.65008 4.90237 9.0406 5.29289L13.0406 9.29289C13.4311 9.68342 13.4311 10.3166 13.0406 10.7071L9.0406 14.7071C8.65008 15.0976 8.01691 15.0976 7.62639 14.7071Z" fill="currentColor"/>
					</svg>
				</a>
			</div>
			<div class="flex items-center bg-yellow-50 rounded-lg py-5 px-6 space-x-4">
				<div class="text-sm text-gray-700 line-clamp-3">Nisl ut enim cursus nisi. Pulvinar id diam hac ipsum pharetra diam vulputate.</div>
				<a href="{{ path('notes') }}">
					<svg class="shrink-0 text-gray-500 hover:text-gray-900" width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M7.62639 14.7071C7.23587 14.3166 7.23587 13.6834 7.62639 13.2929L10.9193 10L7.62639 6.70711C7.23587 6.31658 7.23586 5.68342 7.62639 5.29289C8.01691 4.90237 8.65008 4.90237 9.0406 5.29289L13.0406 9.29289C13.4311 9.68342 13.4311 10.3166 13.0406 10.7071L9.0406 14.7071C8.65008 15.0976 8.01691 15.0976 7.62639 14.7071Z" fill="currentColor"/>
					</svg>
				</a>
			</div>
			<div class="flex items-center bg-yellow-50 rounded-lg py-5 px-6 space-x-4">
				<div class="text-sm text-gray-700 line-clamp-3">Ipsum lacus id gravida venenatis velit cursus aliquet eros.</div>
				<a href="{{ path('notes') }}">
					<svg class="shrink-0 text-gray-500 hover:text-gray-900" width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M7.62639 14.7071C7.23587 14.3166 7.23587 13.6834 7.62639 13.2929L10.9193 10L7.62639 6.70711C7.23587 6.31658 7.23586 5.68342 7.62639 5.29289C8.01691 4.90237 8.65008 4.90237 9.0406 5.29289L13.0406 9.29289C13.4311 9.68342 13.4311 10.3166 13.0406 10.7071L9.0406 14.7071C8.65008 15.0976 8.01691 15.0976 7.62639 14.7071Z" fill="currentColor"/>
					</svg>
				</a>
			</div>
		</div>
	</div>

{% endif %}