{% macro status_link(link, val, css) %}
	<a href="{{ link }}" class="flex items-center py-2 pl-2.5 pr-3 rounded-md space-x-3.5 text-gray-300 hover:bg-gray-700">
		<div class="shrink-0 w-5 h-5 grid place-content-center">
			<div class="w-2.5 h-2.5 rounded-full bg-{{ css }}-400"></div>
		</div>
		<span class="text-sm text-{{ css }}-400 font-medium truncate">{{ val }}</span>
	</a>
{% endmacro %}

{% macro button(name_eng, menu_item, icon, name_rus) %}
	<button @click="menuButtonClick" class="group w-full flex items-center p-2 space-x-3 rounded-md hover:bg-gray-700 {{ name_eng not in (menu_item | split(':')) ? 'text-gray-400' }}" type="button"
		{% if name_eng in menu_item | split(':') %} :class="!menuIsOpened ? 'bg-gray-900 text-white' : 'text-gray-400'" {% endif %}
		    aria-expanded="{% if name_eng in menu_item | split(':') %}true{% else %}false{% endif %}">
		<span class="group-hover:text-white">{{ source(icon) }}</span>
		<span v-if="menuIsOpened" class="grow text-gray-300 text-white text-sm text-left font-medium">{{ name_rus }}</span>
		<span v-if="menuIsOpened" class="arrow duration-200">{{ source('assets/images/aside/arrow.svg') }}</span>
	</button>
{% endmacro %}

{% import _self as nav %}

{% if not side_menu_item %} {% set side_menu_item = 'homepage' %} {% endif %}

{% set separator %}
	<div class="py-2 ml-11">
		<div class="h-px w-full bg-gray-700"></div>
	</div>
{% endset %}

{% block aside %}

		<div :class="!!menuIsOpened ? 'w-64': 'w-14'" class="aside-menu z-10 duration-200 overflow-x-hidden">
			<div class="relative flex items-center justify-between pt-4 px-2">
				<div class="w-10 h-10">
					<button class="p-2 text-gray-400 hover:text-white" @click="toggleMenu">
						{{ source('assets/images/aside/menu.svg') }}
					</button>
				</div>
				<div :class="!!menuIsOpened ? 'opacity-100 transition duration-200 ease-in-out': 'opacity-0'" class="w-10 h-10 grid place-content-center">
					{{ source('assets/images/aside/logo.svg') }}
				</div>
				<div class="w-10 h-10"></div>
			</div>

			<div class="flex flex-col flex-1 my-4 px-2 space-y-1 overflow-y-auto duration-200 overflow-x-hidden">
				<div>
{#					@TODO Fix classes and conditions (all buttons)#}

					{{ nav.button('clients', side_menu_item, 'assets/images/aside/clients.svg', 'Клиенты') }}

					<div v-if="menuIsOpened" class="my-1 space-y-1 overflow-x-hidden">
						<a href="{{ path('clients') }}" class="block py-2 pl-11 pr-3 rounded-md text-gray-300 text-sm font-medium truncate hover:bg-gray-700 {{ side_menu_item == 'clients:list' ? 'bg-gray-900' }}">Список</a>

						<a href="{{ path('letters') }}" class="block py-2 pl-11 pr-3 rounded-md text-gray-300 text-sm font-medium truncate hover:bg-gray-700 {{ side_menu_item == 'clients:letters' ? 'bg-gray-900' }}">Письма</a>

						<a href="#" class="block py-2 pl-11 pr-3 rounded-md text-gray-300 text-sm font-medium truncate hover:bg-gray-700">Логи</a>
					</div>
				</div>

				<div>
					{{ nav.button('orders', side_menu_item, 'assets/images/aside/orders.svg', 'Заказы') }}

					<div v-if="menuIsOpened" class="my-1 space-y-1 overflow-x-hidden">
						<a href="#" class="block py-2 pl-11 pr-3 rounded-md text-gray-300 text-sm font-medium truncate hover:bg-gray-700">Новые заказы</a>

						<a href="{{ path('orders') }}" class="block py-2 pl-11 pr-3 rounded-md text-gray-300 text-sm font-medium truncate hover:bg-gray-700 {{ side_menu_item == 'orders:list' ? 'bg-gray-900' }}">Все заказы</a>

						<a href="{{ path('new_order') }}" class="group flex items-center py-2 pl-2.5 pr-3 rounded-md space-x-3.5 text-gray-300 hover:bg-gray-700 {{ side_menu_item == 'orders:new_order' ? 'bg-gray-900' }}">
							<span class="group-hover:text-white">{{ source('assets/images/aside/plus.svg') }}</span>
							<span class="text-sm font-medium truncate">Новый заказ</span>
						</a>

						{{ separator }}

						{% for val, css in order_statuses %}
							{{ nav.status_link('#', val, css) }}
						{% endfor %}
					</div>
				</div>

				<div>
					{{ nav.button('billing', side_menu_item, 'assets/images/aside/billing.svg', 'Биллинг') }}

					<div v-if="menuIsOpened" class="my-1 space-y-1 overflow-x-hidden">
						<a href="{{ path('billing_transactions') }}" class="block py-2 pl-11 pr-3 rounded-md text-gray-300 text-sm font-medium truncate hover:bg-gray-700 {{ side_menu_item == 'billing:transactions' ? 'bg-gray-900' }}">Транзакции</a>

						{{ separator }}

						<a href="{{ path('billing_invoices') }}" class="block py-2 pl-11 pr-3 rounded-md text-gray-300 text-sm font-medium truncate hover:bg-gray-700 {{ side_menu_item == 'billing:invoices' ? 'bg-gray-900' }}">Инвойсы</a>

						<a href="{{ path('billing_payments') }}" class="block py-2 pl-11 pr-3 rounded-md text-gray-300 text-sm font-medium truncate hover:bg-gray-700 {{ side_menu_item == 'billing:payments' ? 'bg-gray-900' }}">Платежи</a>

						<a href="{{ path('billing_new_invoice') }}" class="group flex items-center py-2 pl-2.5 pr-3 rounded-md space-x-3.5 text-gray-300 hover:bg-gray-700 {{ side_menu_item == 'billing:new_invoice' ? 'bg-gray-900' }}">
							<span class="group-hover:text-white">{{ source('assets/images/aside/plus.svg') }}</span>
							<span class="text-sm font-medium truncate">Новый инвойс</span>
						</a>
					</div>
				</div>

				<div>
					{{ nav.button('support', side_menu_item, 'assets/images/aside/support.svg', 'Поддержка') }}

					<div v-if="menuIsOpened" class="my-1 space-y-1 overflow-x-hidden">
						<a href="{{ path('support_tickets') }}" class="block py-2 pl-11 pr-3 rounded-md text-gray-300 text-sm font-medium truncate hover:bg-gray-700 {{ side_menu_item == 'support:tickets' ? 'bg-gray-900' }}">Тикеты</a>

						<a href="{{ path('new_ticket') }}" class="group flex items-center py-2 pl-2.5 pr-3 rounded-md space-x-3.5 text-gray-300 hover:bg-gray-700 {{ side_menu_item == 'support:new_ticket' ? 'bg-gray-900' }}">
							<span class="group-hover:text-white">{{ source('assets/images/aside/plus.svg') }}</span>
							<span class="text-sm font-medium truncate">Новый тикет</span>
						</a>

						{{ separator }}

						<a href="#" class="block py-2 pl-11 pr-3 rounded-md text-gray-300 text-sm font-medium truncate hover:bg-gray-700">Все активные</a>

						<a href="#" class="block py-2 pl-11 pr-3 rounded-md text-gray-300 text-sm font-medium truncate hover:bg-gray-700">Неназначенные</a>

						{% for val, css in ticket_statuses %}
							{{ nav.status_link(path('support_tickets', { sort:val }), val, css) }}
						{% endfor %}
					</div>
				</div>

				<div>
					{{ nav.button('settings', side_menu_item, 'assets/images/aside/settings.svg', 'Настройки') }}

					<div v-if="menuIsOpened" class="my-1 space-y-1 overflow-x-hidden">
						<a href="{{ path('settings_admins') }}" class="block py-2 pl-11 pr-3 rounded-md text-gray-300 text-sm font-medium truncate hover:bg-gray-700 {{ side_menu_item == 'settings:admins' ? 'bg-gray-900' }}">Админы</a>

						<a href="{{ path('settings_answers') }}" class="block py-2 pl-11 pr-3 rounded-md text-gray-300 text-sm font-medium truncate hover:bg-gray-700 {{ side_menu_item == 'settings:answers' ? 'bg-gray-900' }}">Быстрые ответы</a>

						{{ separator }}

						<a href="{{ path('settings_autosetup') }}" class="block py-2 pl-11 pr-3 rounded-md text-gray-300 text-sm font-medium truncate hover:bg-gray-700 {{ side_menu_item == 'settings:autosetup' ? 'bg-gray-900' }}">Автосетап</a>
					</div>
				</div>

{#				<a href="#" class="w-full flex items-center p-2 space-x-3 rounded-md text-gray-400 hover:bg-gray-700 hover:text-white">#}
{#					{{ source('assets/images/aside/search.svg') }}#}
{#					<span v-if="menuIsOpened" class="text-gray-300 text-sm font-medium">Поиск</span>#}
{#				</a>#}
			</div>

			<button @click="menuButtonClick" class="popover__wrapper relative w-full group flex items-center p-4 space-x-3 bg-gray-700 text-gray-300 hover:bg-gray-600" aria-expanded="false" aria-expanded-autohide>
				<span class="group-hover:text-white">{{ source('assets/images/aside/user.svg') }}</span>
				<span :class="!!menuIsOpened ? 'block': 'hidden'" class="grow text-gray-300 text-sm text-left font-medium">Аккаунт</span>
				<span :class="!!menuIsOpened ? 'block': 'hidden'">{{ source('assets/images/aside/up-down.svg') }}</span>

				<div v-if="!menuIsOpened" class="popover__left w-fit bottom-14 -left-1 py-2 px-3 bg-gray-900 text-gray-100 text-xs rounded-lg whitespace-nowrap">
					<p>Авторизован как</p>
					<p class="font-medium">valeriy-burdaleyba@mail.com</p>
				</div>
			</button>

			<div class="absolute z-20 w-[248px] bottom-[60px] left-1 rounded-md bg-white">
				<div class="px-4 py-3 border-b text-sm">
					<p>Авторизован как</p>
					<p class="font-medium truncate">valeriy-burdaleyba@mail.com</p>
				</div>
				<a href="{{ path('app_index') }}" class="flex w-full py-2 px-4 space-x-3 rounded-b-md text-gray-500 hover:text-red-500 hover:bg-red-50">
					{{ source('assets/images/aside/logout.svg') }}
					<span class="text-sm">Выход</span>
				</a>
			</div>
		</div>

{% endblock %}
