<div class="rounded-lg text-sm {% if message.type == 'user_message' %}bg-gray-50{% elseif message.type == 'admin_note' %}bg-yellow-50 {% if currentTab != 'notes' %}ml-9{% endif %}{% elseif message.type == 'admin_message' %}bg-green-50 ml-9{% endif %}">
	<div class="flex items-center justify-between py-5 px-6">
		<div>
			<p class="font-medium">{% if message.type == 'admin_note' %}Заметка от {% endif %}{{ message.name }}{% if message.type == 'admin_message' %} Message{% endif %}</p>
			<p class="text-xs leading-5 {% if message.type == 'user_message' %}text-gray-800{% elseif message.type == 'admin_note' %}text-yellow-800{% elseif message.type == 'admin_message' %}text-green-800{% endif %}">{{ message.date }}, {{ message.time }} {{ message.loc }}</p>
			{% if message.ip %}<p class="text-xs">{{ message.ip }}</p>{% endif %}
		</div>
		<div class="flex items-center space-x-1">
			<button type="button" class="p-2.5 rounded-md text-gray-800 hover:bg-{% if message.type == 'admin_note' %}yellow{% elseif message.type == 'admin_message' %}green{% else %}gray{% endif %}-100">
				{{ source('assets/images/quote.svg') }}
			</button>
			<button type="button" class="p-2.5 rounded-md text-gray-800 hover:bg-{% if message.type == 'admin_note' %}yellow{% elseif message.type == 'admin_message' %}green{% else %}gray{% endif %}-100">
				{{ source('assets/images/pencil.svg') }}
			</button>
			{% if message.type != 'user_message' %}
			<button {% if message.type == 'admin_note' %}@click="supportTicketNoteDelete()"{% elseif message.type == 'admin_message' %}@click="supportTicketAdminAnswerDelete()"{% endif%} type="button" class="p-2.5 rounded-md text-gray-800 hover:bg-{% if message.type == 'admin_note' %}yellow{% elseif message.type == 'admin_message' %}green{% else %}gray{% endif %}-100">
				{{ source('assets/images/bucket.svg') }}
			</button>
			{% endif %}
		</div>
	</div>
	<div class="pb-5 px-6 space-y-4 text-gray-700">
		{% for item in message.content %}
			{% if item starts with 'http' %}
				<a href="{{ item }}" target="_blank" class="text-indigo-800 hover:text-indigo-900">{{ item }}</a>
			{% else %}
				<div >{{ item|raw }}</div>
			{% endif %}
		{% endfor %}
		{% if message.filename %}
			<div class="w-fit py-2 px-3 rounded-full flex items-center {% if message.type == 'user_message' %}text-gray-400 bg-gray-100{% elseif message.type == 'admin_note' %}text-yellow-400 bg-yellow-100{% elseif message.type == 'admin_message' %}text-green-400 bg-green-100{% endif %}">
				{{ source('assets/images/documents.svg') }}
				<span class="ml-3 text-sm font-medium {% if message.type == 'user_message' %}text-gray-800{% elseif message.type == 'admin_note' %}text-yellow-800{% elseif message.type == 'admin_message' %}text-green-800{% endif %}">{{ message.filename }}</span>
			</div>
		{% endif %}
	</div>
</div>
