<div class="texteditor flex p-2 space-x-2 border-b border-gray-300">
	<button type="button" class="flex items-center space-x-1">
		<span class="text-gray-600 text-sm">Paragraph</span>
		{{ source('assets/images/texteditor/arrows.svg') }}
	</button>
	<div class="flex items-center space-x-0.5 text-sm text-gray-500">
		<button type="button" class="w-9 font-semibold">B</button>
		<button type="button" class="w-9 italic">I</button>
		<button type="button" class="w-9 font-medium underline">U</button>
		<button type="button" class="w-9 font-medium line-through">S</button>
	</div>
	<div class="flex items-center space-x-0.5">
		<button type="button">
			{{ source('assets/images/texteditor/ul.svg') }}
		</button>
		<button type="button">
			{{ source('assets/images/texteditor/ol.svg') }}
		</button>
	</div>
	<div class="flex items-center space-x-0.5">
		<button type="button">
			{{ source('assets/images/texteditor/img.svg') }}
		</button>
		<button type="button">
			{{ source('assets/images/texteditor/link.svg') }}
		</button>
		<button type="button">
			{{ source('assets/images/texteditor/code.svg') }}
		</button>
		<button type="button">
			{{ source('assets/images/texteditor/quote.svg') }}
		</button>
	</div>
</div>
